<!-- begin search-full__bar -->
<form class="search-full__bar">

  
  <div class="search-full__bar-enter">
    <button class="search-full__bar-enter__search">
      <svg class="icon icon-search2">
        <use xlink:href="img/sprite.svg#icon-search2"></use>
      </svg>
    </button>
    <input type="text" class="search-full__bar-input js-main-search" placeholder="поиск по бренду или ключевому слову" />
    
  </div>
  <div class="search-full__bar-clear is-mobile js-clear-search">
      
    <svg class="icon icon-close">
      <use xlink:href="img/sprite.svg#icon-close"></use>
    </svg>

  </div>


  <div class="search-full__bar-filter">
    <button class="search-full__bar-filter__button js-show-main-filter">
      <span>фильтр</span>
      <svg class="icon icon-chev-b">
        <use xlink:href="img/sprite.svg#icon-chev-b"></use>
      </svg>
    </button>
   
    {% include "components/search/_drop-filter.html" %}
 
  </div>

  <div class="search-full__bar-search">
    <button type="submit">Искать</button>
  </div>

  

  
</form>
<!-- end search-full__bar -->
     <!-- begin search-full__drop-tags -->
     <div class="search-full__drop-tags">
      {% for i in range(0, 10) %}
        <span class="search-full__drop-tags__item">
          <span>Новинки </span>  <svg class="icon icon-close">
            <use xlink:href="img/sprite.svg#icon-close"></use>
          </svg>
        </span>
        <span class="search-full__drop-tags__item">
          <span>Bottega Veneta </span> <svg class="icon icon-close">
            <use xlink:href="img/sprite.svg#icon-close"></use>
          </svg>
        </span>
      {% endfor %}
      
    </div>
    <!-- end search-full__drop-tags -->