<!-- begin search-full__body -->
<div class="search-full__body">

  <div class="uk-container">
    
    {% include "components/search/_bar-n.html" %}
    <div class="uk-width-expand uk-grid uk-child-width-1-4@l uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-medium-card search-full__body--container" uk-grid>

      {% for item in filter.cardItemsFilter %}
        <div class="">{% include "components/_card-item.html" %}</div>
      {% endfor %}

    </div>
  </div>


  
</div>
<!-- end search-full__body -->