
 
<div class="search-full__drop js-dropdown-filter-main" data-select-filters="true">

  <!-- begin search-full__drop-body -->
  <div class="search-full__drop-body js-dropdown-filter-main-body  " >

    <div class="uk-grid uk-grid-collapse search-full__drop-body--border-bottom" uk-grid>
      <div class="uk-width-1-5@m uk-width-1-1@s">
        {% include "components/search/drop-filters/_cat.html" %}
      </div>
      <div class="uk-width-1-5@m uk-width-1-1@s">
        {% include "components/search/drop-filters/_group.html" %}
      </div>
      <div class="uk-width-1-5@m uk-width-1-1@s">
        {% include "components/search/drop-filters/_brand.html" %}
      </div>
      <div class="uk-width-1-5@m uk-width-1-1@s">
        {% include "components/search/drop-filters/_size.html" %}
      </div>
      <div class="uk-width-1-5@m uk-width-1-1@s">
        {% include "components/search/drop-filters/_color.html" %}
      </div>
    </div>

    <div class="uk-grid uk-grid-collapse" uk-grid>
      <div class="uk-width-1-5@m uk-width-1-1@s">
        {% include "components/search/drop-filters/_type.html" %}
      </div>
      <div class="uk-width-2-5@m uk-width-1-1@s">
        {% include "components/search/drop-filters/_price.html" %}
      </div>
    </div>
   
  
  </div>
  <!-- end search-full__drop-body -->
</div>