<footer class="footer is-desktop">

  <div class="uk-container">
    <!-- begin footer__inner -->
    <div class="footer__inner  " >

      <div class="uk-grid" uk-grid>
        <div class="uk-width-2-5@m uk-width-1-1@s">
          <div class="footer__logo">
            <a href="">
              <img src="./img/logo.png" alt="">
            </a>
          </div>
          <div class="footer__description">
            <p>Существующий с середины 60-х годов бренд Sergio Rossi представляет уникальную обувь. Покупайте, не стесняйтесь. Самое лучшее. </p>
            <p class="bold">Support: 0 800 300 10 20, <a href="">support@chipeer.com</a></p>
          </div>
          <div class="footer__social">
            <div class="social">
              <a href="" class="social__item">
                <svg class="icon icon-insta">
                  <use xlink:href="img/sprite.svg#icon-insta"></use>
                </svg>
              </a>
              <a href="" class="social__item">
                <svg class="icon icon-facebook">
                  <use xlink:href="img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
              <a href="" class="social__item">
                <svg class="icon icon-vk">
                  <use xlink:href="img/sprite.svg#icon-vk"></use>
                </svg>
              </a>
              <a href="" class="social__item">
                <svg class="icon icon-twitter">
                  <use xlink:href="img/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="footer__copyright">
           <span>©</span>   2019  All rights reserved
          </div>
        </div>
        
        <div class="uk-width-3-5@m uk-width-1-1@s">
          <div class="footer__search">
            <form action="" class="footer__search-form">
              <input type="text" class="footer__search-input"> 
              <button class="btn btn__black btn__uppercase">найти</button>
            </form>
          </div>
          <div class="footer__lists">
            <div class="uk-grid uk-child-width-1-4@m uk-child-width-1-1@s" uk-grid>
              <div class="uk-flex uk-flex-column">
                <div class="footer__lists-title">Лента</div>
                <ul class="footer__lists-list">
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Lorem ipsum</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Aliquam</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Ultrices</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Donec non</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Praesent</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Ultrices nulla</a>
                  </li>
                </ul>
              </div>
              <div class="uk-flex uk-flex-column">
                <div class="footer__lists-title">Шопинг</div>
                <ul class="footer__lists-list">
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Lorem ipsum</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Aliquam</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Ultrices</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Donec non</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Praesent</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Ultrices nulla</a>
                  </li>
                </ul>
              </div>
              <div class="uk-flex uk-flex-column">
                <div class="footer__lists-title">Биржа заказов</div>
                <ul class="footer__lists-list">
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Lorem ipsum</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Aliquam</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Ultrices</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Donec non</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Praesent</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Ultrices nulla</a>
                  </li>
                </ul>
              </div>
              <div class="uk-flex uk-flex-column">
                <div class="footer__lists-title">Пригласи и заработай</div>
                <ul class="footer__lists-list">
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Lorem ipsum</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Aliquam</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Ultrices</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Donec non</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Praesent</a>
                  </li>
                  <li class="footer__lists-item">
                    <a href="" class="footer__lists-link">Ultrices nulla</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>


      
    </div>
    <!-- end footer__inner -->
  </div>

</footer>


<!-- BEGIN MODALS -->
