<!-- begin search-full__header -->
<div class="search-full__header">
  <div class="uk-container">

    <div class="header__inner">
          <!-- begin header-logo -->
          <div class="header__logo">
            <a href="">
              <img src="./img/logo.png" alt="">
            </a>
          </div>
          <!-- end header-logo -->
          
        <div class="search-full__close">
          <button class="uk-modal-close-full" type="button" uk-close>
            
          </button>
        </div>

    </div>

  </div>
</div>
<!-- end search-full__header -->