<!-- begin aside-filter__item -->
<div class="aside-filter__item">

  <div class="aside-filter__head">
    <div class="aside-filter__title">Категории</div>
    <svg class="icon icon-plus">
      <use xlink:href="img/sprite.svg#icon-plus"></use>
    </svg>
  </div>

  <!-- begin aside-filter__body -->
  <div class="aside-filter__body ">

    <div class="aside-filter__body-item">
      
      <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox" /> <span>Все</span> </label>
    </div>
    <div class="js-accordion-filter-cat">

   
    {% for item in filter.filterCat %}
    <!-- BEGIN aside-filter__body-item -->
    <div class="aside-filter__body-item">
      <div class="aside-filter__body-head">
        <svg class="icon icon-chev-b">
          <use xlink:href="img/sprite.svg#icon-chev-b"></use>
        </svg>
        <div class="aside-filter__body-title">{{item.title}}</div>
      </div>
      <!-- begin aside-filter__body-body -->
      <div class="aside-filter__body-body">

        {% for item in item.list %}

        <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox" /> <span>{{item.text}}</span> </label>

        {% endfor %}
        
      </div>
    </div>
    
    <!-- end aside-filter__body-body -->
    {% endfor %}
  </div>
  </div>
  <!-- end aside-filter__body -->
  
</div>
<!-- end aside-filter__item -->