
// Arimo
+font-face('Arimo','Arimo', '../fonts/arimo', $weight: normal, $style: normal, $asset-pipeline: false ) 
+font-face('Arimo','Arimo', '../fonts/arimobold', $weight: bold, $style: normal, $asset-pipeline: false ) 
// AGGloriaC
+font-face('AGG','AGG', '../fonts/AGGloriaC', $weight: normal, $style: normal, $asset-pipeline: false ) 
+font-face('AGG','AGG', '../fonts/AGGloriaC-Bold', $weight: bold, $style: normal, $asset-pipeline: false ) 
//Nitti
+font-face('Nitti','Nitti', '../fonts/Nitti-Normal', $weight: normal, $style: normal, $asset-pipeline: false ) 
+font-face('Nitti','Nitti', '../fonts/Nitti-Bold', $weight: bold, $style: normal, $asset-pipeline: false ) 


=arimo() 
  font-family: 'Arimo', sans-serif 
=nitti() 
  font-family: 'Nitti', sans-serif
=agg() 
  font-family: 'AGG', sans-serif

body
  +arimo
  font-weight: normal
  font-style: normal
  font-display: swap

.default-link
  font-size: 14px
  line-height: 1.56
  color: $black
  text-decoration: none
  border-bottom: 1px solid #1C1C1C
  +nitti
  &:hover
    text-decoration: none
    color: $black
  + .link-diviver
    font-size: 12px
    line-height: 1.79
    margin: 0 5px
    color: $dark
    +nitti
.t-center
  display: flex
  width: 100%
  justify-content: center
  text-align: center
.t-upper
  text-transform: uppercase !important

.bold
  font-weight: bold

.t-normal
  text-transform: none !important
.t-default
  font-family: 'Arimo', sans-serif  !important


.small-title
  font-size: 18px
  font-weight: bold
  +nitti
  color: $dark
  text-transform: uppercase
  line-height: 1

.link
  &.orange
    font-size: 18px
    line-height: 26px
    color: #F2521C

.link-big
  +nitti
  font-size: 18px
  line-height: 25px
  text-decoration-line: underline
  text-transform: uppercase

  color: #1C1C1C

.middle-heading
  font-size: 24px
  +nitti
  text-transform: uppercase
  text-align: center
  padding-top: 45px
  padding-bottom: 10px
  margin-bottom: 25px !important
  border-bottom: 1px solid #1c1c1c

.color-dark
  color: #1c1c1c

.size-medium
  font-size: 14px

