.out
  min-height: 100vh
  display: flex
  flex-direction: column
  +r($mobbig)
    overflow: hidden
    padding-bottom: 75px

body
  overflow-x: hidden

.darknes
	position: fixed
	left: 0
	top: 0
	bottom: 0
	right: 0
	background: rgba(0,0,0,0)
	transition: all .15s ease-out
	z-index: 5
	display: none
	&.is-active
		display: block
		background: rgba(0,0,0,.5)
  

.uk-container
  width: 100%
  box-sizing: border-box
  max-width: 1250px

.main-head
  padding-top: 27px
  padding-bottom: 27px
  &__top
    +r($mobbig)
      margin: 0
      padding: 0
      
      margin-bottom: 23px
      position: relative
      left: 15px
      max-width: 100vw
      width: 100vw
      .mobile-button
        width: 50%
        border-bottom: 1px solid $dark
        border-left: 1px solid $dark
        &:first-of-type
          border-left: none
        &.is-active
          background: #1C1C1C
          color: $white
          svg
            fill: $white
.uk-child-top-gap
  > *
    margin-top: 0 !important

.uk-grid-medium-card
  margin-left: -18px
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  align-content: flex-start
  > *
    padding-left: 18px
  > .uk-grid-margin
    margin-top: 30px

.is-hide
  display: none

+rmin($mobbig)
  .is-mobile
    display: none !important

+r($mobbig)
  .is-desktop
    display: none !important

+r(1199)
  .is-desktop-big
    display: none

.uk-container
  +r($mobbig)
    padding-left: 15px
    padding-right: 15px