---
title: Create product 2

---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header-login.html" %}
  <div class="uk-container">

    <div class="uk-grid uk-child-top-gap" uk-grid>
    
      <div class="uk-width-1-1 uk-flex uk-flex-between uk-flex-middle main-head">

        <ul class="uk-breadcrumb">
          <li><a href="">Главная</a></li>
          <li><span>Профиль</span></li>
        </ul>
        

      </div>

      <div class="uk-width-1-1">

        <!-- begin checkout-wrapper -->
        <div class="checkout-wrapper uk-grid-collapse uk-grid" uk-grid>

          <div class="uk-width-2-3@m uk-width-1-1@s uk-grid-collapse uk-grid checkout_flex-top uk-flex-column" uk-grid>

            <!-- begin checkout__item -->
            <div class="uk-width-1-1">
              <div class="checkout__item">
                <div class="checkout__title">Детали заказа</div>

              </div>
              
            </div>
            <!-- end checkout__item -->

            <!-- begin checkout__item -->
            <div class=" uk-width-1-1">

              <div class="checkout__item">              <div class="checkout__subtitle">3. Способ оплаты</div>
            </div>

              
            </div>
            <!-- end checkout__item -->

            <div class="uk-width-1-1 uk-flex-1">
              <!-- begin checkout__delivery -->
              <form class="checkout__delivery uk-grid-collapse uk-grid checkout_flex-top " uk-grid>

                <div class="uk-width-1-2@m uk-width-1-1@s">

                  <div class="checkout__products-item checkout__products-item__no-border checkout_flex-top">

                    <div class="checkout__products-title">Оплатить с помощью</div>

                    <div class="checkout__delivery-type">
                      <label class="label-select">
                        <input type="radio" name="pay-type" checked id="">

                        <span class="label-select__side label-select__side-row">
                          <span>Кредитная карта</span>
                        </span>
                        
                      </label>
                    </div>
                    <div class="checkout__delivery-type">
                      <label class="label-select">
                        <input type="radio" name="pay-type" id="">

                        <span class="label-select__side label-select__side-row">
                          <span>Paypal</span>
                          <span class="icon icon-paypal"><img src="./icons/Paypal.png" alt="">
                          </span>
                        </span>
                      </label>
                    </div>
                    <div class="checkout__delivery-type">
                      <label class="label-select">
                        <input type="radio" name="pay-type" id="">

                        <span class="label-select__side label-select__side-row">
                          <span>Cash on delivery</span>
                          <span class="icon icon-delivery">                          <img src="./icons/delivery2.png" alt="">
                          </span>
                        </span>
                      </label>
                    </div>



                  </div>

                </div>
                <div class="uk-width-1-2@m uk-width-1-1@s">

                  <div class="checkout__products-item checkout_flex-top">

                    <div class="checkout__products-title">Получатель</div>
                    <div class="checkout__products-descr">цифры на лицевой стороне вашей карты</div>

                    <!-- begin checkout-pay__item -->
                    <div class="checkout-pay__item  checkout-pay__item__bordered">
                      <div class="checkout-pay__card-img">
                        <!-- <img src="./icons/visaicon.png" alt=""> -->
                      </div>
                      <input type="text" inputmode="numeric" class="form__input-clear js-card-input" placeholder="1234 5678 9101 1123">
                    </div>
                    <!-- end checkout-pay__item -->
 
                    <div class="checkout__products-title">Дата окончания срока</div>
                    <div class="checkout__products-descr">Дата истечения срока действия вашей карты</div>

                     <!-- begin checkout-pay__item -->
                     <div class="checkout-pay__item">
                      <input type="text" inputmode="numeric" class="form__input-clear input-date-card js-card-date-input" placeholder="MM  /  YYYY">
                    </div>
                    <!-- end checkout-pay__item -->

                    <div class="checkout__products-title">Код безопасности</div>
                    <div class="checkout__products-descr">3 цифры с обратной</div> 

                     <!-- begin checkout-pay__item -->
                     <div class="checkout-pay__item">
                      <input type="text" inputmode="numeric" class="form__input-clear input-ccv-card js-card-ccv-input" >
                      
                      <div class="checkout-pay__card-img">
                        <img src="./icons/ccv1.png" alt="">
                        <img src="./icons/ccv2.png" alt="">
                      </div>
                    </div>
                    <!-- end checkout-pay__item -->

                    <div class="checkout__products-title">Имя владельца карты</div>
                    <div class="checkout__products-descr">цифры на лицевой стороне вашей карты</div> 

                     <!-- begin checkout-pay__item -->
                     <div class="checkout-pay__item">
                      <input type="text"  class="form__input-clear" >
                    </div>
                    <!-- end checkout-pay__item -->

                    <label  class="label-select">
                      <input type="checkbox" name="" >
                      <span class="t-normal t-default">Сохранить для будущих покупок</span>
                    </label>


                  </div>

                </div>
                
              </form>
              <!-- end checkout__delivery -->
            </div>

          </div>

          <div class="uk-width-1-3@m uk-width-1-1@s uk-grid-collapse">

            {% include "partials/_checkout-aside-product.html" %}

          </div>



          
        </div>
        <!-- end checkout-wrapper -->

        <div class="checkout-wrapper__next">
          <a href="" class="btn btn__black"><span>Далее</span></a>
        </div>

      </div>

  </div>

 
  </div>
  
	{% include "partials/_footer.html" %}

{% endblock %}
