---
title: Create product 1

---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header-login.html" %}
  <div class="uk-container">

    <div class="uk-grid uk-child-top-gap" uk-grid>
    
      <div class="uk-width-1-1 uk-flex uk-flex-between uk-flex-middle main-head">

        <ul class="uk-breadcrumb">
          <li><a href="">Главная</a></li>
          <li><span>Профиль</span></li>
        </ul>
        

      </div>

      <div class="uk-width-1-1">

        <!-- begin checkout-wrapper -->
        <div class="checkout-wrapper uk-grid-collapse uk-grid" uk-grid>

          <!-- begin checkout__item -->
          <div class="checkout__item uk-width-1-1">

            <div class="checkout__title">Спасибо Марго, Ваш платеж был завершен</div>
            
          </div>
          <!-- end checkout__item -->

          <!-- begin checkout__item -->
          <div class="checkout__item uk-width-1-1">

            <div class="checkout__subtitle">4. Информация о заказе</div>
            
          </div>
          <!-- end checkout__item -->

      
          <div class="uk-width-1-1 uk-flex-1">
            <!-- begin checkout__delivery -->
            <form class="checkout__delivery uk-grid-collapse uk-grid checkout_flex-top " uk-grid>

              <div class="uk-width-1-2@m uk-width-1-1@s">

                <div class="checkout__products-item checkout__products-item__no-border checkout_flex-top">

                  <div class="information-notification information-notification__red">
                    Вы получите электронное письмо на <br />
margo@gmail.com когда мы отправляем <br />
Ваш заказ с нашего склада и <br />
SMS, когда посылка находится на <br />
маршрут курьерской доставки.
                  </div>

                  <!-- .checkout__final-item -->
                  <div class="checkout__final-item">
                    <div class="checkout__products-title">Детали заказа</div>
                    <!-- begin checkout__info-total -->
                    <div class="checkout__info-total">

                      <div class="checkout__info-total--text">
                        <span>Номер заказа</span><span>#1776948507612</span>
                      </div>
                      <div class="checkout__info-total--text">
                        <span>Дата</span><span>25-MAR-2017</span>
                      </div>
                      
                    </div>
                    <!-- end checkout__info-total -->
                  </div>

                  <!-- .checkout__final-item -->
                  <div class="checkout__final-item">
                    <!-- begin checkout__info-total -->
                    <div class="checkout__info-total">

                      <div class="checkout__info-total--text">
                        <span>Модные кроссовки 'Love'</span><span>$205.00</span>
                      </div>
                      <div class="checkout__info-total--text">
                        <span>Белый  |  S</span>
                      </div>
                      
                    </div>
                    <!-- end checkout__info-total -->
                  </div>

                   <!-- .checkout__final-item -->
                   <div class="checkout__final-item">
                    <!-- begin checkout__info-total -->
                  <div class="checkout__info-total">

                    <div class="checkout__info-total--text">
                      <span>Стоимость товара</span><span>$205.00</span>
                    </div>
                    <div class="checkout__info-total--text">
                      <span>Комиссия ChiPeer 7%</span><span>$14.35</span>
                    </div>
                    <div class="checkout__info-total--text">
                      <span>Комиссия автору 3-5%</span><span>$6.15</span>
                    </div>
                    <div class="checkout__info-total--text checkout__info-total--text-big checkout__info-total--text-big-normal">
                      <span>Итоговая цена</span><span>$225.50</span>
                    </div>
                    
                  </div>
                  <!-- end checkout__info-total -->
                  </div>




                </div>

              </div>
              <div class="uk-width-1-2@m uk-width-1-1@s">

                <div class="checkout__products-item checkout_flex-top">

                  <!-- .checkout__final-item -->
                  <div class="checkout__final-item">
                    <div class="checkout__products-title">Способ доставки</div>
                    <!-- begin checkout__info-total -->
                    <div class="checkout__info-total">

                      <div class="checkout__info-total--text">
                        <span>Стандартная доставка - $ 5,00</span>
                      </div>
                      <div class="checkout__info-total--text">
                        <span>Доставлено в среду, 6 декабря 2019 г.</span>
                      </div>
                      
                    </div>
                    <!-- end checkout__info-total -->
                  </div>

                   <!-- .checkout__final-item -->
                   <div class="checkout__final-item">
                    <div class="checkout__products-title">Адрес доставки</div>
                    <!-- begin checkout__info-total -->
                    <div class="checkout__info-total">

                      <div class="checkout__info-total--text">
                        <span>Марго Тарасова,</span>
                      </div>
                      <div class="checkout__info-total--text">
                        <span>Billing address,</span>
                      </div>
                      <div class="checkout__info-total--text">
                        <span>Киев,</span>
                      </div>
                      <div class="checkout__info-total--text">
                        <span>04071,</span>
                      </div>
                      <div class="checkout__info-total--text">
                        <span>Воздвиженская 36,</span>
                      </div>
                      <div class="checkout__info-total--text">
                        <span>(095) 123 45 67</span>
                      </div>
                    </div>
                    <!-- end checkout__info-total -->
                  </div>

                  <!-- .checkout__final-item -->
                  <div class="checkout__final-item">
                    <div class="checkout__products-title">метод Оплаты</div>
                    <!-- begin checkout__info-total -->
                    <div class="checkout__info-total">

                      <div class="checkout__info-total--text">
                        <span>Кредитная карта <span class="checkout-card__last"> <img src="./icons/visaicon.png" alt=""> <span>4123 **** **** 9819</span></span></span>
                      </div>
                    </div>
                    <!-- end checkout__info-total -->
                  </div>

                </div>

              </div>
              
            </form>
            <!-- end checkout__delivery -->
          </div>


          
        </div>
        <!-- end checkout-wrapper -->

        <div class="checkout-wrapper__next">
          <a href="" class="btn btn__black btn__uppercase"><span>Вернуться к покупкам</span></a>
        </div>


      </div>

  </div>

 
  </div>
  
	{% include "partials/_footer.html" %}

{% endblock %}
