---
title: Create product 1

---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header-login.html" %}
  <div class="uk-container">

    <div class="uk-grid uk-child-top-gap" uk-grid>
    
      <div class="uk-width-1-1 uk-flex uk-flex-between uk-flex-middle main-head">

        <ul class="uk-breadcrumb">
          <li><a href="">Главная</a></li>
          <li><span>Профиль</span></li>
        </ul>
        

      </div>

      <div class="uk-width-1-1">

        <!-- begin checkout-wrapper -->
        <div class="checkout-wrapper uk-grid-collapse uk-grid" uk-grid>

          <!-- begin checkout__item -->
          <div class="checkout__item uk-width-1-1">

            <div class="checkout__title">Детали заказа</div>
            
          </div>
          <!-- end checkout__item -->

          <!-- begin checkout__item -->
          <div class="checkout__item uk-width-1-1">

            <div class="checkout__subtitle">1. Проверка заказа</div>
            
          </div>
          <!-- end checkout__item -->

          <!-- begin checkout__products -->
          <div class="checkout__products">

            <!-- begin checkout__products-head -->
            <div class="checkout__products-head uk-grid-collapse uk-grid" uk-grid>

               <!-- begin checkout__products-item -->
               <div class="uk-width-1-2@m uk-width-1-1@s">

                <div class="checkout__products-head__title">
                  Наименование
                </div>
                                
              </div>
              <!-- end checkout__products-item -->
              <!-- begin checkout__products-item -->
              <div class="uk-width-1-6@m uk-width-1-1@s">

              <div class="checkout__products-head__title">
                Детали
                </div>
              
              </div>
              <!-- end checkout__products-item -->
              <!-- begin checkout__products-item -->
              <div class=" uk-width-1-6@m uk-width-1-1@s">

                <div class="checkout__products-head__title">
                  Количество
                </div>
                
                </div>
                <!-- end checkout__products-item -->
                <!-- begin checkout__products-item -->
              <div class=" uk-width-1-6@m uk-width-1-1@s">

                <div class="checkout__products-head__title">
                  Цена
                </div>
                
              </div>
              <!-- end checkout__products-item -->
              
            </div>
            <!-- end checkout__products-head -->

            {% for i in range(0, 3) %}
            <!-- begin checkout__products-body -->
            <div class="checkout__products-body uk-grid-collapse uk-grid" uk-grid>
              
                <!-- begin checkout__products-item -->
                <div class=" uk-width-1-2@m uk-width-1-1@s">

                  <div class="checkout__products-item checkout__products-item__no-left">

                  <div class="checkout__products-item__delete js-delete-product">
                    {{mixins.icon('delete-t')}}
                  </div>

                  <a href="" class="checkout__products-item__img">
                    <img src="./img/card/2.png" alt="">
                  </a>

                  <div class="checkout__products-item__side">
                    <a href="" class="checkout__products-item__title">Модные кроссовки 'Love'</a>
                    <div class="checkout__products-item__text">Существующий с середины 60-х годов бренд Sergio Rossi представляет уникальную обувь.</div>
                  </div>

                </div>
                
                  
                </div>
                <!-- end checkout__products-item -->
              
              <!-- begin checkout__products-item -->
              <div class=" uk-width-1-6@m uk-width-1-1@s">

                <div class="checkout__products-item">
                  <div class="checkout__products__text">Размер: S</div>
                  <div class="checkout__products__text">Цвет: серый</div>
                </div>
               
              
              </div>
              <!-- end checkout__products-item -->
              <!-- begin checkout__products-item -->
              <div class=" uk-width-1-6@m uk-width-1-1@s">

                <div class="checkout__products-item">

                
               <div class="checkout__products-item__count">
                 <div class="checkout__products-item__count-minus">
                  {{mixins.icon('minus')}}
                 </div>
                 <div class="checkout__products-item__count-current">
                   <input type="number" name="" id="" value="1">
                </div>
                 <div class="checkout__products-item__count-plus">
                  {{mixins.icon('plus')}}
                </div>
               </div>

                </div>

                
              </div>
              <!-- end checkout__products-item -->
                <!-- begin checkout__products-item -->
              <div class=" uk-width-1-6@m uk-width-1-1@s">

                <div class="checkout__products-item">
                <div class="checkout__products-item__price">
                  $205.00
                </div>
              </div>
                
                </div>
                <!-- end checkout__products-item -->
            </div>
            <!-- end checkout__products-body -->
            {% endfor %}
            
          </div>
          <!-- end checkout__products -->

          <!-- begin checkout__footer-info -->
          <div class="checkout__footer-info">

            <form action="" class="checkout__coupon">
              <input type="text"  placeholder="Есть скидочный купон?"/>
              <a href="" class="btn btn__black"><span>Добавить</span></a>
            </form>

            <!-- begin checkout__info-total -->
            <div class="checkout__info-total">

              <div class="checkout__info-total--text">
                <span>Стоимость товара</span><span>$205.00</span>
              </div>
              <div class="checkout__info-total--text">
                <span>Комиссия ChiPeer 7%</span><span>$14.35</span>
              </div>
              <div class="checkout__info-total--text">
                <span>Комиссия автору 3-5%</span><span>$6.15</span>
              </div>
              <div class="checkout__info-total--text checkout__info-total--text-big">
                <span>Итоговая цена</span><span>$225.50</span>
              </div>

              <div class="form-auth__item form-auth__item-pol">
                <label  class="label-select">
                  <input type="checkbox" name="" >
                  <span class="t-normal t-default">Я соглашаюсь с условиями публичной оферты </span>
                </label>
                <a class="link-big" href="">Публичная оферта</a>
              </div>
              
            </div>
            <!-- end checkout__info-total -->


            
          </div>
          <!-- end checkout__footer-info -->


          
        </div>
        <!-- end checkout-wrapper -->

        <div class="checkout-wrapper__next">
          <a href="" class="btn btn__black"><span>Далее</span></a>
        </div>

      </div>

  </div>

 
  </div>
  
	{% include "partials/_footer.html" %}

{% endblock %}
