---
title: Create product 2

---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header-login.html" %}
  <div class="uk-container">

    <div class="uk-grid uk-child-top-gap" uk-grid>
    
      <div class="uk-width-1-1 uk-flex uk-flex-between uk-flex-middle main-head">

        <ul class="uk-breadcrumb">
          <li><a href="">Главная</a></li>
          <li><span>Профиль</span></li>
        </ul>
        

      </div>

      <div class="uk-width-1-1">

        <!-- begin checkout-wrapper -->
        <div class="checkout-wrapper uk-grid-collapse uk-grid" uk-grid>

          <div class="uk-width-2-3@m uk-width-1-1@s uk-grid-collapse uk-grid checkout_flex-top uk-flex-column" uk-grid>

            <!-- begin checkout__item -->
            <div class="uk-width-1-1">
              <div class="checkout__item">
                <div class="checkout__title">Детали заказа</div>

              </div>
              
            </div>
            <!-- end checkout__item -->

            <!-- begin checkout__item -->
            <div class=" uk-width-1-1">

              <div class="checkout__item">              <div class="checkout__subtitle">2. Адрес доставки</div>
            </div>

              
            </div>
            <!-- end checkout__item -->

            <div class="uk-width-1-1 uk-flex-1">
              <!-- begin checkout__delivery -->
              <form class="checkout__delivery uk-grid-collapse uk-grid checkout_flex-top " uk-grid>

                <div class="uk-width-1-2@m uk-width-1-1@s">

                  <div class="checkout__products-item checkout__products-item__no-border checkout_flex-top">

                    <div class="checkout__products-title">Выберите метод доставки</div>

                    <div class="checkout__delivery-type">
                      <label class="label-select">
                        <span class="label-select__side">
                          <span class="label-select__side-title">Стандартная доставка - БЕСПЛАТНО</span>
                          <span>Будет доставлено в среду, 6 декабря 2019 г.</span>
                        </span>
                        
                        <input type="radio" name="delivery-type" checked id="">
                      </label>
                    </div>
                    <div class="checkout__delivery-type">
                      <label class="label-select">
                        
                        <span class="label-select__side">
                          <span class="label-select__side-title">Экспресс доставка - €25.00</span>
                          <span>Будет доставлено в среду, 6 декабря 2019 г.</span>
                        </span>
                        <input type="radio" name="delivery-type" id="">
                      </label>
                    </div>



                  </div>

                </div>
                <div class="uk-width-1-2@m uk-width-1-1@s">

                  <div class="checkout__products-item checkout_flex-top">

                    <div class="checkout__products-title">Получатель</div>

                    <span class="checkout__delivery-last-order">Использовать информацию с прошлого заказа</span>

                    <input type="text" class="form__input-clear" placeholder="Имя">
                    <input type="email" class="form__input-clear" placeholder="email">
                    <input type="text" class="form__input-clear" placeholder="Город">
                    <input type="text" class="form__input-clear" placeholder="Адрес">
                    <input type="text" class="form__input-clear" placeholder="Индекс">
                    <input type="tel" class="form__input-clear" placeholder="Телефон">


                  </div>

                </div>
                
              </form>
              <!-- end checkout__delivery -->
            </div>

          </div>

          <div class="uk-width-1-3@m uk-width-1-1@s uk-grid-collapse">

            {% include "partials/_checkout-aside-product.html" %}

          </div>



          
        </div>
        <!-- end checkout-wrapper -->

        <div class="checkout-wrapper__next">
          <a href="" class="btn btn__black"><span>Далее</span></a>
        </div>

      </div>

  </div>

 
  </div>
  
	{% include "partials/_footer.html" %}

{% endblock %}
