---
title: Index page,
cardItems: [
  {
    brand: 'Chloé',
    title: 'белый ажурный комбинезон',
    old: '$150.00',
    current: '$95.00',
    imgView: './img/cabinet/card/1.jpg'
  }
  ,{
    brand: 'CHANEL',
    title: 'платье с баской',
    old: '$380.00',
    current: '$300.00',
    sale: true,
    imgView: './img/cabinet/card/2.jpg'
  }
  ,{
    brand: 'Prada',
    title: 'платье с блёстками',
    old: '$250.00',
    current: '$20.00',
    imgView: './img/cabinet/card/3.jpg'
  }
  ,{
    brand: 'moncler',
    title: 'зимняя дутая куртка',
    old: '$252.00',
    current: '$05.00',
    imgView: './img/cabinet/card/4.jpg'
  }
  ,{
    brand: 'Miu Miu',
    title: 'яркие босоножки',
    old: '$220.00',
    current: '$197.00',
    imgView: './img/cabinet/card/5.jpg'
  }
  ,{
    brand: 'Dolce & Gabbana',
    title: 'сандалии с украшениями',
    old: '$420.00',
    current: '$300.00',
    imgView: './img/cabinet/card/6.jpg'
  }
  ,{
    brand: 'Givenchy',
    title: 'платье с узором пейсли',
    old: '$270.00',
    current: '$180.00',
    imgView: './img/cabinet/card/7.jpg'
  }
  ,{
    brand: 'Dolce & Gabbana',
    title: 'туника с вышивкой',
    old: '$352.00',
    current: '$252.00',
    imgView: './img/cabinet/card/8.jpg'
  }
  ,{
    brand: 'Bottega Veneta',
    title: 'Ажурный комбинезон',
    old: '$198.00',
    current: '$150.00',
    imgView: './img/cabinet/card/9.jpg'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header-login.html" %}
	<div class="uk-container">

    <div class="uk-grid uk-child-top-gap" uk-grid>

      <div class="uk-width-1-1 uk-flex uk-flex-between uk-flex-middle main-head">

        <ul class="uk-breadcrumb">
          <li><a href="">Главная</a></li>
          <li><span>Личный кабинет</span></li>
        </ul>

      

      </div>
      <div class="uk-width-auto is-desktop">

        <div class="nav-cabinet">
            <li class="nav-cabinet__item "><a href="personal-cabinet.html"> Личный кабинет</a></li>
            <li class="nav-cabinet__item "><a href="purchases-cabinet.html">Покупки/продажи</a></li>
            <li class="nav-cabinet__item active"><a href="#">Контент</a></li>
            <li class="nav-cabinet__item"><a href="#">Сообщения</a></li>
            <li class="nav-cabinet__item"><a href="#">Уведомления</a></li>
            <li class="nav-cabinet__item"><a href="#">Профиль</a></li>
            <li class="nav-cabinet__item"><a href="#">Настройки</a></li>
        </div>

      </div>

      <div class="cabinet-right uk-width-expand" >
        

        <ul class="cabinet-list-nav">
          <li class="cabinet-list-nav__item active"><a href="#">Опубликованные</a></li>
          <li class="cabinet-list-nav__item"><a href="sales-cabinet.html">Черновики</a></li>
        </ul>
      
      <div class=" uk-grid uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-medium-card" uk-grid>

       

        {% for item in cardItems %}
          <div class="">{% include "components/_card-item-cabinet.html" %}</div>
        {% endfor %}

      </div>
    </div>
    </div>
    
    
  
  

	</div>

	{% include "partials/_footer.html" %}

{% endblock %}
