---
title: Create product 1

---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header-login.html" %}
  <div class="uk-container">
    <div class="create-steps__wrapper uk-grid uk-grid-collapse" uk-grid>
      <div class="uk-width-auto is-desktop-big" style="width: 250px">
        
    
      </div>
    <div class="uk-width-expand uk-flex uk-flex-center">
      <form action="" class="form-auth ">
        <div class="form-auth__top">
          <div class="form-auth__title">
            Создание карточки товара
          </div>
        </div>
        <div class="form-auth__item uk-flex-around">
          <label class="label-select">
            <input type="radio" name="red-type" id="">
            <span>Для неё</span>
          </label>
          <label class="label-select">
            <input type="radio" name="red-type" id="">
            <span>Для него</span>
          </label>
          <label class="label-select">
            <input type="radio" name="red-type" id="">
            <span>Для детей</span>
          </label>
        </div>
        <div class="form-auth__item form-auth__item-has-inner ">
          <div class="form-auth__item-inner form-auth__item-inner-gap--s form-auth__item-inner-50">
            <select class="form__select" name="" id="">
              {% for i in range(0, 10) %}
                <option value="{{i}}">
                  Товарная категория {{i+1}}
                </option>
              {% endfor %}
            </select>
          </div>
          <div class="form-auth__item-inner form-auth__item-inner-gap--s form-auth__item-inner-50">
            <select class="form__select" name="" id="">
              {% for i in range(0, 10) %}
                <option value="{{i}}">
                  Товарная группа {{i+1}}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="form-auth__item form-auth__item-has-inner ">
          <div class="form-auth__item-inner form-auth__item-inner-gap--s form-auth__item-inner-50">
            
            <select class="form__select" name="" id="">
              {% for i in range(0, 10) %}
                <option value="{{i}}">
                  Магазин-продавец {{i+1}}
                </option>
              {% endfor %}
            </select>
          </div>
          <div class="form-auth__item-inner form-auth__item-inner-gap--s form-auth__item-inner-50">
              <input type="text" class="form__input form__input-no-padding" placeholder="Название бренда" />
          </div>
        </div>
        <div class="form-auth__item ">
            <input type="text" class="form__input form__input-no-padding" placeholder="Название товара" />
        </div>

        <div class="form-auth__item form-auth__item-m-top js-form-loaded">
          <label for="" class="form__label ">Фотографии товара</label>
          <div class="uk-upload-box">
            <div id="error-alert-file-upload" class="uk-alert-danger uk-margin-top uk-hidden" uk-alert>
              <p id="error-messages-fileupload"></p>
            </div>
          </div>
      
          <div class="form__upload js-form-drop " data-url-to-upload="http://testimg.loc/send.php" >
            <input id="testval" type="hidden" name="request" value="add">
            <!-- <input name="documents[]" type="file" accept="image/png, image/jpeg" multiple> -->
            <div class="form__upload-icon uk-link">
              {{mixins.icon('upload')}}
            </div>
            <div class="form__upload-text">
              Перетащите изображение сюда или выберите его на компьютере
            </div>

            
            
          </div>
        
        </div>

        <div class="form-auth__bot form-auth__bot-no-margin">
          <a href="" class="btn btn__transparent btn__transparent-type btn__uppercase">
            <span>Сохранить черновик</span>
          </a>
          <button type="submit" href="" class="btn btn__black btn__uppercase">
            <span>Далее</span>
          </button>
        </div>
      </form>
    </div>
    <div class="uk-width-auto is-desktop-big">
    <div class="create-steps">
      <div class="create-steps__item is-active">
        <div class="create-steps__title"><span class="create-steps__count">1</span> <span>Описание</span> {{mixins.icon('arr-right')}}</div>
        <div class="create-steps__text">
          Last month, my wife, Anne Doe, took me to Las Vegas because she had to go for a business.
        </div>
      </div>
      <div class="create-steps__item">
        <div class="create-steps__title"><span class="create-steps__count">2</span> <span>Характеристики</span> {{mixins.icon('arr-right')}}</div>
        <div class="create-steps__text">
          Last month, my wife, Anne Doe, took me to Las Vegas because she had to go for a business.
        </div>
      </div>
    </div>

  </div>

  </div>

  </div>
  
  <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>


	{% include "partials/_footer.html" %}

{% endblock %}
