---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header.html" %}
	<div class="uk-container">
		<form action="" class="form-auth">
			<div class="form-auth__top">
				<div class="form-auth__title">
					товарав успешно Добавлен
				</div>
			</div>
			<div class="form-auth__item form-auth__item-no-border">
				<div class="form__check-ok">
					{{mixins.icon('check-ok')}}
				</div>
				
			</div>
			<div class="form-auth__bot form-auth__bot-no-margin ">
				<a href="" class="btn btn__transparent btn__transparent-type btn__uppercase">
					<span>создать новый товар</span>
				</a>
				<a href="" class="btn btn__black btn__uppercase">
					<span>перейти к товару</span>
				</a>
			</div>

		</form>

	</div>

	{% include "partials/_footer.html" %}

{% endblock %}
