---
title: Create product 2

---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header-login.html" %}
  <div class="uk-container">
    <div class="create-steps__wrapper uk-grid uk-grid-collapse" uk-grid>
      <div class="uk-width-auto is-desktop-big" style="width: 250px">
        
    
      </div>
    <div class="uk-width-expand uk-flex uk-flex-center">
      <form action="" class="form-auth ">
        <div class="form-auth__top">
          <div class="form-auth__title">
            Создание карточки товара
          </div>
        </div>
        <div class="form-auth__item uk-flex-around">
          <label class="label-select">
            <input type="radio" name="red-type" id="">
            <span>Для неё</span>
          </label>
          <label class="label-select">
            <input type="radio" name="red-type" id="">
            <span>Для него</span>
          </label>
          <label class="label-select">
            <input type="radio" name="red-type" id="">
            <span>Для детей</span>
          </label>
        </div>
        <div class="form-auth__item form-auth__item-has-inner ">
          <div class="form-auth__item-inner form-auth__item-inner-gap--s form-auth__item-inner-33">
            <input type="text" class="form__input form__input-no-padding" placeholder="Старая цена" />
          </div>
        
          <div class="form-auth__item-inner form-auth__item-inner-gap--s form-auth__item-inner-33">
            <input type="text" class="form__input form__input-no-padding" placeholder="Новая цена" />
          </div>
          <div class="form-auth__item-inner form-auth__item-inner-gap--s form-auth__item-inner-33">
            <input type="text" class="form__input form__input-no-padding" placeholder="EUR" />
          </div>
        </div>
        <div class="form-auth__item form-auth__item-has-inner js-product-detail-copy">
          <div class="form-auth__item-inner form-auth__item-inner-gap--s form-auth__item-inner-50">
            <select class="form__select" name="" id="">
              {% for i in range(0, 10) %}
                <option value="{{i}}">
                  Цвет {{i+1}}
                </option>
              {% endfor %}
            </select>
          </div>
          <div class="form-auth__item-inner form-auth__item-inner-gap--s form-auth__item-inner-50">
              <input type="text" class="form__input form__input-no-padding" placeholder="Доступные размеры" />
          </div>
        </div>
        <div class="js-product-detail-copy-to"></div>
        <div class="form-auth__item form-auth__item-no-gap js-add-product-copy">
          <span class="btn btn__black btn__uppercase ">
            <span>Добавить еще вариацию {{mixins.icon('plus-b')}}</span>
          </span>
        </div>

        <div class="form-auth__item form-auth__item-m-top form-auth__item-dashed  ">
          <label for="" class="form__label form__label-big ">Ключевые слова (хештеги) <span class="form__label form__label-small">максимум 9 хэштегов</span></label> 

      
          
        </div>

        <div class="form-auth__item  ">
          
          <input type="text" class="form__input-tags" hidden />

          <div class="form__tags" data-tags='["a"]'></div>

          <div class="form__notification js-tags__notification">
            <div class="form__notification-text">
              (помечая свои сообщения хэштегом, вы даете возможность другим пользователям найти тематическую информацию с помощью поиска)
            </div>
          </div>
      
          
        </div>

        <div class="form-auth__item form-auth__item-m-top  ">
          <label for="" class="form__label ">Дополнительные сведения</label>

          <textarea name="" class="form__textarea form__textarea-no-padding"></textarea>
          
        </div>

        <div class="form-auth__bot form-auth__bot-no-margin">
          <a href="" class="btn btn__transparent btn__transparent-type btn__uppercase">
            <span>Сохранить черновик</span>
          </a>
          <a href="" class="btn btn__black btn__uppercase">
            <span>Опубликовать</span>
          </a>
        </div>

        <div class="form-auth__item form-auth__item-no-gap ">
          <a href="" class="btn btn__big btn__transparent btn__uppercase">
            <span>{{mixins.icon('eye2')}} Предварительный просмотр</span>
          </a>
        </div>
      </form>
    </div>
    <div class="uk-width-auto is-desktop-big">
    <div class="create-steps">
      <div class="create-steps__item is-active">
        <div class="create-steps__title"><span class="create-steps__count">1</span> <span>Описание</span> {{mixins.icon('arr-right')}}</div>
        <div class="create-steps__text">
          Last month, my wife, Anne Doe, took me to Las Vegas because she had to go for a business.
        </div>
      </div>
      <div class="create-steps__item is-active">
        <div class="create-steps__title"><span class="create-steps__count">2</span> <span>Характеристики</span> {{mixins.icon('arr-right')}}</div>
        <div class="create-steps__text">
          Last month, my wife, Anne Doe, took me to Las Vegas because she had to go for a business.
        </div>
      </div>
    </div>

  </div>

  </div>

  </div>
  
  <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>


	{% include "partials/_footer.html" %}

{% endblock %}
