---
title: DIrect page,

---
{% extends "layouts/_layout.html" %}


{% block content %}
	
{% include "partials/_header-login.html" %}
	<div class="uk-container">

    <div class="uk-grid uk-child-top-gap" uk-grid>

      <div class="uk-width-1-1 uk-flex uk-flex-between uk-flex-middle main-head">

        <ul class="uk-breadcrumb">
          <li><a href="">Главная</a></li>
          <li><span>Личный кабинет</span></li>
        </ul>

      

      </div>
      <div class="uk-width-auto is-desktop">

        <div class="nav-cabinet">
            <li class="nav-cabinet__item"><a href="#"> Личный кабинет</a></li>
            <li class="nav-cabinet__item"><a href="purchases-cabinet.html">Покупки/продажи</a></li>
            <li class="nav-cabinet__item"><a href="content-cabinet.html">Контент</a></li>
            <li class="nav-cabinet__item  active"><a href="#">Сообщения</a></li>
            <li class="nav-cabinet__item"><a href="#">Уведомления</a></li>
            <li class="nav-cabinet__item"><a href="#">Профиль</a></li>
            <li class="nav-cabinet__item"><a href="#">Настройки</a></li>
        </div>

      </div>

      <div class="cabinet-right uk-width-expand" >
        
       
      
        <!-- begin direct__wrapper -->
        <div class="direct__wrapper">

         
          <div class="direct__head">
            <ul class="cabinet-list-nav">
              <li class="cabinet-list-nav__item active"><a href="#">Диалоги</a></li>
              <li class="cabinet-list-nav__item"><a href="#">Арбитраж</a></li>
            </ul>
          </div>
          <!-- begin direct__aside -->
          <div class="direct__aside">

            <!-- begin direct__aside-head -->
            <div class="direct__aside-head">
              

              {% include "partials/direct/_items.html" %}

            </div>
            <!-- end direct__aside-head -->
            
          </div>
          <!-- end direct__aside -->

          <!-- begin direct__body -->
          <div class="direct__body js-show-on-mobile-message">

            <div class="is-mobile direct__header">
               <div class="direct__header-back js-hide-on-mobile-message">{{mixins.icon('chev-l')}}</div>
               <div class="direct__header-title">Данил Поперечный</div>
               <div class="direct__header-search js-search-message">
                 <span class="direct__header-search__close js-hide-search-message-search">
                  {{mixins.icon('close')}}
                 </span>
                 <input type="search" name="" id="" class="direct__header-search__input js-mobile-message-search" placeholder="Поиск..." />
                 <span class="direct__header-search__button js-show-search-message-search">
                  {{mixins.icon('search2')}}
                 </span>
                
               </div>
            </div>

            <div class="direct__message-top">
              <a href="" class="direct__product-img">
                <img src="/img/card/1.png" alt="">
              </a>
              <div class="direct__product-side">
                <a href="" class="direct__product-brand">Dolce & Gabbana</a>
                <a href="" class="direct__product-title">Модные кроссовки 'Love'</a>
                <div class="card-item__price">
                  <div class="card-item__price-old">$358.00</div>
                  <div class="card-item__price-current">$305.00</div>
                </div>
              </div>
            </div>

            <div class="direct__message-wrapper">
              {% include "partials/direct/_message.html" %}
            </div>

            <form class="direct__footer">

              <div class="direct__add-images">
                {{mixins.icon('image')}}
                <input type="file" name="" id="">
              </div>
              <div class="direct__input">
                <input type="text" placeholder="Печатать тут" />
              </div>

              <div class="direct__send">
                <button class="direct__send-button" type="submit">
                  {{mixins.icon('send')}}
                </button>
              </div>
 
            </form>

            
            
          </div>
          <!-- end direct__body -->
          
        </div>
        <!-- end direct__wrapper -->
        
    </div>
    </div>
    
  
  
  

	</div>

	{% include "partials/_footer.html" %}

{% endblock %}
