---
title: New elements page,
cardItems: [
  {
    brand: 'Chloé',
    title: 'туника с вышивкой',
    old: '$220.00',
    current: '$185.00'
  }
  ,{
    brand: 'Moncler',
    title: 'модные кроссовки',
    old: '$358.00',
    current: '$305.00',
    sale: true
  }
  ,{
    brand: 'Dolce & Gabbana',
    title: 'комбинезон со шлейфом',
    old: '$274.00',
    current: '$215.00'
  }
  ,{
    brand: 'Dolce & Gabbana',
    title: 'комбинезон со шлейфом',
    old: '$274.00',
    current: '$215.00'
  }
]
cardItemsStatus: [
  {
    brand: 'Chloé',
    title: 'туника с вышивкой',
    old: '$220.00',
    current: '$185.00',
    laststatus: 'card-item__recomed-status__1'
  }
  ,{
    brand: 'Moncler',
    title: 'модные кроссовки',
    old: '$358.00',
    current: '$305.00',
    sale: true,
    laststatus: 'card-item__recomed-status__2'
  }
  ,{
    brand: 'Dolce & Gabbana',
    title: 'комбинезон со шлейфом',
    old: '$274.00',
    current: '$215.00',
    laststatus: 'card-item__recomed-status__3'
    
  }
  ,{
    brand: 'Dolce & Gabbana',
    title: 'комбинезон со шлейфом',
    old: '$274.00',
    current: '$215.00',
    laststatus: 'card-item__recomed-status__4'
  }
  
]

---
{% extends "layouts/_layout.html" %}


{% block content %}
	
{% include "partials/_header-login.html" %}
	<div class="uk-container">

  
    <div class="uk-grid uk-child-top-gap" uk-grid>

      <div class="uk-width-1-1 uk-flex uk-flex-between uk-flex-middle main-head main-head__top js-aside-element-show">

        <ul class="uk-breadcrumb is-desktop">
          <li><a href="">Главная</a></li>
          <li><a href="">Для неё</a></li>
          <li><a href="">Обувь</a></li>
          <li><span>Кроссовки</span></li>
        </ul>

        <div class="filter-show mobile-button is-mobile js-show-aside-filter">
          <span class="mobile-button__icon">{{mixins.icon('filter')}}</span>
          
          <span>Фильтр</span>
        </div>



        <div class="filter-sort mobile-button">
          <div class="filter-sort__title is-desktop">сортировать:</div>
          <span class="is-mobile mobile-button__icon">{{mixins.icon('sort')}}</span>
          
          <select name="" id="" class="filter-sort__list">
            <option value="1">по Рейтингу</option>
            <option value="2">самые популярные </option>
            <option value="3">сначала Дорогие</option>
            <option value="4">сначала дешевые</option>
            <option value="5">Сначала новые</option>
            <option value="6">Сначала старые</option>
          </select>
        </div>

      </div>
      <div class="uk-width-1-1">
        <h3 class="middle-heading">Кнопки редактирования товара под пользователем</h3>
      </div>
      <div class="uk-width-1-1 uk-grid uk-child-width-1-4@l uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-medium-card main-page-cards" uk-grid>

        {% for item in cardItems %}
          <div class="">{% include "components/_card-item-auth.html" %}</div>
        {% endfor %}

      </div>

      <div class="uk-width-1-1">
        <h3 class="middle-heading">Статусы для последнего обновления наличия</h3>
      </div>

      <div class="uk-width-1-1 uk-grid uk-child-width-1-4@l uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-medium-card main-page-cards" uk-grid>

        {% for item in cardItemsStatus %}
          <div class="">{% include "components/_card-item-auth-color-status.html" %}</div>
        {% endfor %}

      </div>

      <div class="uk-width-1-1">
        <h3 class="middle-heading">Конпки merchant и более двух кнопок в хедере</h3>
      </div>

      <div class=" uk-width-1-1" >
        

          <ul class="cabinet-list-nav">
            <li class="cabinet-list-nav__item active"><a href="#">Offers</a></li>
            <li class="cabinet-list-nav__item"><a href="sales-cabinet.html">Requests</a></li>
            <li class="cabinet-list-nav__item"><a href="sales-cabinet.html">2 Requests</a></li>
            <li class="cabinet-list-nav__item"><a href="sales-cabinet.html">3 Requests</a></li>
            <li class="cabinet-list-nav__item"><a href="sales-cabinet.html">24Requests</a></li>
            <li class="cabinet-list-nav__item"><a href="sales-cabinet.html">3 Requests</a></li>
            <li class="cabinet-list-nav__item"><a href="sales-cabinet.html">24Requests</a></li>
            <li class="cabinet-list-nav__item"><a href="sales-cabinet.html">3 Requests</a></li>
            <li class="cabinet-list-nav__item"><a href="sales-cabinet.html">24Requests</a></li>
          </ul>
        
        <div class=" uk-grid uk-child-width-1-4@l uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-medium-card" uk-grid>

        
          {% for item in cardItemsStatus %}
          <div class="">{% include "components/_card-item-auth-color-merchant.html" %}</div>
        {% endfor %}


        </div>
      </div>

    </div>
  
  
  
  

	</div>

	{% include "partials/_footer.html" %}

{% endblock %}
