---
title: Notification page,

---
{% extends "layouts/_layout.html" %}


{% block content %}
	
{% include "partials/_header-login.html" %}
	<div class="uk-container">

    <div class="uk-grid uk-child-top-gap" uk-grid>

      <div class="uk-width-1-1 uk-flex uk-flex-between uk-flex-middle main-head">

        <ul class="uk-breadcrumb">
          <li><a href="">Главная</a></li>
          <li><span>Личный кабинет</span></li>
        </ul>

      

      </div>
      <div class="uk-width-auto is-desktop">

        <div class="nav-cabinet">
            <li class="nav-cabinet__item"><a href="#"> Личный кабинет</a></li>
            <li class="nav-cabinet__item"><a href="purchases-cabinet.html">Покупки/продажи</a></li>
            <li class="nav-cabinet__item"><a href="content-cabinet.html">Контент</a></li>
            <li class="nav-cabinet__item  "><a href="#">Сообщения</a></li>
            <li class="nav-cabinet__item active"><a href="#">Уведомления</a></li>
            <li class="nav-cabinet__item "><a href="#">Профиль</a></li>
            <li class="nav-cabinet__item"><a href="#">Настройки</a></li>
        </div>

      </div>

      <div class="cabinet-right uk-width-expand" >
        
       
      
        <!-- begin notification__wrapper -->
        <div class="notification__wrapper">

          <div class="notification__head">
            <div class="notification__title">
              уведомления
            </div>
          </div>
            <div class="notification__body">

              {% for i in range(0, 3) %}
              <!-- begin item -->
              <div class="notification__item">
                <span class="notification__item-icon">
                  {{mixins.icon('info')}}
                </span>
                
                <div class="notification__item-title">03.06.2019 | Появилась новая информация</div>
                <div class="notification__item-content">
                  <p>Равным образом консультация с широким активом способствует подготовки и реализации систем массового участия. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности играет важную роль в формировании новых предложений.</p>
                </div>
              </div>
              <!-- end item -->

              <!-- begin item -->
              <div class="notification__item">
                <span class="notification__item-icon">
                  {{mixins.icon('present-info')}}
                </span>
                <div class="notification__item-title">03.06.2019 | Ваш товар добавили в список желаний</div>
                <div class="notification__item-content">
                  <img src="./img/cabinet/card/1.jpg" alt="" class="notification__item-img">
                  <img src="./img/cabinet/card/2.jpg" alt="" class="notification__item-img">
                  <img src="./img/cabinet/card/3.jpg" alt="" class="notification__item-img">
                  <img src="./img/cabinet/card/4.jpg" alt="" class="notification__item-img">
                </div>
              </div>
              <!-- end item -->

              <!-- begin item -->
              <div class="notification__item">
                <span class="notification__item-icon">
                  {{mixins.icon('mail-info')}}
                </span>
                <div class="notification__item-title">03.06.2019 | Сообщение от <a href="">Николая Власова</a></div>
                <div class="notification__item-content">
                  <p>Равным образом консультация с широким активом способствует подготовки и реализации систем массового участия. Не следует, однако забывать, что дальнейшее развитие различных форм деятельности играет важную роль в формировании новых предложений.</p>
                </div>
              </div>
              <!-- end item -->

              <!-- begin item -->
              <div class="notification__item">
                <span class="notification__item-icon">
                  {{mixins.icon('star-icon')}}
                </span>
                <div class="notification__item-title">03.06.2019 | Ваш рейтинг упал. <a href="">Добавить описание товаров</a></div>
              </div>
              <!-- end item -->
              {% endfor %}
              
            </div>
          
          
        </div>
        <!-- end notification__wrapper -->
        
      </div>

    </div>
    
  
  
  

	</div>

	{% include "partials/_footer.html" %}

{% endblock %}
