---
title: Index page,
cardItems: [
  {
    brand: 'Chloé',
    title: 'туника с вышивкой',
    old: '$220.00',
    current: '$185.00'
  }
  ,{
    brand: 'Moncler',
    title: 'модные кроссовки',
    old: '$358.00',
    current: '$305.00',
    sale: true
  }
  ,{
    brand: 'Dolce & Gabbana',
    title: 'комбинезон со шлейфом',
    old: '$274.00',
    current: '$215.00'
  }
  ,{
    brand: 'CHANEL',
    title: 'белое платье с баской',
    old: '$452.00',
    current: '$410.00'
  }
  ,{
    brand: 'Prada',
    title: 'платье с блёстками',
    old: '$551.00',
    current: '$403.00'
  }
  ,{
    brand: 'Maison MargielA',
    title: 'платье с узором пейсли',
    old: '$252.00',
    current: '$205.00'
  }
  ,{
    brand: 'Givenchy',
    title: 'платье-рубашка удлиненное',
    old: '$252.00',
    current: '$145.00'
  }
  ,{
    brand: 'Miu Miu',
    title: 'Яркие босоножки',
    old: '$208.00',
    current: '$183.00'
  }
  ,{
    brand: 'Bottega Veneta',
    title: 'Ажурный комбинезон',
    old: '$252.00',
    current: '$205.00'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header.html" %}
	<div class="uk-container">

    <div class="uk-grid uk-child-top-gap" uk-grid>

      <div class="uk-width-1-1 uk-flex uk-flex-between uk-flex-middle main-head main-head__top js-aside-element-show">

        <ul class="uk-breadcrumb is-desktop">
          <li><a href="">Главная</a></li>
          <li><a href="">Для неё</a></li>
          <li><a href="">Обувь</a></li>
          <li><span>Кроссовки</span></li>
        </ul>

        <div class="filter-show mobile-button is-mobile js-show-aside-filter">
          <span class="mobile-button__icon">{{mixins.icon('filter')}}</span>
          
          <span>Фильтр</span>
        </div>



        <div class="filter-sort mobile-button">
          <div class="filter-sort__title is-desktop">сортировать:</div>
          <span class="is-mobile mobile-button__icon">{{mixins.icon('sort')}}</span>
          
          <select name="" id="" class="filter-sort__list">
            <option value="1">по Рейтингу</option>
            <option value="2">самые популярные </option>
            <option value="3">сначала Дорогие</option>
            <option value="4">сначала дешевые</option>
            <option value="5">Сначала новые</option>
            <option value="6">Сначала старые</option>
          </select>
        </div>

      </div>
      <div class="uk-width-auto">

        {% include "components/filter/_aside.html" %}

      </div>
      <div class="uk-width-expand uk-grid uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-medium-card main-page-cards" uk-grid>

        {% for item in cardItems %}
          <div class="">{% include "components/_card-item.html" %}</div>
        {% endfor %}

      </div>
    </div>
    
  
  
  

	</div>

	{% include "partials/_footer.html" %}

{% endblock %}
