---
title: Product page,

---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header.html" %}
	<div class="uk-container">

    <div class="uk-grid uk-child-top-gap" uk-grid>

      <div class="uk-width-1-1 uk-flex uk-flex-between uk-flex-middle main-head">

        <ul class="uk-breadcrumb">
          <li><a href="">Главная</a></li>
          <li><a href="">Для неё</a></li>
          <li><a href="">Обувь</a></li>
          <li><a href="">Кроссовки</a></li>
          <li><span>Модные кроссовки 'Love Letters' весна-лето 2018</span></li>
        </ul>

      </div>
      <div class="uk-width-auto detailed-product__left">

        {% include "partials/detail-page/_slider.html" %}

        {% include "partials/detail-page/_see-more.html" %}

      </div>
      <div class="uk-width-expand" >

        {% include "partials/detail-page/_detail.html" %}

        {% include "partials/detail-page/_card-info.html" %}

      </div>
    </div>
    
  
  
  

	</div>

	{% include "partials/_footer.html" %}

{% endblock %}
