---
title: Index page,

---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header-login.html" %}
	<div class="uk-container">

    <div class="uk-grid uk-child-top-gap" uk-grid>

      <div class="uk-width-1-1 uk-flex uk-flex-between uk-flex-middle main-head">

        <ul class="uk-breadcrumb">
          <li><a href="">Главная</a></li>
          <li><span>Профиль</span></li>
        </ul>

      

      </div>
      <div class="uk-width-auto is-desktop">

        <div class="nav-cabinet">
            <li class="nav-cabinet__item "><a href="personal-cabinet.html"> Личный кабинет</a></li>
            <li class="nav-cabinet__item "><a href="#">Покупки/продажи</a></li>
            <li class="nav-cabinet__item"><a href="content-cabinet.html">Контент</a></li>
            <li class="nav-cabinet__item"><a href="#">Сообщения</a></li>
            <li class="nav-cabinet__item"><a href="#">Уведомления</a></li>
            <li class="nav-cabinet__item active"><a href="#">Профиль</a></li>
            <li class="nav-cabinet__item"><a href="#">Настройки</a></li>
        </div>

      </div>
      <div class="cabinet-right uk-width-expand" >
        <div class="profile-table">
            <div class="profile-top is-desktop">
                <div class="photo-wrap">
                    <div class="user-photo">
                        <button class="edit-photo"><img src="./img/cabinet/icon/edit.svg" alt=""></button>
                        <img src="./img/cabinet/photo-user.png" alt="" class="avatar">
                    </div>                        
                </div>
                <div class="right-top-profile">
                    <div class="title-big ">Мой профиль</div>
                    <div class="title-small">БАЗОВАЯ ИНФОРМАЦиЯ</div>
                </div>
            </div>
            {% include "partials/_mobile-profile-header.html" %}
            <div class="profile-group">
                <div class="title-settings t-center">
                    <div class="title-small">Предпочтения</div>
                    <button class="edit-btn">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2393 0.817064L11.4236 2.63276H2.5657V15.3426H15.2756V6.48476L17.0913 4.66907V16.2505C17.0913 16.4913 16.9956 16.7222 16.8254 16.8924C16.6551 17.0627 16.4242 17.1583 16.1834 17.1583H1.65785C1.41707 17.1583 1.18616 17.0627 1.0159 16.8924C0.845648 16.7222 0.75 16.4913 0.75 16.2505V1.72491C0.75 1.48414 0.845648 1.25322 1.0159 1.08297C1.18616 0.912712 1.41707 0.817064 1.65785 0.817064H13.2393ZM16.6237 0L17.9083 1.28551L9.5634 9.63046L8.28151 9.63318L8.2797 8.34676L16.6237 0Z" fill="#1C1C1C"/>
                        </svg>                        
                    </button>
                </div>
                <div class="product-group-wrap">
                    <div class="product-group__item">
                        <div class="l-section">
                            Товарные группыы
                            
                        </div>
                        <div class="r-section">
                            Одежда, Сумки, Стиль жизни
                        </div>
                    </div>
                    <div class="product-group__item">
                        <div class="l-section">
                            Одежда
                        </div>
                        <div class="r-section">
                            Брюки, Деним, Костюмы, Куртки, Нижнее белье и носки
                        </div>
                    </div>
                    <div class="product-group__item">
                        <div class="l-section">
                            Спортивная одежда
                        </div>
                        <div class="r-section">
                            Вся спортивная одежда
                        </div>
                    </div>
                    <div class="product-group__item">
                        <div class="l-section">
                            Обувь
                        </div>
                        <div class="r-section">
                            Ботинки на шнурках, Вьетнамки, 
                            Кроссовки, Лоферы, Сандалии, 
                            Сапоги, Слиперы
                        </div>
                    </div>
                    <div class="product-group__item">
                        <div class="l-section">
                            Бренды
                        </div>
                        <div class="r-section">
                            Alexander McQueen, Bally, Church's, 
                            Gucci, Guidi, Marsèll, Officine 
                            Creative, Prada, Saint Laurent,
                            Salvatore Ferragamo
                        </div>
                    </div>
                </div>
                <div class="apply-group">
                    <button >
                        <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.7186 0.896273L16.5609 0.744059L16.4032 0.896338L7.21829 9.76955L2.34486 5.06204L2.18717 4.90973L2.02949 5.06204L0.592316 6.45028L0.423322 6.61353L0.592316 6.77677L7.06061 13.0248L7.21829 13.1772L7.37598 13.0248L18.1568 2.61106L18.3259 2.44776L18.1567 2.28452L16.7186 0.896273Z" fill="#1C1C1C" stroke="#1C1C1C" stroke-width="0.453924"/>
                        </svg>
                        <span>Применить</span>    
                    </button>
                </div>
            </div>

            <div class="profile-group">
                <div class="title-settings t-center">
                    <div class="title-small">РАЗМЕРЫ</div>
                    <button class="edit-btn">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2393 0.817064L11.4236 2.63276H2.5657V15.3426H15.2756V6.48476L17.0913 4.66907V16.2505C17.0913 16.4913 16.9956 16.7222 16.8254 16.8924C16.6551 17.0627 16.4242 17.1583 16.1834 17.1583H1.65785C1.41707 17.1583 1.18616 17.0627 1.0159 16.8924C0.845648 16.7222 0.75 16.4913 0.75 16.2505V1.72491C0.75 1.48414 0.845648 1.25322 1.0159 1.08297C1.18616 0.912712 1.41707 0.817064 1.65785 0.817064H13.2393ZM16.6237 0L17.9083 1.28551L9.5634 9.63046L8.28151 9.63318L8.2797 8.34676L16.6237 0Z" fill="#1C1C1C"/>
                        </svg>                        
                    </button>
                </div>
                <div class="product-group-wrap">
                    <div class="product-group__item">
                        <div class="l-section">
                            Одежда                            
                        </div>
                        <div class="r-section">
                            M
                        </div>
                    </div>
                    <div class="product-group__item">
                        <div class="l-section">
                            Обувь
                        </div>
                        <div class="r-section">
                            42, 42.5
                        </div>
                    </div>       
                
                </div>
                <div class="apply-group">
                    <button >
                        <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.7186 0.896273L16.5609 0.744059L16.4032 0.896338L7.21829 9.76955L2.34486 5.06204L2.18717 4.90973L2.02949 5.06204L0.592316 6.45028L0.423322 6.61353L0.592316 6.77677L7.06061 13.0248L7.21829 13.1772L7.37598 13.0248L18.1568 2.61106L18.3259 2.44776L18.1567 2.28452L16.7186 0.896273Z" fill="#1C1C1C" stroke="#1C1C1C" stroke-width="0.453924"/>
                        </svg>
                        <span>Применить</span>    
                    </button>
                </div>
            </div>

            <div class="profile-group">
                <div class="title-settings t-center">
                    <div class="title-small">Уведомления</div>
                    <button class="edit-btn">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2393 0.817064L11.4236 2.63276H2.5657V15.3426H15.2756V6.48476L17.0913 4.66907V16.2505C17.0913 16.4913 16.9956 16.7222 16.8254 16.8924C16.6551 17.0627 16.4242 17.1583 16.1834 17.1583H1.65785C1.41707 17.1583 1.18616 17.0627 1.0159 16.8924C0.845648 16.7222 0.75 16.4913 0.75 16.2505V1.72491C0.75 1.48414 0.845648 1.25322 1.0159 1.08297C1.18616 0.912712 1.41707 0.817064 1.65785 0.817064H13.2393ZM16.6237 0L17.9083 1.28551L9.5634 9.63046L8.28151 9.63318L8.2797 8.34676L16.6237 0Z" fill="#1C1C1C"/>
                        </svg>                        
                    </button>
                </div>
                <div class="product-group-wrap">
                    <div class="product-group__item">
                        <div class="l-section">
                           <span> Получать уведомления о товарах отвечающих заданным параметрам</span>
                            <label class="uk-switch">
                                <input type="checkbox">
                                <div class="uk-switch-slider"></div>
                            </label>
                        </div>
                    </div>      
                
                </div>
                <div class="apply-group">
                    <button >
                        <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.7186 0.896273L16.5609 0.744059L16.4032 0.896338L7.21829 9.76955L2.34486 5.06204L2.18717 4.90973L2.02949 5.06204L0.592316 6.45028L0.423322 6.61353L0.592316 6.77677L7.06061 13.0248L7.21829 13.1772L7.37598 13.0248L18.1568 2.61106L18.3259 2.44776L18.1567 2.28452L16.7186 0.896273Z" fill="#1C1C1C" stroke="#1C1C1C" stroke-width="0.453924"/>
                        </svg>
                        <span>Применить</span>    
                    </button>
                </div>
            </div>

            <div class="profile-group">
                <div class="title-settings t-center">
                    <div class="title-small">БАЗОВАЯ ИНФОРМАЦиЯ</div>
                    <button class="edit-btn">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2393 0.817064L11.4236 2.63276H2.5657V15.3426H15.2756V6.48476L17.0913 4.66907V16.2505C17.0913 16.4913 16.9956 16.7222 16.8254 16.8924C16.6551 17.0627 16.4242 17.1583 16.1834 17.1583H1.65785C1.41707 17.1583 1.18616 17.0627 1.0159 16.8924C0.845648 16.7222 0.75 16.4913 0.75 16.2505V1.72491C0.75 1.48414 0.845648 1.25322 1.0159 1.08297C1.18616 0.912712 1.41707 0.817064 1.65785 0.817064H13.2393ZM16.6237 0L17.9083 1.28551L9.5634 9.63046L8.28151 9.63318L8.2797 8.34676L16.6237 0Z" fill="#1C1C1C"/>
                        </svg>                        
                    </button>
                </div>
                <div class="product-group-wrap">
                    <div class="product-group__item">
                        <div class="l-section">
                            Никнейм                            
                        </div>
                        <div class="r-section">
                            @salestalker
                        </div>
                    </div>
                    <div class="product-group__item">
                        <div class="l-section">
                            Имя Фамилия
                           
                        </div>
                        <div class="r-section">
                            Игорь Скрыпник
                        </div>
                    </div>  
                    <div class="product-group__item">
                        <div class="l-section">
                            Пол
                            
                        </div>
                        <div class="r-section">
                            мужской
                        </div>
                    </div>   
                    <div class="product-group__item">
                        <div class="l-section">
                            Дата рождения
                            
                        </div>
                        <div class="r-section">
                            30 апреля 1985
                        </div>
                    </div>   
                    <div class="product-group__item">
                        <div class="l-section">
                            Валюта
                            
                        </div>
                        <div class="r-section">
                            USD
                        </div>
                    </div>   
                    <div class="product-group__item">
                        <div class="l-section">
                            Язык интерфейса
                        </div>
                        <div class="r-section">
                            русский
                        </div>
                    </div>        
                    <div class="product-group__item">
                        <div class="l-section">
                            Биография
                        </div>
                        <div class="r-section">
                            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст..
                        </div>
                    </div>    
                </div>
                <div class="apply-group">
                    <button >
                        <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.7186 0.896273L16.5609 0.744059L16.4032 0.896338L7.21829 9.76955L2.34486 5.06204L2.18717 4.90973L2.02949 5.06204L0.592316 6.45028L0.423322 6.61353L0.592316 6.77677L7.06061 13.0248L7.21829 13.1772L7.37598 13.0248L18.1568 2.61106L18.3259 2.44776L18.1567 2.28452L16.7186 0.896273Z" fill="#1C1C1C" stroke="#1C1C1C" stroke-width="0.453924"/>
                        </svg>
                        <span>Применить</span>    
                    </button>
                </div>
            </div>

            <div class="profile-group">
                <div class="title-settings t-center">
                    <div class="title-small">КОНТАКТНАЯ ИНФОРМАЦиЯ</div>
                    <button class="edit-btn">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.2393 0.817064L11.4236 2.63276H2.5657V15.3426H15.2756V6.48476L17.0913 4.66907V16.2505C17.0913 16.4913 16.9956 16.7222 16.8254 16.8924C16.6551 17.0627 16.4242 17.1583 16.1834 17.1583H1.65785C1.41707 17.1583 1.18616 17.0627 1.0159 16.8924C0.845648 16.7222 0.75 16.4913 0.75 16.2505V1.72491C0.75 1.48414 0.845648 1.25322 1.0159 1.08297C1.18616 0.912712 1.41707 0.817064 1.65785 0.817064H13.2393ZM16.6237 0L17.9083 1.28551L9.5634 9.63046L8.28151 9.63318L8.2797 8.34676L16.6237 0Z" fill="#1C1C1C"/>
                        </svg>                        
                    </button>
                </div>
                <div class="product-group-wrap">
                    <div class="product-group__item">
                        <div class="l-section">
                            Страна                            
                        </div>
                        <div class="r-section">
                            Украина
                        </div>
                    </div>
                    <div class="product-group__item">
                        <div class="l-section">
                            Город                            
                        </div>
                        <div class="r-section">
                            Киев
                        </div>
                    </div>       
                    <div class="product-group__item">
                        <div class="l-section">
                            E-mail                            
                        </div>
                        <div class="r-section">
                            igorskripnik@gmail.com
                        </div>
                    </div>  
                    <div class="product-group__item">
                        <div class="l-section">
                            Телефон                           
                        </div>
                        <div class="r-section">
                            +38 (093) 856 84 73
                        </div>
                    </div>  
                    <div class="product-group__item">
                        <div class="l-section">
                            Адрес доставки
                        </div>
                        <div class="r-section">
                            Украина, Киев, ул Архитектора Вербицкого, 24а, кв 1.
                        </div>
                    </div>  
                </div>
                <div class="apply-group">
                    <button >
                        <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.7186 0.896273L16.5609 0.744059L16.4032 0.896338L7.21829 9.76955L2.34486 5.06204L2.18717 4.90973L2.02949 5.06204L0.592316 6.45028L0.423322 6.61353L0.592316 6.77677L7.06061 13.0248L7.21829 13.1772L7.37598 13.0248L18.1568 2.61106L18.3259 2.44776L18.1567 2.28452L16.7186 0.896273Z" fill="#1C1C1C" stroke="#1C1C1C" stroke-width="0.453924"/>
                        </svg>
                        <span>Применить</span>    
                    </button>
                </div>
            </div>


        </div>
      </div>


    
    </div>
    
    
  
  

	</div>

	{% include "partials/_footer.html" %}

{% endblock %}
