---
title: Index page,
cardItems: [
  {
    brand: 'Chloé',
    title: 'белый ажурный комбинезон',
    old: '$150.00',
    current: '$95.00',
    imgView: './img/cabinet/card/1.jpg'
  }
  ,{
    brand: 'CHANEL',
    title: 'платье с баской',
    old: '$380.00',
    current: '$300.00',
    sale: true,
    imgView: './img/cabinet/card/2.jpg'
  }
  ,{
    brand: 'Prada',
    title: 'платье с блёстками',
    old: '$250.00',
    current: '$20.00',
    imgView: './img/cabinet/card/3.jpg'
  }
  ,{
    brand: 'moncler',
    title: 'зимняя дутая куртка',
    old: '$252.00',
    current: '$05.00',
    imgView: './img/cabinet/card/4.jpg'
  }
  ,{
    brand: 'Miu Miu',
    title: 'яркие босоножки',
    old: '$220.00',
    current: '$197.00',
    imgView: './img/cabinet/card/5.jpg'
  }
  ,{
    brand: 'Dolce & Gabbana',
    title: 'сандалии с украшениями',
    old: '$420.00',
    current: '$300.00',
    imgView: './img/cabinet/card/6.jpg'
  }
  ,{
    brand: 'Givenchy',
    title: 'платье с узором пейсли',
    old: '$270.00',
    current: '$180.00',
    imgView: './img/cabinet/card/7.jpg'
  }
  ,{
    brand: 'Dolce & Gabbana',
    title: 'туника с вышивкой',
    old: '$352.00',
    current: '$252.00',
    imgView: './img/cabinet/card/8.jpg'
  }
  ,{
    brand: 'Bottega Veneta',
    title: 'Ажурный комбинезон',
    old: '$198.00',
    current: '$150.00',
    imgView: './img/cabinet/card/9.jpg'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header-login.html" %}
	<div class="uk-container">

    <div class="uk-grid uk-child-top-gap" uk-grid>

      <div class="uk-width-1-1 uk-flex uk-flex-between uk-flex-middle main-head">

        <ul class="uk-breadcrumb">
          <li><a href="">Главная</a></li>
          <li><span>Покупки / Продажи</span></li>
        </ul>

      

      </div>
      <div class="uk-width-auto is-desktop">

        <div class="nav-cabinet">
            <li class="nav-cabinet__item "><a href="personal-cabinet.html"> Личный кабинет</a></li>
            <li class="nav-cabinet__item active"><a href="purchases-cabinet.html">Покупки/продажи</a></li>
            <li class="nav-cabinet__item"><a href="content-cabinet.html">Контент</a></li>
            <li class="nav-cabinet__item"><a href="#">Сообщения</a></li>
            <li class="nav-cabinet__item"><a href="#">Уведомления</a></li>
            <li class="nav-cabinet__item"><a href="#">Профиль</a></li>
            <li class="nav-cabinet__item"><a href="#">Настройки</a></li>
        </div>

      </div>

      <div class="cabinet-right uk-width-expand" >
        

        <ul class="cabinet-list-nav">
          <li class="cabinet-list-nav__item "><a href="#">покупки</a></li>
          <li class="cabinet-list-nav__item active"><a href="personal-cabinet-like.html">Продажи</a></li>
        </ul>
      
        <div class=" uk-grid uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-medium-card" uk-grid="">
            <div class="uk-first-column">
              <!-- begin card-item -->
              <div class="card-item">
                <!-- begin card-item__img -->
                <div class="card-item__img">
                  <div class="swiper-container ">
                    <div class="swiper-wrapper" ><div class="swiper-slide  " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/1.jpg" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/2.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                    <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/1.jpg" alt="">
                        </a>
                      </div></div>
                  </div>
                  <!-- begin card-item__img-info -->
                  <div class="card-item__img-info">
                    <div class="card-item__img-pagination swiper-pagination-custom" data-key-pagina="Фото"><div class="pagina-bulets"> <span class="pagina-bulets__item is-active"></span><span class="pagina-bulets__item"></span><span class="pagina-bulets__item"></span> </div>
        <span class="pagination__current">1</span> /
        <span class="pagination__total">3</span>
        <span class="pagination__text">Фото</span></div>
                    <div class="card-item__locate">
                      <a href="">
                        <svg class="icon icon-pin">
                          <use xlink:href="img/sprite.svg#icon-pin"></use>
                        </svg>
                        <span>Лион, FR</span>
                      </a>
                    </div>
                  </div>
                  <!-- end card-item__img-info -->
                </div>
                <!-- end card-item__img -->
                <!-- begin card-item__nickname -->
                <div class="card-item__nickname">
                  <a href="">никнейм_Анастасия</a>
                </div>
                <!-- end card-item__nickname -->
                <!-- begin card-item__info -->
                <div class="card-item__info">
                  <!-- begin card-info__brand -->
                  <div class="card-item__brand">
                    <a href="">Chloé</a>
                  </div>
                  <!-- end card-info__brand -->
                  <!-- begin card-item__title -->
                  <div class="card-item__title">
                    <a href="">белый ажурный комбинезон</a>
                  </div>
                  <!-- end card-item__title -->
                  <!-- begin card-item__price -->
                  <div class="card-item__price">
                    <div class="card-item__price-old">$150.00</div>
                    <div class="card-item__price-current">$95.00</div>
                  </div>
                  <!-- end card-item__price -->
                </div>
                <!-- end card-item__info -->
                 <!-- begin card-item__sales-info -->
                 <div class="card-item__sales-wrap more-dot">
                    <div class="card-item__sales-info">
                        <div class="sales-info__top ">

                        </div>
                        <div class="top">
                            <div class="sales-info__title">
                                Статус
                            </div>
                            <div class="sales-info__status status-green">Доставлен</div>
                        </div>
                        <div class="sales-info__num">#2354</div>
                        <div class="bottom">
                            <div class="sales-info__btn">
                                <a href="#" class="btn btn-black">Перепродать</a>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- end card-item__sales-info -->
               
              </div>
              <!-- end card-item -->
            </div>
            <div class="">
              <!-- begin card-item -->
              <div class="card-item">
                <!-- begin card-item__img -->
                <div class="card-item__img">
                  <div class="swiper-container ">
                    <div class="swiper-wrapper" ><div class="swiper-slide  " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/2.jpg" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/2.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                    <div class="swiper-slide  " >
                        <a href="">
                          <img src="./img/cabinet/card/2.jpg" alt="">
                        </a>
                      </div></div>
                  </div>
                  <!-- begin card-item__img-info -->
                  <div class="card-item__img-info">
                    <div class="card-item__img-pagination swiper-pagination-custom" data-key-pagina="Фото"><div class="pagina-bulets"> <span class="pagina-bulets__item is-active"></span><span class="pagina-bulets__item"></span><span class="pagina-bulets__item"></span> </div>
        <span class="pagination__current">1</span> /
        <span class="pagination__total">3</span>
        <span class="pagination__text">Фото</span></div>
                    <div class="card-item__locate">
                      <a href="">
                        <svg class="icon icon-pin">
                          <use xlink:href="img/sprite.svg#icon-pin"></use>
                        </svg>
                        <span>Лион, FR</span>
                      </a>
                    </div>
                  </div>
                  <!-- end card-item__img-info -->
                </div>
                <!-- end card-item__img -->
                <!-- begin card-item__sale -->
                <div class="card-item__sale">
                  <span> <span class="card-item__sale-small">-</span>20<span class="card-item__sale-percent">%</span></span>
                </div>
                <!-- end card-item__sale -->
                <!-- begin card-item__nickname -->
                <div class="card-item__nickname">
                  <a href="">никнейм_Анастасия</a>
                </div>
                <!-- end card-item__nickname -->
                <!-- begin card-item__info -->
                <div class="card-item__info">
                  <!-- begin card-info__brand -->
                  <div class="card-item__brand">
                    <a href="">CHANEL</a>
                  </div>
                  <!-- end card-info__brand -->
                  <!-- begin card-item__title -->
                  <div class="card-item__title">
                    <a href="">платье с баской</a>
                  </div>
                  <!-- end card-item__title -->
                  <!-- begin card-item__price -->
                  <div class="card-item__price">
                    <div class="card-item__price-old">$380.00</div>
                    <div class="card-item__price-current">$300.00</div>
                  </div>
                  <!-- end card-item__price -->
                </div>
                <!-- end card-item__info -->
                 <!-- begin card-item__sales-info -->
                 <div class="card-item__sales-wrap more-dot" >
                    <div class="card-item__sales-info">
                        <div class="sales-info__top ">

                        </div>
                        <div class="top">
                            <div class="sales-info__title">
                                Статус
                            </div>
                            <div class="sales-info__status status-violet">В процессе доставки</div>
                        </div>
                        <div class="sales-info__num">#2354</div>
                        <div class="bottom">
                            <div class="sales-info__btn">
                                <a href="#modal-argitrage-good" uk-toggle class="btn btn-black">арбитраж</a>
                                <a href="#modal-receipt-good" uk-toggle class="btn btn-orange" >Получить товар</a>
                            </div>
                        </div>
                    </div>
                 </div>
            <!-- end card-item__sales-info -->
            
              </div>
              <!-- end card-item -->
            </div>
            <div class="">
              <!-- begin card-item -->
              <div class="card-item">
                <!-- begin card-item__img -->
                <div class="card-item__img">
                  <div class="swiper-container ">
                    <div class="swiper-wrapper" ><div class="swiper-slide  " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/3.jpg" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/2.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                    <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/3.jpg" alt="">
                        </a>
                      </div></div>
                  </div>
                  <!-- begin card-item__img-info -->
                  <div class="card-item__img-info">
                    <div class="card-item__img-pagination swiper-pagination-custom" data-key-pagina="Фото"><div class="pagina-bulets"> <span class="pagina-bulets__item is-active"></span><span class="pagina-bulets__item"></span><span class="pagina-bulets__item"></span> </div>
        <span class="pagination__current">1</span> /
        <span class="pagination__total">3</span>
        <span class="pagination__text">Фото</span></div>
                    <div class="card-item__locate">
                      <a href="">
                        <svg class="icon icon-pin">
                          <use xlink:href="img/sprite.svg#icon-pin"></use>
                        </svg>
                        <span>Лион, FR</span>
                      </a>
                    </div>
                  </div>
                  <!-- end card-item__img-info -->
                </div>
                <!-- end card-item__img -->
                <!-- begin card-item__nickname -->
                <div class="card-item__nickname">
                  <a href="">никнейм_Анастасия</a>
                </div>
                <!-- end card-item__nickname -->
                <!-- begin card-item__info -->
                <div class="card-item__info">
                  <!-- begin card-info__brand -->
                  <div class="card-item__brand">
                    <a href="">Prada</a>
                  </div>
                  <!-- end card-info__brand -->
                  <!-- begin card-item__title -->
                  <div class="card-item__title">
                    <a href="">платье с блёстками</a>
                  </div>
                  <!-- end card-item__title -->
                  <!-- begin card-item__price -->
                  <div class="card-item__price">
                    <div class="card-item__price-old">$250.00</div>
                    <div class="card-item__price-current">$20.00</div>
                  </div>
                  <!-- end card-item__price -->
                </div>
                <!-- end card-item__info -->
                 <!-- begin card-item__sales-info -->
                 <div class="card-item__sales-wrap more-dot">
                    <div class="card-item__sales-info">
                        <div class="sales-info__top ">

                        </div>
                        <div class="top">
                            <div class="sales-info__title">
                                Статус
                            </div>
                            <div class="sales-info__status status-yellow">Заказан</div>
                        </div>
                        <div class="sales-info__num">#2354</div>
                        <div class="bottom">
                            <div class="sales-info__btn">
                                <a href="#" class="btn btn-black">Перепродать</a>
                            </div>
                        </div>
                    </div>
                 </div>
            <!-- end card-item__sales-info -->
                
              </div>
              <!-- end card-item -->
            </div>
            <div class="uk-grid-margin uk-first-column">
              <!-- begin card-item -->
              <div class="card-item">
                <!-- begin card-item__img -->
                <div class="card-item__img">
                  <div class="swiper-container ">
                    <div class="swiper-wrapper" ><div class="swiper-slide  " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/4.jpg" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/2.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                    <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/4.jpg" alt="">
                        </a>
                      </div></div>
                  </div>
                  <!-- begin card-item__img-info -->
                  <div class="card-item__img-info">
                    <div class="card-item__img-pagination swiper-pagination-custom" data-key-pagina="Фото"><div class="pagina-bulets"> <span class="pagina-bulets__item is-active"></span><span class="pagina-bulets__item"></span><span class="pagina-bulets__item"></span> </div>
        <span class="pagination__current">1</span> /
        <span class="pagination__total">3</span>
        <span class="pagination__text">Фото</span></div>
                    <div class="card-item__locate">
                      <a href="">
                        <svg class="icon icon-pin">
                          <use xlink:href="img/sprite.svg#icon-pin"></use>
                        </svg>
                        <span>Лион, FR</span>
                      </a>
                    </div>
                  </div>
                  <!-- end card-item__img-info -->
                </div>
                <!-- end card-item__img -->
                <!-- begin card-item__nickname -->
                <div class="card-item__nickname">
                  <a href="">никнейм_Анастасия</a>
                </div>
                <!-- end card-item__nickname -->
                <!-- begin card-item__info -->
                <div class="card-item__info">
                  <!-- begin card-info__brand -->
                  <div class="card-item__brand">
                    <a href="">moncler</a>
                  </div>
                  <!-- end card-info__brand -->
                  <!-- begin card-item__title -->
                  <div class="card-item__title">
                    <a href="">зимняя дутая куртка</a>
                  </div>
                  <!-- end card-item__title -->
                  <!-- begin card-item__price -->
                  <div class="card-item__price">
                    <div class="card-item__price-old">$252.00</div>
                    <div class="card-item__price-current">$05.00</div>
                  </div>
                  <!-- end card-item__price -->
                </div>
                <!-- end card-item__info -->
                 <!-- begin card-item__sales-info -->
                 <div class="card-item__sales-wrap one-dot">
                    <div class="card-item__sales-info">
                        <div class="sales-info__top ">

                        </div>
                        <div class="top">
                            <div class="sales-info__title">
                                Статус
                            </div>
                            <div class="sales-info__status status-green">Доставлен</div>
                        </div>
                        <div class="sales-info__num">#2354</div>
                        <div class="bottom">
                            <div class="sales-info__btn">
                                <a href="#" class="btn btn-black">Перепродать</a>
                            </div>
                        </div>
                    </div>
                 </div>
            <!-- end card-item__sales-info -->

              </div>
              <!-- end card-item -->
            </div>
            <div class="uk-grid-margin">
              <!-- begin card-item -->
              <div class="card-item">
                <!-- begin card-item__img -->
                <div class="card-item__img">
                  <div class="swiper-container ">
                    <div class="swiper-wrapper" ><div class="swiper-slide  " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/5.jpg" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/2.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                    <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/5.jpg" alt="">
                        </a>
                      </div></div>
                  </div>
                  <!-- begin card-item__img-info -->
                  <div class="card-item__img-info">
                    <div class="card-item__img-pagination swiper-pagination-custom" data-key-pagina="Фото"><div class="pagina-bulets"> <span class="pagina-bulets__item is-active"></span><span class="pagina-bulets__item"></span><span class="pagina-bulets__item"></span> </div>
        <span class="pagination__current">1</span> /
        <span class="pagination__total">3</span>
        <span class="pagination__text">Фото</span></div>
                    <div class="card-item__locate">
                      <a href="">
                        <svg class="icon icon-pin">
                          <use xlink:href="img/sprite.svg#icon-pin"></use>
                        </svg>
                        <span>Лион, FR</span>
                      </a>
                    </div>
                  </div>
                  <!-- end card-item__img-info -->
                </div>
                <!-- end card-item__img -->
                <!-- begin card-item__nickname -->
                <div class="card-item__nickname">
                  <a href="">никнейм_Анастасия</a>
                </div>
                <!-- end card-item__nickname -->
                <!-- begin card-item__info -->
                <div class="card-item__info">
                  <!-- begin card-info__brand -->
                  <div class="card-item__brand">
                    <a href="">Miu Miu</a>
                  </div>
                  <!-- end card-info__brand -->
                  <!-- begin card-item__title -->
                  <div class="card-item__title">
                    <a href="">яркие босоножки</a>
                  </div>
                  <!-- end card-item__title -->
                  <!-- begin card-item__price -->
                  <div class="card-item__price">
                    <div class="card-item__price-old">$220.00</div>
                    <div class="card-item__price-current">$197.00</div>
                  </div>
                  <!-- end card-item__price -->
                </div>
                <!-- end card-item__info -->
                 <!-- begin card-item__sales-info  -->
                 <div class="card-item__sales-wrap one-dot">
                    <div class="card-item__sales-info">
                        <div class="sales-info__top ">

                        </div>
                        <div class="top">
                            <div class="sales-info__title">
                                Статус
                            </div>
                            <div class="sales-info__status status-violet">В процессе доставки</div>
                        </div>
                        <div class="sales-info__num">#2354</div>
                        <div class="bottom">
                            <div class="sales-info__btn">
                                <a href="#modal-argitrage-good" uk-toggle class="btn btn-black">арбитраж</a>
                                <a href="#modal-receipt-good" uk-toggle  class="btn btn-orange">Получить товар</a> 
                            </div>
                        </div>
                    </div>
                </div>
            <!-- end card-item__sales-info -->

              </div>
              <!-- end card-item -->
            </div>
            <div class="uk-grid-margin">
              <!-- begin card-item -->
              <div class="card-item">
                <!-- begin card-item__img -->
                <div class="card-item__img">
                  <div class="swiper-container ">
                    <div class="swiper-wrapper" ><div class="swiper-slide  " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/6.jpg" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/2.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                    <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/6.jpg" alt="">
                        </a>
                      </div></div>
                  </div>
                  <!-- begin card-item__img-info -->
                  <div class="card-item__img-info">
                    <div class="card-item__img-pagination swiper-pagination-custom" data-key-pagina="Фото"><div class="pagina-bulets"> <span class="pagina-bulets__item is-active"></span><span class="pagina-bulets__item"></span><span class="pagina-bulets__item"></span> </div>
        <span class="pagination__current">1</span> /
        <span class="pagination__total">3</span>
        <span class="pagination__text">Фото</span></div>
                    <div class="card-item__locate">
                      <a href="">
                        <svg class="icon icon-pin">
                          <use xlink:href="img/sprite.svg#icon-pin"></use>
                        </svg>
                        <span>Лион, FR</span>
                      </a>
                    </div>
                  </div>
                  <!-- end card-item__img-info -->
                </div>
                <!-- end card-item__img -->
                <!-- begin card-item__nickname -->
                <div class="card-item__nickname">
                  <a href="">никнейм_Анастасия</a>
                </div>
                <!-- end card-item__nickname -->
                <!-- begin card-item__info -->
                <div class="card-item__info">
                  <!-- begin card-info__brand -->
                  <div class="card-item__brand">
                    <a href="">Dolce &amp; Gabbana</a>
                  </div>
                  <!-- end card-info__brand -->
                  <!-- begin card-item__title -->
                  <div class="card-item__title">
                    <a href="">сандалии с украшениями</a>
                  </div>
                  <!-- end card-item__title -->
                  <!-- begin card-item__price -->
                  <div class="card-item__price">
                    <div class="card-item__price-old">$420.00</div>
                    <div class="card-item__price-current">$300.00</div>
                  </div>
                  <!-- end card-item__price -->
                </div>
                <!-- end card-item__info -->
                 <!-- begin card-item__sales-info -->
                 <div class="card-item__sales-wrap one-dot">
                    <div class="card-item__sales-info">
                        <div class="sales-info__top ">

                        </div>
                        <div class="top">
                            <div class="sales-info__title">
                                Статус
                            </div>
                            <div class="sales-info__status status-yellow">Заказан</div>
                        </div>
                        <div class="sales-info__num">#2354</div> 
                        <div class="bottom">
                            <div class="sales-info__btn">
                                <a href="#" class="btn btn-black">Уведомить когда появится</a>
                            </div>
                        </div>
                    </div>
                 </div>
            <!-- end card-item__sales-info -->

              </div>
              <!-- end card-item -->
            </div>
            <div class="uk-grid-margin uk-first-column">
              <!-- begin card-item -->
              <div class="card-item">
                <!-- begin card-item__img -->
                <div class="card-item__img">
                  <div class="swiper-container ">
                    <div class="swiper-wrapper" ><div class="swiper-slide  " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/7.jpg" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/2.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                    <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/7.jpg" alt="">
                        </a>
                      </div></div>
                  </div>
                  <!-- begin card-item__img-info -->
                  <div class="card-item__img-info">
                    <div class="card-item__img-pagination swiper-pagination-custom" data-key-pagina="Фото"><div class="pagina-bulets"> <span class="pagina-bulets__item is-active"></span><span class="pagina-bulets__item"></span><span class="pagina-bulets__item"></span> </div>
        <span class="pagination__current">1</span> /
        <span class="pagination__total">3</span>
        <span class="pagination__text">Фото</span></div>
                    <div class="card-item__locate">
                      <a href="">
                        <svg class="icon icon-pin">
                          <use xlink:href="img/sprite.svg#icon-pin"></use>
                        </svg>
                        <span>Лион, FR</span>
                      </a>
                    </div>
                  </div>
                  <!-- end card-item__img-info -->
                </div>
                <!-- end card-item__img -->
                <!-- begin card-item__nickname -->
                <div class="card-item__nickname">
                  <a href="">никнейм_Анастасия</a>
                </div>
                <!-- end card-item__nickname -->
                <!-- begin card-item__info -->
                <div class="card-item__info">
                  <!-- begin card-info__brand -->
                  <div class="card-item__brand">
                    <a href="">Givenchy</a>
                  </div>
                  <!-- end card-info__brand -->
                  <!-- begin card-item__title -->
                  <div class="card-item__title">
                    <a href="">платье с узором пейсли</a>
                  </div>
                  <!-- end card-item__title -->
                  <!-- begin card-item__price -->
                  <div class="card-item__price">
                    <div class="card-item__price-old">$270.00</div>
                    <div class="card-item__price-current">$180.00</div>
                  </div>
                  <!-- end card-item__price -->
                </div>
                <!-- end card-item__info -->
                 <!-- begin card-item__sales-info -->
                 <div class="card-item__sales-wrap three-dot">
                    <div class="card-item__sales-info">
                        <div class="sales-info__top ">

                        </div>
                        <div class="top">
                            <div class="sales-info__title">
                                Статус
                            </div>
                            <div class="sales-info__status status-powder">Отсутствует, 
                                заказ аннулирован</div>
                        </div>
                        <div class="sales-info__num">#23545</div>
                        <div class="bottom">
                            <div class="sales-info__btn">
                                <a href="#" class="btn btn-black">Перезаказать  или уведомить</a>
                            </div>
                        </div>
                    </div>
                 </div>
            <!-- end card-item__sales-info -->

              </div>
              <!-- end card-item -->
            </div>
            <div class="uk-grid-margin">
              <!-- begin card-item -->
              <div class="card-item">
                <!-- begin card-item__img -->
                <div class="card-item__img">
                  <div class="swiper-container ">
                    <div class="swiper-wrapper" ><div class="swiper-slide  " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/8.jpg" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/2.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                    <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/8.jpg" alt="">
                        </a>
                      </div></div>
                  </div>
                  <!-- begin card-item__img-info -->
                  <div class="card-item__img-info">
                    <div class="card-item__img-pagination swiper-pagination-custom" data-key-pagina="Фото"><div class="pagina-bulets"> <span class="pagina-bulets__item is-active"></span><span class="pagina-bulets__item"></span><span class="pagina-bulets__item"></span> </div>
        <span class="pagination__current">1</span> /
        <span class="pagination__total">3</span>
        <span class="pagination__text">Фото</span></div>
                    <div class="card-item__locate">
                      <a href="">
                        <svg class="icon icon-pin">
                          <use xlink:href="img/sprite.svg#icon-pin"></use>
                        </svg>
                        <span>Лион, FR</span>
                      </a>
                    </div>
                  </div>
                  <!-- end card-item__img-info -->
                </div>
                <!-- end card-item__img -->
                <!-- begin card-item__nickname -->
                <div class="card-item__nickname">
                  <a href="">никнейм_Анастасия</a>
                </div>
                <!-- end card-item__nickname -->
                <!-- begin card-item__info -->
                <div class="card-item__info">
                  <!-- begin card-info__brand -->
                  <div class="card-item__brand">
                    <a href="">Dolce &amp; Gabbana</a>
                  </div>
                  <!-- end card-info__brand -->
                  <!-- begin card-item__title -->
                  <div class="card-item__title">
                    <a href="">туника с вышивкой</a>
                  </div>
                  <!-- end card-item__title -->
                  <!-- begin card-item__price -->
                  <div class="card-item__price">
                    <div class="card-item__price-old">$352.00</div>
                    <div class="card-item__price-current">$252.00</div>
                  </div>
                  <!-- end card-item__price -->
                </div>
                <!-- end card-item__info -->
                <!-- begin card-item__sales-info -->
                <div class="card-item__sales-wrap three-dot">
                    <div class="card-item__sales-info">
                        <div class="sales-info__top ">

                        </div>
                        <div class="top">
                            <div class="sales-info__title">
                                Статус
                            </div>
                            <div class="sales-info__status status-green">Доставлен</div>
                        </div>
                        <div class="sales-info__num">#2354</div>
                        <div class="bottom">
                            <div class="sales-info__btn">
                                <a href="#" class="btn btn-black">Перепродать</a>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- end card-item__sales-info -->

              </div>
              <!-- end card-item -->
            </div>
            <div class="uk-grid-margin">
              <!-- begin card-item -->
              <div class="card-item">
                <!-- begin card-item__img -->
                <div class="card-item__img">
                  <div class="swiper-container ">
                    <div class="swiper-wrapper" ><div class="swiper-slide  " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/9.jpg" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/2.png" alt="">
                        </a>
                      </div>
                      <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/card/3.png" alt="">
                        </a>
                      </div>
                    <div class="swiper-slide " >
                        <a href="">
                          <img src="./img/cabinet/card/9.jpg" alt="">
                        </a>
                      </div></div>
                  </div>
                  <!-- begin card-item__img-info -->
                  <div class="card-item__img-info">
                    <div class="card-item__img-pagination swiper-pagination-custom" data-key-pagina="Фото"><div class="pagina-bulets"> <span class="pagina-bulets__item is-active"></span><span class="pagina-bulets__item"></span><span class="pagina-bulets__item"></span> </div>
        <span class="pagination__current">1</span> /
        <span class="pagination__total">3</span>
        <span class="pagination__text">Фото</span></div>
                    <div class="card-item__locate">
                      <a href="">
                        <svg class="icon icon-pin">
                          <use xlink:href="img/sprite.svg#icon-pin"></use>
                        </svg>
                        <span>Лион, FR</span>
                      </a>
                    </div>
                  </div>
                  <!-- end card-item__img-info -->
                </div>
                <!-- end card-item__img -->
                <!-- begin card-item__nickname -->
                <div class="card-item__nickname">
                  <a href="">никнейм_Анастасия</a>
                </div>
                <!-- end card-item__nickname -->
                <!-- begin card-item__info -->
                <div class="card-item__info">
                  <!-- begin card-info__brand -->
                  <div class="card-item__brand">
                    <a href="">Bottega Veneta</a>
                  </div>
                  <!-- end card-info__brand -->
                  <!-- begin card-item__title -->
                  <div class="card-item__title">
                    <a href="">Ажурный комбинезон</a>
                  </div>
                  <!-- end card-item__title -->
                  <!-- begin card-item__price -->
                  <div class="card-item__price">
                    <div class="card-item__price-old">$198.00</div>
                    <div class="card-item__price-current">$150.00</div>
                  </div>
                  <!-- end card-item__price -->
                </div>
                <!-- end card-item__info -->
                <!-- begin card-item__sales-info -->
                <div class="card-item__sales-wrap three-dot">
                    <div class="card-item__sales-info">
                        <div class="sales-info__top ">

                        </div>
                        <div class="top">
                            <div class="sales-info__title">
                                Статус
                            </div>
                            <div class="sales-info__status status-yellow">Заказан</div>
                        </div>
                        <div class="sales-info__num">#2354</div>
                        <div class="bottom">
                            <div class="sales-info__btn">
                                <a href="#" class="btn btn-black">Уведомить когда появится</a>
                            </div>
                    </div>
                    </div>
                </div>
                <!-- end card-item__sales-info -->
              </div>
              <!-- end card-item -->
            </div>
          </div>
    </div>
    </div>
    
    
  
  

	</div>

	{% include "partials/_footer.html" %}

{% endblock %}
