---
title: Index page,
cardItems: [
  {
    brand: 'Chloé',
    title: 'белый ажурный комбинезон',
    old: '$150.00',
    current: '$95.00',
    imgView: './img/cabinet/card/1.jpg'
  }
  ,{
    brand: 'CHANEL',
    title: 'платье с баской',
    old: '$380.00',
    current: '$300.00',
    sale: true,
    imgView: './img/cabinet/card/2.jpg'
  }
  ,{
    brand: 'Prada',
    title: 'платье с блёстками',
    old: '$250.00',
    current: '$20.00',
    imgView: './img/cabinet/card/3.jpg'
  }
  ,{
    brand: 'moncler',
    title: 'зимняя дутая куртка',
    old: '$252.00',
    current: '$05.00',
    imgView: './img/cabinet/card/4.jpg'
  }
  ,{
    brand: 'Miu Miu',
    title: 'яркие босоножки',
    old: '$220.00',
    current: '$197.00',
    imgView: './img/cabinet/card/5.jpg'
  }
  ,{
    brand: 'Dolce & Gabbana',
    title: 'сандалии с украшениями',
    old: '$420.00',
    current: '$300.00',
    imgView: './img/cabinet/card/6.jpg'
  }
  ,{
    brand: 'Givenchy',
    title: 'платье с узором пейсли',
    old: '$270.00',
    current: '$180.00',
    imgView: './img/cabinet/card/7.jpg'
  }
  ,{
    brand: 'Dolce & Gabbana',
    title: 'туника с вышивкой',
    old: '$352.00',
    current: '$252.00',
    imgView: './img/cabinet/card/8.jpg'
  }
  ,{
    brand: 'Bottega Veneta',
    title: 'Ажурный комбинезон',
    old: '$198.00',
    current: '$150.00',
    imgView: './img/cabinet/card/9.jpg'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header-login.html" %}
	<div class="uk-container">

    <div class="uk-grid uk-child-top-gap" uk-grid>

      <div class="uk-width-1-1 uk-flex uk-flex-between uk-flex-middle main-head">

        <ul class="uk-breadcrumb">
          <li><a href="">Главная</a></li>
          <li><span>Личный кабинет</span></li>
        </ul>

      

      </div>
      <div class="uk-width-auto is-desktop">

        <div class="nav-cabinet">
            <li class="nav-cabinet__item active"><a href="#"> Личный кабинет</a></li>
            <li class="nav-cabinet__item"><a href="purchases-cabinet.html">Покупки/продажи</a></li>
            <li class="nav-cabinet__item"><a href="#">Контент</a></li>
            <li class="nav-cabinet__item"><a href="#">Сообщения</a></li>
            <li class="nav-cabinet__item"><a href="#">Уведомления</a></li>
            <li class="nav-cabinet__item"><a href="#">Профиль</a></li>
            <li class="nav-cabinet__item"><a href="#">Настройки</a></li>
        </div>

      </div>

      <div class="cabinet-right uk-width-expand" >
        <div class="cabinet-info--top is-desktop">
            <div class="l-section">
                <div class="photo-name-user">
                    <div class="photo-wrap">
                        <div class="user-photo">
                            <button class="edit-photo"><img src="./img/cabinet/icon/edit.svg" alt=""></button>
                            <img src="./img/cabinet/seller-user.png" alt="" class="avatar">
                        </div>                        
                    </div>
                    <div class="name-wrap">
                        <div class="title-block">Личный кабинет</div>
                        <div class="name">
                            <span>Игорь Скрипник</span>
                            <a href="#" class="btn btn__black btn__uppercase">подписаться</a>
                        </div>
                    </div>
                </div>
                <div class="cabinet-metrics">
                    <div class="cabinet-metrics--switch aside-filter__item-black">
                        <span class="metrics__item-title">Метрика автора</span>
                        <label class="uk-switch">
                          <input type="checkbox" />
                          <div class="uk-switch-slider"></div>
                        </label>
                        <span class="metrics__item-title">Метрика покупателя</span>
                    </div>
                    <div class="cabinet-metrics--value">
                        <div class="metrics-value_item">
                            <div class="num">25</div>
                            <div class="title">публикаций</div>
                        </div>
                        <div class="metrics-value_item">
                            <div class="num">425</div>
                            <div class="title">Покупки</div>
                        </div>
                        <div class="metrics-value_item">
                            <div class="num">127</div>
                            <div class="title">подписки</div>
                        </div>
                        <div class="metrics-value_item">
                            <div class="num">42</div>
                            <div class="title">Подписчики</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="r-section">
                <div class="r-title">Моя репутация</div>
                <div class="rating-wrap">
                    <div class="rating__item">
                        <div class="star-wrap">
                            <div class="title-star">контент</div>
                            <div class="rate">
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" checked />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>                               
                                
                              </div>
                        </div>
                        <a href="#" class="reviews-link">17 отзывов</a>
                    </div>
                </div>
            </div>
            <div class="b-section invite-friend">
                <div class="title-intive">
                    <img src="./img/cabinet/icon/money.svg" alt="">
                    <span>пригласи друга и каждый получите купон на кэшбек с покупок</span>
                </div>
                <a href="#" class="link-invite">Пригласить друзей</a>
            </div>
        </div>

        {% include "partials/_mobile-profile-header.html" %}

        <ul class="cabinet-list-nav">
          <li class="cabinet-list-nav__item active"><a href="#">Список желаний</a></li>
          <li class="cabinet-list-nav__item"><a href="#">Лайки</a></li>
        </ul>
      
      <div class=" uk-grid uk-child-width-1-3@l uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-medium-card" uk-grid>

       

        {% for item in cardItems %}
          <div class="">{% include "components/_card-item-cabinet.html" %}</div>
        {% endfor %}

      </div>
    </div>
    </div>
    
  
  
  

	</div>

	{% include "partials/_footer.html" %}

{% endblock %}
