---
title: Index page,

---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	{% include "partials/_header-login.html" %}
	<div class="uk-container">

    <div class="uk-grid uk-child-top-gap" uk-grid>

      <div class="uk-width-1-1 uk-flex uk-flex-between uk-flex-middle main-head">

        <ul class="uk-breadcrumb">
          <li><a href="">Главная</a></li>
          <li><span>Профиль</span></li>
        </ul>

      

      </div>
      <div class="uk-width-auto is-desktop">

        <div class="nav-cabinet">
            <li class="nav-cabinet__item "><a href="personal-cabinet.html"> Личный кабинет</a></li>
            <li class="nav-cabinet__item "><a href="#">Покупки/продажи</a></li>
            <li class="nav-cabinet__item"><a href="content-cabinet.html">Контент</a></li>
            <li class="nav-cabinet__item"><a href="#">Сообщения</a></li>
            <li class="nav-cabinet__item"><a href="#">Уведомления</a></li>
            <li class="nav-cabinet__item "><a href="#">Профиль</a></li>
            <li class="nav-cabinet__item active" ><a href="#">Настройки</a></li>
        </div>

      </div>
      <div class="cabinet-right uk-width-expand" >
        <div class="setting-table">    
            <div class="title-top">Настройки</div>
            <div class="group-setting border-dott">
                
                <div class="group-setting__item-top  group-setting__item-top__has-checkbox">
                    <div class="group-setting__item-icon is-mobile">
                        {{mixins.icon('protect')}}
                    </div>
                    <div class="l-section">
                        Безопасность
                    </div>
                    <div class="r-section">
                        Смена пароля
                    </div>

                    <div class="group-setting__item-top__checkbox is-mobile">
                        <label class="uk-switch">
                            <input type="checkbox" />
                            <div class="uk-switch-slider"></div>
                        </label>
                    </div>

                    
                </div>
                <div class="group-setting__item">
                    <div class="l-section">
                        Новый пароль
                    </div>
                    <div class="r-section">
                        <div class="input-group">
                            <input type="password" class="form-control password-input" name="password" required autocomplete="" minlength="6" value="123456">
                            <a href="#" class="toggle-password">
                                <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 0C16.4822 0 21.0433 3.66444 22 8.5C21.0443 13.3356 16.4822 17 11 17C5.51779 17 0.956743 13.3356 0 8.5C0.955726 3.66444 5.51779 0 11 0ZM11 15.1111C13.0736 15.1107 15.0856 14.4564 16.7068 13.2554C18.3279 12.0544 19.4621 10.3778 19.9238 8.5C19.4604 6.62368 18.3255 4.94889 16.7045 3.74947C15.0835 2.55005 13.0724 1.89694 11 1.89694C8.9276 1.89694 6.9165 2.55005 5.29551 3.74947C3.67452 4.94889 2.53955 6.62368 2.07616 8.5C2.53786 10.3778 3.6721 12.0544 5.29324 13.2554C6.91439 14.4564 8.92641 15.1107 11 15.1111ZM11 12.75C9.78656 12.75 8.62282 12.3022 7.76479 11.5052C6.90675 10.7082 6.42472 9.62717 6.42472 8.5C6.42472 7.37283 6.90675 6.29183 7.76479 5.4948C8.62282 4.69777 9.78656 4.25 11 4.25C12.2134 4.25 13.3772 4.69777 14.2352 5.4948C15.0932 6.29183 15.5753 7.37283 15.5753 8.5C15.5753 9.62717 15.0932 10.7082 14.2352 11.5052C13.3772 12.3022 12.2134 12.75 11 12.75ZM11 10.8611C11.6741 10.8611 12.3207 10.6124 12.7973 10.1696C13.274 9.72676 13.5418 9.12621 13.5418 8.5C13.5418 7.87379 13.274 7.27324 12.7973 6.83044C12.3207 6.38765 11.6741 6.13889 11 6.13889C10.3259 6.13889 9.67934 6.38765 9.20266 6.83044C8.72597 7.27324 8.45818 7.87379 8.45818 8.5C8.45818 9.12621 8.72597 9.72676 9.20266 10.1696C9.67934 10.6124 10.3259 10.8611 11 10.8611Z" fill="#1C1C1C"/>
                                </svg>                                    
                            </a>
                         </div>
                    </div>
                </div>
                <div class="group-setting__item">
                    
                    <div class="l-section">
                        Старый пароль
                    </div>
                    <div class="r-section">
                        <div class="input-group">
                            <input type="password" class="form-control password-input" name="password" required autocomplete="" minlength="6" value="123456">
                            <a href="#" class="toggle-password">
                                <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 0C16.4822 0 21.0433 3.66444 22 8.5C21.0443 13.3356 16.4822 17 11 17C5.51779 17 0.956743 13.3356 0 8.5C0.955726 3.66444 5.51779 0 11 0ZM11 15.1111C13.0736 15.1107 15.0856 14.4564 16.7068 13.2554C18.3279 12.0544 19.4621 10.3778 19.9238 8.5C19.4604 6.62368 18.3255 4.94889 16.7045 3.74947C15.0835 2.55005 13.0724 1.89694 11 1.89694C8.9276 1.89694 6.9165 2.55005 5.29551 3.74947C3.67452 4.94889 2.53955 6.62368 2.07616 8.5C2.53786 10.3778 3.6721 12.0544 5.29324 13.2554C6.91439 14.4564 8.92641 15.1107 11 15.1111ZM11 12.75C9.78656 12.75 8.62282 12.3022 7.76479 11.5052C6.90675 10.7082 6.42472 9.62717 6.42472 8.5C6.42472 7.37283 6.90675 6.29183 7.76479 5.4948C8.62282 4.69777 9.78656 4.25 11 4.25C12.2134 4.25 13.3772 4.69777 14.2352 5.4948C15.0932 6.29183 15.5753 7.37283 15.5753 8.5C15.5753 9.62717 15.0932 10.7082 14.2352 11.5052C13.3772 12.3022 12.2134 12.75 11 12.75ZM11 10.8611C11.6741 10.8611 12.3207 10.6124 12.7973 10.1696C13.274 9.72676 13.5418 9.12621 13.5418 8.5C13.5418 7.87379 13.274 7.27324 12.7973 6.83044C12.3207 6.38765 11.6741 6.13889 11 6.13889C10.3259 6.13889 9.67934 6.38765 9.20266 6.83044C8.72597 7.27324 8.45818 7.87379 8.45818 8.5C8.45818 9.12621 8.72597 9.72676 9.20266 10.1696C9.67934 10.6124 10.3259 10.8611 11 10.8611Z" fill="#1C1C1C"/>
                                </svg>                                    
                            </a>
                         </div>
                    </div>
                </div>
                <div class="group-setting__item">
                    <div class="l-section">
                        Подтвердить пароль
                    </div>
                    <div class="r-section">
                        <div class="input-group">
                            <input type="password" class="form-control password-input" name="password" required autocomplete="" minlength="6" value="123456">
                            <a href="#" class="toggle-password">
                                <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 0C16.4822 0 21.0433 3.66444 22 8.5C21.0443 13.3356 16.4822 17 11 17C5.51779 17 0.956743 13.3356 0 8.5C0.955726 3.66444 5.51779 0 11 0ZM11 15.1111C13.0736 15.1107 15.0856 14.4564 16.7068 13.2554C18.3279 12.0544 19.4621 10.3778 19.9238 8.5C19.4604 6.62368 18.3255 4.94889 16.7045 3.74947C15.0835 2.55005 13.0724 1.89694 11 1.89694C8.9276 1.89694 6.9165 2.55005 5.29551 3.74947C3.67452 4.94889 2.53955 6.62368 2.07616 8.5C2.53786 10.3778 3.6721 12.0544 5.29324 13.2554C6.91439 14.4564 8.92641 15.1107 11 15.1111ZM11 12.75C9.78656 12.75 8.62282 12.3022 7.76479 11.5052C6.90675 10.7082 6.42472 9.62717 6.42472 8.5C6.42472 7.37283 6.90675 6.29183 7.76479 5.4948C8.62282 4.69777 9.78656 4.25 11 4.25C12.2134 4.25 13.3772 4.69777 14.2352 5.4948C15.0932 6.29183 15.5753 7.37283 15.5753 8.5C15.5753 9.62717 15.0932 10.7082 14.2352 11.5052C13.3772 12.3022 12.2134 12.75 11 12.75ZM11 10.8611C11.6741 10.8611 12.3207 10.6124 12.7973 10.1696C13.274 9.72676 13.5418 9.12621 13.5418 8.5C13.5418 7.87379 13.274 7.27324 12.7973 6.83044C12.3207 6.38765 11.6741 6.13889 11 6.13889C10.3259 6.13889 9.67934 6.38765 9.20266 6.83044C8.72597 7.27324 8.45818 7.87379 8.45818 8.5C8.45818 9.12621 8.72597 9.72676 9.20266 10.1696C9.67934 10.6124 10.3259 10.8611 11 10.8611Z" fill="#1C1C1C"/>
                                </svg>                                    
                            </a>
                         </div>
                    </div>
                </div>
                <div class="apply-group">
                    <button >
                        <svg width="19" height="14" viewBox="0 0 19 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.7186 0.896273L16.5609 0.744059L16.4032 0.896338L7.21829 9.76955L2.34486 5.06204L2.18717 4.90973L2.02949 5.06204L0.592316 6.45028L0.423322 6.61353L0.592316 6.77677L7.06061 13.0248L7.21829 13.1772L7.37598 13.0248L18.1568 2.61106L18.3259 2.44776L18.1567 2.28452L16.7186 0.896273Z" fill="#1C1C1C" stroke="#1C1C1C" stroke-width="0.453924"/>
                        </svg>
                        <span>обновить пароль</span>    
                    </button>
                </div>
            </div>

            <div class="group-setting group-setting__checkbox">
                
                <div class="group-setting__item-top  group-setting__item-top__has-checkbox">
                    <div class="group-setting__item-icon is-mobile">
                        {{mixins.icon('notif1')}}
                    </div>
                    <div class="l-section">
                        Уведомления
                    </div>
                    <div class="r-section">
                        Cообщения
                    </div>
                    <div class="group-setting__item-top__checkbox is-mobile">
                        <label class="uk-switch">
                            <input type="checkbox" />
                            <div class="uk-switch-slider"></div>
                        </label>
                    </div>
                </div>
                <div class="group-setting__item">
                    <div class="l-section">
                        <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox"> <span>электронная почта</span> </label>
                        <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox"> <span>смс-уведомления</span> </label>
                        <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox"> <span>push-уведомления</span> </label>
                    </div>
                </div>
            </div>

            <div class="group-setting group-setting__checkbox">
                
                <div class="group-setting__item-top group-setting__item-top__has-checkbox">
                    <div class="group-setting__item-icon is-mobile">
                        {{mixins.icon('notif1')}}
                    </div>
                    <div class="l-section">
                        Уведомления
                    </div>
                    <div class="r-section">
                        Уведомления
                    </div>
                    <div class="group-setting__item-top__checkbox is-mobile">
                        <label class="uk-switch">
                            <input type="checkbox" />
                            <div class="uk-switch-slider"></div>
                        </label>
                    </div>
                </div>
                <div class="group-setting__item">
                    <div class="l-section">
                        <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox"> <span>электронная почта</span> </label>
                        <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox"> <span>смс-уведомления</span> </label>
                        <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox"> <span>push-уведомления</span> </label>
                    </div>
                </div>
            </div>

            <div class="group-setting group-setting__checkbox">
                
                <div class="group-setting__item-top group-setting__item-top__has-checkbox">
                    <div class="group-setting__item-icon is-mobile">
                        {{mixins.icon('notif1')}}
                    </div>
                    <div class="l-section">
                        Уведомления
                    </div>
                    <div class="r-section">
                        Предпочтения
                    </div>
                    <div class="group-setting__item-top__checkbox is-mobile">
                        <label class="uk-switch">
                            <input type="checkbox" />
                            <div class="uk-switch-slider"></div>
                        </label>
                    </div>
                </div>
                <div class="group-setting__item">
                    <div class="l-section">
                        <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox"> <span>электронная почта</span> </label>
                        <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox"> <span>смс-уведомления</span> </label>
                        <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox"> <span>push-уведомления</span> </label>
                    </div>
                </div>
            </div>

            <div class="group-setting pay-wrap" >
                
                <div class="group-setting__item-top group-setting__item-top__alternate ">
                    <div class="group-setting__item-icon is-mobile">
                        {{mixins.icon('paytype')}}
                    </div>
                    <div class="r-section">
                        Способы оплаты
                    </div>
                    <div class="l-section  is-mobile ">
                        Предпочтительный способ выплаты
                    </div>
                </div>
                <div class="group-setting__item">
                   <div class="pay-item">
                        <div class="cart-icon"><img src="./img/cabinet/master.jpg" alt=""></div>
                        <div class="cart-num"><input type="text" value="5483" readonly></div> /
                        <div class="cart-name">Igor Skripnik</div>
                        <div class="cart-date"><span class="cart-date__month">11</span>/<span class="cart-date__year">20</span></div>
                        <button class="cart-edit">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5326 1.004L9.00135 2.53523H1.53123V13.2539H12.2499V5.78374L13.7811 4.25251V14.0195C13.7811 14.2225 13.7004 14.4173 13.5569 14.5609C13.4133 14.7044 13.2185 14.7851 13.0155 14.7851H0.765617C0.562562 14.7851 0.367825 14.7044 0.224244 14.5609C0.0806629 14.4173 0 14.2225 0 14.0195V1.76961C0 1.56656 0.0806629 1.37182 0.224244 1.22824C0.367825 1.08466 0.562562 1.004 0.765617 1.004H10.5326ZM13.3868 0.314941L14.4702 1.39905L7.43261 8.4366L6.35155 8.4389L6.35002 7.35402L13.3868 0.314941Z" fill="#1C1C1C"/>
                            </svg>
                            Изменить
                        </button>
                        <button class="cart-delete">
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.76754 2.42479V0.893555H12.4237V2.42479H16.2518V3.95602H14.7206V15.4403C14.7206 15.6433 14.6399 15.8381 14.4963 15.9816C14.3527 16.1252 14.158 16.2059 13.9549 16.2059H3.2363C3.03325 16.2059 2.83851 16.1252 2.69493 15.9816C2.55135 15.8381 2.47069 15.6433 2.47069 15.4403V3.95602H0.939453V2.42479H4.76754ZM4.00192 3.95602V14.6747H13.1893V3.95602H4.00192ZM6.29877 6.25287H7.83V12.3778H6.29877V6.25287ZM9.36123 6.25287H10.8925V12.3778H9.36123V6.25287Z" fill="#1C1C1C"/>
                            </svg>
                            Удалить
                        </button>
                     </div>
                    <div class="pay-item">
                        <div class="cart-icon"><img src="./img/cabinet/visa.jpg" alt=""></div>
                        <div class="cart-num"><input type="text" value="5483" readonly></div>/
                        <div class="cart-name">Igor Skripnik</div>
                        <div class="cart-date"><span class="cart-date__month">11</span>/<span class="cart-date__year">20</span></div>
                        <button class="cart-edit">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5326 1.004L9.00135 2.53523H1.53123V13.2539H12.2499V5.78374L13.7811 4.25251V14.0195C13.7811 14.2225 13.7004 14.4173 13.5569 14.5609C13.4133 14.7044 13.2185 14.7851 13.0155 14.7851H0.765617C0.562562 14.7851 0.367825 14.7044 0.224244 14.5609C0.0806629 14.4173 0 14.2225 0 14.0195V1.76961C0 1.56656 0.0806629 1.37182 0.224244 1.22824C0.367825 1.08466 0.562562 1.004 0.765617 1.004H10.5326ZM13.3868 0.314941L14.4702 1.39905L7.43261 8.4366L6.35155 8.4389L6.35002 7.35402L13.3868 0.314941Z" fill="#1C1C1C"/>
                            </svg>
                            Изменить
                        </button>
                        <button class="cart-delete">
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M4.76754 2.42479V0.893555H12.4237V2.42479H16.2518V3.95602H14.7206V15.4403C14.7206 15.6433 14.6399 15.8381 14.4963 15.9816C14.3527 16.1252 14.158 16.2059 13.9549 16.2059H3.2363C3.03325 16.2059 2.83851 16.1252 2.69493 15.9816C2.55135 15.8381 2.47069 15.6433 2.47069 15.4403V3.95602H0.939453V2.42479H4.76754ZM4.00192 3.95602V14.6747H13.1893V3.95602H4.00192ZM6.29877 6.25287H7.83V12.3778H6.29877V6.25287ZM9.36123 6.25287H10.8925V12.3778H9.36123V6.25287Z" fill="#1C1C1C"/>
                            </svg>
                            Удалить
                        </button>
                     </div>
                </div>
                <div class="apply-group">
                    <button >
                        <span>Добавить способ оплаты</span>    
                    </button>
                </div>
            </div>
            <div class="group-setting border-dott">
                
                <div class="group-setting__item-top  group-setting__item-top__alternate">
                    <div class="group-setting__item-icon is-mobile">
                        {{mixins.icon('paytypedown')}}
                    </div>
                    <div class="r-section">
                        Предпочтительный способ выплаты
                    </div>
                    <div class="l-section is-mobile">
                        Предпочтительный способ выплаты
                    </div>
                </div>
                <div class="group-setting__item">
                    <div class="l-section">
                        Cтрана платежного адреса
                    </div>
                    <div class="r-section">
                        Украина
                    </div>
                </div>
                <div class="group-setting__item">
                    <div class="l-section">
                        Cпособы выплаты в стране
                    </div>
                    <div class="r-section">
                        <select name="" id="">
                            <option value="paypal">paypal</option>
                            <option value="paypal">master</option>
                            <option value="paypal">visa</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="group-setting group-setting-social border-dott">
                
                <div class="group-setting__item-top">
                    <div class="group-setting__item-icon is-mobile">
                        {{mixins.icon('social')}}
                    </div>
                    <div class="l-section">
                        Социальные сети
                    </div>
                    <div class="r-section">
                        Делитесь публикациями одним нажатием
                    </div>
                </div>
                <div class="group-setting__item has-mobile-clear-item">
                    <div class="l-section">
                        <div class="soc__item">
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.2222 17.8188H17.7778V2.26324H2.22222V17.8188H10V12.2632H7.77778V10.041H10V8.20324C10 6.71768 10.1556 6.17879 10.4444 5.63546C10.729 5.09789 11.1688 4.65845 11.7067 4.37435C12.1311 4.14657 12.6589 4.0099 13.5811 3.95102C13.9467 3.92768 14.42 3.95657 15.0011 4.0399V6.15102H14.4444C13.4256 6.15102 13.0044 6.19879 12.7533 6.33324C12.6035 6.4103 12.4815 6.53229 12.4044 6.68213C12.2711 6.93324 12.2222 7.18213 12.2222 8.20213V10.041H15L14.4444 12.2632H12.2222V17.8188ZM1.11111 0.0410156H18.8889C19.1836 0.0410156 19.4662 0.158079 19.6746 0.366452C19.8829 0.574826 20 0.857442 20 1.15213V18.9299C20 19.2246 19.8829 19.5072 19.6746 19.7156C19.4662 19.924 19.1836 20.041 18.8889 20.041H1.11111C0.816426 20.041 0.533811 19.924 0.325437 19.7156C0.117063 19.5072 0 19.2246 0 18.9299V1.15213C0 0.857442 0.117063 0.574826 0.325437 0.366452C0.533811 0.158079 0.816426 0.0410156 1.11111 0.0410156Z" fill="#1C1C1C"/>
                            </svg>
                            <span>Вы подключены к Facebook</span>
                        </div>
                    </div>
                    <div class="r-section ">
                        <button class="soc-btn soc-btn__remove">
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.82808 2.42479V0.893555H11.4842V2.42479H15.3123V3.95602H13.7811V15.4403C13.7811 15.6433 13.7004 15.8381 13.5569 15.9816C13.4133 16.1252 13.2185 16.2059 13.0155 16.2059H2.29685C2.0938 16.2059 1.89906 16.1252 1.75548 15.9816C1.6119 15.8381 1.53123 15.6433 1.53123 15.4403V3.95602H0V2.42479H3.82808ZM3.06247 3.95602V14.6747H12.2499V3.95602H3.06247ZM5.35932 6.25287H6.89055V12.3778H5.35932V6.25287ZM8.42178 6.25287H9.95302V12.3778H8.42178V6.25287Z" fill="#1C1C1C"/>
                            </svg>
                            <span>Удалить привязвку</span>
                        </button>
                    </div>
                </div>
                <div class="group-setting__item has-mobile-clear-item">
                    <div class="l-section">
                        <div class="soc__item">
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10 7.04102C9.20435 7.04102 8.44129 7.35709 7.87868 7.91969C7.31607 8.4823 7 9.24537 7 10.041C7 10.8367 7.31607 11.5997 7.87868 12.1623C8.44129 12.7249 9.20435 13.041 10 13.041C10.7956 13.041 11.5587 12.7249 12.1213 12.1623C12.6839 11.5997 13 10.8367 13 10.041C13 9.24537 12.6839 8.4823 12.1213 7.91969C11.5587 7.35709 10.7956 7.04102 10 7.04102ZM10 5.04102C11.3261 5.04102 12.5979 5.5678 13.5355 6.50548C14.4732 7.44316 15 8.71493 15 10.041C15 11.3671 14.4732 12.6389 13.5355 13.5765C12.5979 14.5142 11.3261 15.041 10 15.041C8.67392 15.041 7.40215 14.5142 6.46447 13.5765C5.52678 12.6389 5 11.3671 5 10.041C5 8.71493 5.52678 7.44316 6.46447 6.50548C7.40215 5.5678 8.67392 5.04102 10 5.04102ZM16.5 4.79102C16.5 5.12254 16.3683 5.44048 16.1339 5.6749C15.8995 5.90932 15.5815 6.04102 15.25 6.04102C14.9185 6.04102 14.6005 5.90932 14.3661 5.6749C14.1317 5.44048 14 5.12254 14 4.79102C14 4.4595 14.1317 4.14155 14.3661 3.90713C14.6005 3.67271 14.9185 3.54102 15.25 3.54102C15.5815 3.54102 15.8995 3.67271 16.1339 3.90713C16.3683 4.14155 16.5 4.4595 16.5 4.79102ZM10 2.04102C7.526 2.04102 7.122 2.04802 5.971 2.09902C5.187 2.13602 4.661 2.24102 4.173 2.43102C3.739 2.59902 3.426 2.80002 3.093 3.13402C2.78001 3.43641 2.53935 3.8056 2.389 4.21402C2.199 4.70402 2.094 5.22902 2.058 6.01202C2.006 7.11602 2 7.50202 2 10.041C2 12.515 2.007 12.919 2.058 14.07C2.095 14.853 2.2 15.38 2.389 15.867C2.559 16.302 2.759 16.615 3.091 16.947C3.428 17.283 3.741 17.484 4.171 17.65C4.665 17.841 5.191 17.947 5.971 17.983C7.075 18.035 7.461 18.041 10 18.041C12.474 18.041 12.878 18.034 14.029 17.983C14.811 17.946 15.338 17.841 15.826 17.652C16.259 17.483 16.574 17.282 16.906 16.95C17.243 16.613 17.444 16.3 17.61 15.87C17.8 15.377 17.906 14.85 17.942 14.07C17.994 12.966 18 12.58 18 10.041C18 7.56702 17.993 7.16302 17.942 6.01202C17.905 5.23002 17.8 4.70202 17.61 4.21402C17.4593 3.80602 17.2191 3.43698 16.907 3.13402C16.6047 2.82086 16.2355 2.58018 15.827 2.43002C15.337 2.24002 14.811 2.13502 14.029 2.09902C12.925 2.04702 12.539 2.04102 10 2.04102ZM10 0.0410156C12.717 0.0410156 13.056 0.0510156 14.122 0.101016C15.187 0.151016 15.912 0.318016 16.55 0.566016C17.21 0.820016 17.766 1.16402 18.322 1.71902C18.8305 2.21891 19.224 2.8236 19.475 3.49102C19.722 4.12802 19.89 4.85402 19.94 5.91902C19.987 6.98502 20 7.32402 20 10.041C20 12.758 19.99 13.097 19.94 14.163C19.89 15.228 19.722 15.953 19.475 16.591C19.2247 17.2588 18.8311 17.8636 18.322 18.363C17.822 18.8713 17.2173 19.2648 16.55 19.516C15.913 19.763 15.187 19.931 14.122 19.981C13.056 20.028 12.717 20.041 10 20.041C7.283 20.041 6.944 20.031 5.878 19.981C4.813 19.931 4.088 19.763 3.45 19.516C2.78233 19.2655 2.17753 18.872 1.678 18.363C1.16941 17.8632 0.775931 17.2585 0.525 16.591C0.277 15.954 0.11 15.228 0.0599999 14.163C0.0129999 13.097 0 12.758 0 10.041C0 7.32402 0.00999994 6.98502 0.0599999 5.91902C0.11 4.85302 0.277 4.12902 0.525 3.49102C0.775236 2.82319 1.1688 2.21834 1.678 1.71902C2.17767 1.21025 2.78243 0.816745 3.45 0.566016C4.088 0.318016 4.812 0.151016 5.878 0.101016C6.944 0.0540156 7.283 0.0410156 10 0.0410156Z" fill="#1C1C1C"/>
                            </svg>
                            <span>Вы подключены к Instagram</span>
                        </div>
                    </div>
                    <div class="r-section">
                        <button class="soc-btn soc-btn__remove">
                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.82808 2.42479V0.893555H11.4842V2.42479H15.3123V3.95602H13.7811V15.4403C13.7811 15.6433 13.7004 15.8381 13.5569 15.9816C13.4133 16.1252 13.2185 16.2059 13.0155 16.2059H2.29685C2.0938 16.2059 1.89906 16.1252 1.75548 15.9816C1.6119 15.8381 1.53123 15.6433 1.53123 15.4403V3.95602H0V2.42479H3.82808ZM3.06247 3.95602V14.6747H12.2499V3.95602H3.06247ZM5.35932 6.25287H6.89055V12.3778H5.35932V6.25287ZM8.42178 6.25287H9.95302V12.3778H8.42178V6.25287Z" fill="#1C1C1C"/>
                            </svg>
                            <span>Удалить привязвку</span>
                        </button>
                    </div>
                </div>
                <div class="group-setting__item has-mobile-clear-item">
                    <div class="l-section">
                        <div class="soc__item">
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.08572 5.55102C1.9347 3.89426 3.23712 2.50153 4.84738 1.52848C6.45764 0.555442 8.31231 0.0404321 10.2041 0.0410161C12.9541 0.0410161 15.2643 1.03102 17.0306 2.64602L14.1051 5.51402C13.0469 4.52302 11.702 4.01802 10.2041 4.01802C7.54592 4.01802 5.29592 5.77802 4.4949 8.14102C4.29082 8.74102 4.17449 9.38102 4.17449 10.041C4.17449 10.701 4.29082 11.341 4.4949 11.941C5.29694 14.305 7.54592 16.064 10.2041 16.064C11.5765 16.064 12.7449 15.709 13.6592 15.109C14.1892 14.767 14.643 14.3232 14.9931 13.8045C15.3431 13.2858 15.5822 12.7029 15.6959 12.091H10.2041V8.22302H19.8143C19.9347 8.87702 20 9.55902 20 10.268C20 13.314 18.8878 15.878 16.9571 17.618C15.2694 19.146 12.9592 20.041 10.2041 20.041C8.86391 20.0415 7.53677 19.7832 6.29851 19.2809C5.06026 18.7785 3.93515 18.0419 2.98751 17.1133C2.03987 16.1846 1.28826 15.082 0.775648 13.8685C0.263035 12.655 -0.000535573 11.3544 8.17055e-07 10.041C8.17055e-07 8.42702 0.393878 6.90102 1.08572 5.55102Z" fill="#1C1C1C"/>
                            </svg>
                            <span>еще не подключен</span>
                        </div>
                    </div>
                    <div class="r-section">                        
                        <button class="soc-btn soc-add">
                            <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.57143 5.61244V0.0410156H7.42857V5.61244H13V7.46959H7.42857V13.041H5.57143V7.46959H0V5.61244H5.57143Z" fill="#1C1C1C"/>
                            </svg>
                            <span>Привязать аккаунт</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
      </div>


    
    </div>
    
    
  
  

	</div>

	{% include "partials/_footer.html" %}

{% endblock %}
