.form-auth
  width: 100%
  max-width: 580px
  margin: 0 auto
  margin-top: 70px
  margin-bottom: 10px !important
  border: 2px solid #1C1C1C
  +r($mobbig)
    margin-top: 16px
    border: none
  &__no-margin
    margin: 0 !important
  &__item
    border-bottom: 2px solid #1C1C1C
    padding: 25px
    padding-bottom: 16px
    display: flex
    flex-wrap: wrap
    box-sizing: border-box
    position: relative
    +r($mobbig)
      display: flex
      min-height: 50px
      align-items: center
      padding: 13px
      padding-bottom: 10px
      padding-left: 13px
      padding-right: 13px
      border-bottom: 1px solid #1c1c1c
      box-sizing: border-box
    &-no-gap
      padding: 0
      .btn
        width: 100%
        border: none
        display: flex
        justify-content: center
        align-items: center
        padding: 10px
        padding-top: 25px
        padding-bottom: 19px
        cursor: pointer
        +r($mobbig)
          font-size: 18px
          height: 50px
          padding-top: 0
          padding-bottom: 0
          display: flex
          align-items: center
        span
          display: flex
          align-items: center
          svg
            margin-left: 13px
            width: 14px
            height: 14px
    &-m-top
      border-bottom: unset
      border-top: 2px solid #1C1C1C
      margin-top: 53px
      +r($mobbig)
        margin-top: 0px
        border-top: 1px solid #1C1C1C
    &-no-border
      border-bottom: none
      +r($mobbig)
        border-bottom: none
    &-solid-mobile
      +r($mobbig)
        border-bottom: 1px solid #1C1C1C !important
    &-bottom-m
      +r($mobbig)
        margin-bottom: 35px
    &-pol
      font-size: 12px
      padding-top: 21px
      padding-bottom: 21px
      +r($mobbig)
        border-bottom: none !important
        .t-normal
          font-size: 12px
      a
        color: #2f2f2f
        text-decoration: underline
      
    &-dashed
      border-bottom: 1px dashed #1C1C1C
    &-grey
      > * 
        color: #828282 !important 
    .form__input
      flex: 1
    &-has-inner
      padding: 0
    &-inner
      padding: 25px
      padding-bottom: 16px
      display: flex
      flex-wrap: wrap
      +r($mobbig)
        padding: 18px
        padding-bottom: 14px
        padding-left: 13px
        padding-right: 13px
      &-gap
        &--s
          padding-left: 18px
          padding-right: 18px
          padding-bottom: 17px
          padding-top: 23px
          +r($mobbig)
            padding-top: 15px
            padding-left: 13px
            padding-right: 13px
            padding-bottom: 15px
            min-height: 50px
            display: flex
            align-items: center
          .form__input
            padding-left: 0
            padding-right: 0
          
      .form__input
        flex: 1
        min-width: 50px
      &-50
        width: 50%
        &:first-of-type
          border-right: 2px solid #1c1c1c
          +r($mobbig)
            border-bottom: 1px solid #1c1c1c
            border-right: 0
        +r($mobbig)
          width: 100%
          border-right: 0
          border-left: 0
      &-33
        width: 33.332%
        border-right: 2px solid #1c1c1c
        &:last-of-type
          
          border-right: none
        +r($mobbig)
          border-left: 0
          width: 100%
          border-right: 0
          &:nth-child(1)
            width: 50%
            border-right: 1px solid #1c1c1c
            border-bottom: 1px solid #1c1c1c
          &:nth-child(2)
            width: 50%
            border-bottom: 1px solid #1c1c1c
  &__top
    border-bottom: 2px solid #1C1C1C
    padding: 26px 29px
    padding-bottom: 16px
    +r($mobbig)
      border-width: 1px
      padding-top: 0
  &__title
    text-transform: uppercase
    font-size: 30px
    color: #1c1c1c
    +nitti
    text-align: center
    +r($mobbig)
      font-size: 23px
      line-height: 25px
  &__bot
    width: 100%
    display: flex
    flex-wrap: wrap
    margin-top: 53px
    +r($mobbig)
      margin-top: 36px
    &-no-margin
      margin-top: 0
    &-full
      width: 100% !important
      flex: 1 0 100% !important
      max-width: 100% !important
    &-no-m
      margin-top: 0
    .btn
      flex: 1 0 50%
      width: 50%
      max-width: 50%
      box-sizing: border-box
      display: flex
      justify-content: center
      align-items: center
      line-height: 60px
      border-bottom: none
      border-right: none
      +r($mobbig)
        font-size: 18px
        flex: 1 0 100%
        width: 100%
        max-width: 100% 
        margin-bottom: 20px
        height: 50px
        &.btn__insta
          order: -1
      &__transparent
        border-top: 2px solid #1c1c1c
        +r($mobbig)
          border: 2px solid #1c1c1c
    + .form-auth__item
      border-top: 2px solid #1c1c1c
      border-bottom: none
      +r($mobbig)
        border-top: none
        padding-top: 0px
        &.form-auth__item-pol 
          
          .t-normal
            font-size: 15px
            display: flex
            flex-direction: column
            align-items: center