.nav-cabinet
    width: 230px
    margin-right: 25px
    border: 1px solid #1C1C1C
    &__item
        border-bottom: 1px solid #1C1C1C
        a
            font-size: 16px
            color: #2f2f2f
            display: flex
            height: 43px
            justify-content: flex-start
            align-items: center
            +nitti
            text-transform: uppercase
            padding-left: 25px
            text-decoration: none
            position: relative
        &.active
            a
                color: #F2521C
                &::before
                    content: ''
                    position: absolute
                    left: 0
                    top: 0
                    bottom: 0
                    width: 6px
                    background: #F2521C

        &:last-child
            border-bottom: 0

.cabinet-info--top
    border: 2px solid #000000
    display: flex
    justify-content: flex-start
    align-items: stretch
    flex-wrap: wrap
    color: #1C1C1C
    margin-bottom: 50px
    +nitti
    .l-section
        width: 57%
        max-width: 496px
        border-right: 2px solid #000
        border-bottom: 2px solid #000
        +r(1250)
            width: 100%
            max-width: 100% 
            border-right: 0
        .photo-name-user
            display: flex
            justify-content: flex-start
            align-items: stretch
            .photo-wrap
                width: 155px
                min-width: 155px
                border-right: 2px solid #000
                border-bottom: 2px solid #000
                display: flex
                justify-content: center
                align-items: center
                .user-photo
                    position: relative
                    .avatar
                        width: 100px
                        height: 100px
                        border-radius: 50%
                        border: 4px solid #F2521C
                        padding: 2px
                    .edit-photo
                        width: 32px
                        height: 32px
                        border-radius: 50%
                        position: absolute
                        right: -13px
                        top: 50%
                        transform: translateY(-50%)
                        background: #F2521C
                        box-sizing: border-box
            .name-wrap
                border-bottom: 2px solid #000
                width: 100%
                .title-block
                    padding-left: 25px
                    font-size: 33px
                    line-height: 1
                    padding-top: 28px
                    padding-bottom: 22px
                    border-bottom: 2px solid #000
                    max-height: 85px
                    text-transform: uppercase
                .name
                    display: flex
                    padding-left: 25px
                    padding-right: 25px
                    justify-content: space-between
                    align-items: center
                    padding-top: 25px
                    padding-bottom: 20px
                    max-height: 60px
                    span
                        font-size: 21px
                        line-height: 1
                        text-transform: uppercase
                        white-space: nowrap
                    .btn__black
                        font-size: 13px
                        font-weight: 300
                        padding-left: 10px
                        padding-right: 10px
                        padding-top: 3px
                        padding-bottom: 3px
        .cabinet-metrics
            .cabinet-metrics--switch 
                height: 35px
                display: flex
                justify-content: center
                align-items: center
                .metrics__item-title
                    line-height: 13px
                    left: 13px
                    text-transform: uppercase
                .uk-switch
                    margin: 0 10px
            .cabinet-metrics--value
                display: flex
                justify-content: space-between
                align-items: stretch
                height: 70px
                .metrics-value_item
                    flex: 1
                    border-right: 1px dashed #1C1C1C
                    text-align: center
                    display: flex
                    flex-direction: column
                    justify-content: center
                    align-items: center
                    max-height: 67px
                    a
                        text-align: center
                        display: flex
                        flex-direction: column
                        justify-content: center
                        align-items: center
                        color:  #1c1c1c
                        text-decoration: none
                    &:last-child
                        border-right: 0
                    .num
                        font-size: 28px
                        font-weight: 700
                        line-height: 1
                    .title
                        font-size: 13px
                        text-transform: uppercase
    .r-section
        width: 43%
        min-width: 375px
        border-bottom: 2px solid #000
        +r(1250)
            width: 100%
            max-width: 100% 
            border-right: 0
        .r-title
            font-size: 21px
            line-height: 1
            color: #1C1C1C
            text-transform: uppercase
            padding-top: 36px
            padding-bottom: 26px
            padding-left: 25px
            max-height: 85px
            border-bottom: 2px solid #000
        .rating-wrap
            .rating__item
                border-bottom: 1px dashed #1C1C1C
                display: flex
                flex-direction: row
                align-items: flex-end
                justify-content: space-between
                max-height:  80px
                padding-left: 25px
                padding-top: 15px
                padding-bottom: 20px
                padding-right: 28px
                &:last-child
                    border-bottom: 0
                .reviews-link
                    color: #1C1C1C
                    text-decoration: underline
                    font-size: 15px
                    +arimo
                
                
    .b-section
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        height: 62px
        padding: 0 25px
        .title-intive
            text-transform: uppercase
            font-size: 15px
            font-weight: 500
        .link-invite
            +arimo
            text-decoration: underline
            color: #1C1C1C


    
.rate
    display: flex
    flex-direction: row-reverse                   
.rate:not(:checked) > input
    position: absolute 
    height: 0 
    width: 0
    opacity: 0
    visibility: hidden
    
.rate:not(:checked) > label  
   
    overflow: hidden 
    white-space: nowrap 
    cursor: pointer 
    font-size: 0px 
    color:#ccc    
    background-image: url(../img/cabinet/icon/star-border.svg)
    background-repeat: no-repeat
    background-position: center
    width: 22px
    height: 22px
    position: relative
    display: block   
    margin-right: 6px                      
.rate:not(:checked) > label:before
    content: '' 
    
    
.rate > input:checked ~ label
    background-image: url(../img/cabinet/icon/star-color.svg)                             
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label
    background-image: url(../img/cabinet/icon/star-color.svg)                             
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label  
    background-image: url(../img/cabinet/icon/star-color.svg) 


.cabinet-list-nav
    padding-left: 0
    display: flex
    justify-content: flex-start
    align-items: stretch
    border-bottom: 2px solid #000
    margin-top: 0px
    margin-bottom: 30px
    
    overflow-x: auto
    +r($mobbig)
        border-bottom: 1px solid #2f2f2f
        
    &__item
        max-width: 210px
        height: 58px
        padding: 0
        min-width: 175px
        +r($mobbig)
            width: 50%
            min-width: 106px
        a
            
            display: flex
            align-items: center
            justify-content: center
            height: 100%
            padding: 0
            padding-left: 5px
            padding-right: 5px
            line-height: 1
            font-size: 21px
            +nitti
            color: #1C1C1C
            text-transform: uppercase
            text-decoration: none
            +r($mobbig)
                color: #828282
                padding: 0
                height: 40px
                display: flex
                justify-content: center
                font-size: 16px
                align-items: center
        &.active
            a
                background: #1C1C1C
                color: #fff
                font-weight: 600

.card-item__sales-wrap
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 10
    padding-top: 80px
    display: flex
    justify-content: center
    align-items: flex-start
    background: rgba(28, 28, 28, 0.72)
    border: 1px solid #E3E3E3
    text-align: center

    &.three-dot
        .sales-info__top
            position: relative
            background: url(../img/cabinet/one-dot.png)
            background-repeat: no-repeat
            background-size: cover
            height: 23px
        .sales-info__num
            position: relative
            margin-left: 10px
            margin-right: 10px
            box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff
            &::before,                
            &::after
                content: ''
                position: absolute
                width: 30px
                height: 30px
                top: 50%
                transform: translate(-50%, -50%) rotate(45deg)
                border: 5px solid transparent
                border-top-color: #fff
                border-right-color: #fff
                border-radius: 100%
                pointer-events: none
            &::before
                left: -10px
            &::after
                transform: translate(-50%, -50%) rotate(225deg)
                right: -40px
    &.one-dot
        .sales-info__top
            position: relative
            background: url(../img/cabinet/one-dot.png)
            background-repeat: no-repeat
            background-size: cover
            height: 23px
    &.more-dot
        .sales-info__top
            position: relative
            background: url(../img/cabinet/more-dot.png)
            background-repeat: repeat-x
            height: 11px
           
    
    .card-item__sales-info
       
        padding: 2px
        width: 150px
        color: #1C1C1C
        +nitti
        .top,
        .bottom
            background: #fff
        .top
            padding-bottom: 15px
            padding-top: 13px
        .bottom
            padding-top: 15px
            padding: 15px 2px 2px
        .sales-info__title
            font-size: 16px
            text-transform: uppercase
            font-weight: 500
            margin-bottom: 7px
            
        .sales-info__status
            border-top: 1px dashed #1c1c1c
            border-bottom: 1px solid #1C1C1C
            padding: 10px 20px
            position: relative
            font-size: 11px
            line-height: 1.1
            height: 46px
            display: flex
            justify-content: center
            align-items: center
            background: #fff
            +arimo
            &::before
                content: ''
                position: absolute
                left: 0
                top: -1px
                bottom: -1px
                width: 10px
            &.status
                &-green
                    &::before
                        background: #80C18B
                &-violet
                    &::before
                        background: #B5B3D1
                &-yellow
                    &::before
                        background: #E2CF96
                &-powder
                    &::before
                        background: #D399AE
        .sales-info__num
            font-size: 14px
            font-weight: 700
            position: relative
            background: #fff

    .btn
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        padding-top: 15px
        padding-bottom: 15px
        font-size: 13px
        color: #fff
        text-transform: uppercase
        line-height: 1
        &-black
            background: #1C1C1C
            
        &-orange
            background: #F2521C

.profile-table
    border: 2px solid #000
    max-width: 580px
    & * 
        box-sizing: border-box
    +nitti
    text-transform: uppercase
    .photo-wrap
        width: 155px
        min-width: 155px
        border-right: 2px solid #1C1C1C
        border-bottom: 2px solid #1C1C1C
        display: flex
        justify-content: center
        align-items: center
        padding: 25px 25px 21px
        .user-photo
            position: relative
            .avatar
                width: 100px
                height: 100px
                border-radius: 50%
                border: 4px solid #F2521C
                padding: 2px
            .edit-photo
                width: 32px
                height: 32px
                border-radius: 50%
                position: absolute
                right: -13px
                top: 50%
                transform: translateY(-50%)
                background: #F2521C
                box-sizing: border-box
    .profile-top
        display: flex
        justify-content: flex-start
        align-items: flex-start
        margin-bottom: 60px
        .right-top-profile
            width: 100%
        .title-big
            font-size: 30px
            height: 88px
            display: flex
            align-items: center
            padding-left: 35px
            border-bottom: 2px solid #1C1C1C
        .title-small
            padding-left: 35px
            height: 60px
            display: flex
            align-items: center
            border-bottom: 2px solid #1C1C1C
    .title-small
        font-size: 21px
    .title-settings
        height: 60px
        margin-bottom: 60px
        display: flex
        align-items: center
        justify-content: center
        position: relative
        border-top: 2px solid #1C1C1C
        border-bottom: 1px dashed #1C1C1C
        position: relative
        .edit-btn
            background: transparent
            position: absolute
            right: 15px
            top: calc(50% - 9px)
    .profile-group
        border-bottom: 2px solid #1C1C1C
        margin-bottom: 60px
        &.edit
            .apply-group
                display: block
            .edit-btn
                opacity: 0
                visibility: hidden
    .product-group-wrap
       
        .product-group__item
            display: flex
            justify-content: flex-start
            border-top: 2px solid #1C1C1C
            &:last-child
                border-bottom: 2px solid #1C1C1C
            .l-section,
            .r-section
                width: 50%
                flex: 1
                padding-top: 18px
                padding-bottom: 18px
                padding-left: 18px
                padding-right: 18px

            .l-section
                display: flex
                align-items: center
                font-weight: 600
                .uk-switch-slider
                    border-color: #333
                    &:before
                        background-color: #333
                input:checked+.uk-switch-slider
                    background-color: #333 !important
                    &::before
                        background: #fff
            .r-section
                +arimo
                text-transform: none
                border-left: 1px dashed #1C1C1C
    .apply-group
        text-align: right
        padding: 15px 20px 
        display: none
        button
            background: transparent
            font-weight: 900
            text-transform: uppercase
            display: inline-flex
            align-items: center
            text-decoration: underline
            +nitti
            font-size: 18px
            svg
                margin-right: 5px
.setting-table
    border: 2px solid #000
    border-bottom: 0
    max-width: 580px
    color: #1C1C1C
    +nitti
    text-transform: uppercase
    +r($mobbig)
        border: none
        max-width: 100%
    .title-top
        font-size: 30px
        line-height: 1
        padding-top: 33px
        padding-bottom: 30px
        max-height: 85px
        border-bottom: 2px solid #1C1C1C
        text-align: center
        +r($mobbig)
            font-size: 23px
            line-height: 25px
            max-height: unset
            padding-top: 0
            padding-bottom: 24px
    .group-setting
        &__checkbox
            .group-setting__item
                .l-section
                    display: flex
                    flex-wrap: wrap
                    justify-content: flex-start
                    padding-left: 0
                    padding-right: 0
                    padding-top: 10px
                    padding-bottom: 10px
                    .aside-filter__label
                        width: 50%
                        display: flex
                        align-items: center
                        font-weight: 600
                        padding-left: 20px
                        padding-top: 5px
                        padding-bottom: 5px
        &.border-dott
            .l-section
                border-right: 1px dashed #1C1C1C
                +r($mobbig)
                    font-weight: 400
        
        &.pay-wrap
            .group-setting__item
                flex-direction: column
                .pay-item
                    width: 100%
                    display: flex
                    justify-content: flex-start
                    align-items: center
                    padding: 20px
                    white-space: nowrap
                    font-size: 15px
                    border-bottom:  2px solid #1C1C1C
                    max-height: 60px
                    &:last-child
                        border-bottom: 0
                    .cart-num
                        margin-left: 17px
                        input
                            +nitti
                            font-size: 15px
                            width: 40px
                            font-weight: 600
                    .cart-name
                        margin-left: 3px
                        font-weight: 600
                        margin-right: 30px
                    .cart-date
                        font-weight: 600
                        margin-right: 35px
                    .cart-edit
                        margin-right: 30px
        &-social
            .group-setting__item
                .l-section
                    min-width: 60%
        &__item
            display: flex
            justify-content: space-between
            align-items: stretch
            border-bottom: 2px solid #1C1C1C
            +r($mobbig)
                border-bottom: 1px solid #1c1c1c
            
            .l-section,
            .r-section
                flex: 1
                font-size: 15px
                padding-top: 20px
                padding-bottom: 18px
                padding-left: 20px
                padding-right: 20px
                +r($mobbig)
                    padding: 17px 12px
                    line-height: 1
                    font-size: 13px
                    padding-bottom: 15px
                .input-group
                    display: flex
                    justify-content: space-between
                    align-items: center
            .l-section
                font-weight: 600
            &.has-mobile-clear-item
                +r($mobbig)
                    .l-section
                        border-right: none
                        width: auto
                        flex: 2
                    .r-section 
                        flex: 1
                        width: auto
                        display: flex
                        justify-content: flex-end
                        .soc-btn
                            span
                                display: none
            &-icon
                grid-area: mainleft
                display: flex
                align-items: center
                justify-content: center
                height: 30px
                padding-right: 8px
                position: relative
                top: 1px
                svg
                    width: 27px
                    fill: $orange
                    height: 100%
                    &.icon-social
                        width: 32px
            &-top
                display: flex
                justify-content: space-between
                align-items: stretch
                border-bottom: 2px solid #1C1C1C
                +r($mobbig)
                    display: grid
                    grid-template-columns: 1fr 5fr 1fr
                    grid-template-rows: 1fr 1fr
                    gap: 0px 0px
                    grid-template-areas: "mainleft l-section" "mainleft r-section"
                    margin-top: 40px
                    padding-bottom: 13px
                    border-bottom: 1px solid #1c1c1c
                &__checkbox
                    grid-area: setting-checkbox
                &__has-checkbox
                    +r($mobbig)
                        grid-template-columns: 1fr 5fr 1fr
                        grid-template-rows: 1fr 1fr
                        gap: 0px 0px
                        grid-template-areas: "mainleft l-section setting-checkbox" "mainleft r-section setting-checkbox"
                .uk-switch-slider
                    width: 39px
                    height: 25px
                    border: 3px solid #1c1c1c
                    &::before
                        width: 11px
                        height: 11px
                        background: #1c1c1c
                        left: 4px
                        bottom: 4px
                input:checked
                    + .uk-switch-slider
                        border-color: $orange
                        &::before
                            background: $white
                            transform: translateX(14px)

                .l-section,
                .r-section
                    font-size: 21px
                    flex: 1
                    text-align: center
                    padding-top: 22px
                    padding-bottom: 17px
                    min-height: 60px
                    line-height: 1
                    align-items: center
                    display: flex
                    justify-content: center
                    padding-left: 20px
                    padding-right: 20px
                .l-section
                    font-weight: 500
                    background: #1C1C1C
                    color: #fff
                .l-section
                    +r($mobbig)
                        grid-area: l-section
                        border-right: none !important
                        background: none
                        border: none 
                        color: #1c1c1c
                        font-size: 18px
                        min-height: unset
                        padding: 0
                        line-height: 25px
                        justify-content: flex-start
                        text-align: left
                        line-height: 1
                .r-section
                    +r($mobbig)
                        grid-area: r-section
                        
                        font-size: 13px 
                        color: #828282
                        background: none
                        min-height: unset
                        padding: 0
                        text-transform: none
                        +arimo
                        justify-content: flex-start
    .apply-group
        text-align: right
        padding: 18px 20px 
        height: 60px
        border-bottom: 2px solid #1c1c1c
        //display: none
        +r($mobbig)
            padding-right: 0
            border-bottom: none
        button
            background: transparent
            font-weight: 900
            text-transform: uppercase
            display: inline-flex
            align-items: center
            text-decoration: underline
            +nitti
            font-size: 18px
            +r($mobbig)
                font-size: 16px
            svg
                margin-right: 5px
                min-width: 16px
    button
        display: flex
        align-items: center
        justify-content: flex-start
        background: transparent
        font-size: 15px
        +arimo
        text-decoration: underline
        svg
            margin-right: 7px
        

+r($mobbig)
    .profile-table
        border: none
        .title-settings
            margin-bottom: 0
            border-bottom: none
            justify-content: flex-start
            &.t-center
                text-align: left
        .profile-group
            border-bottom: none
        .product-group-wrap 
            .product-group__item
                border-top: 1px solid #1c1c1c
                &:last-child
                    border-bottom: 1px solid #1c1c1c
                .l-section
                    padding-left: 0
                    padding-right: 0
                    font-weight: 400
                    align-items: center
                    .uk-switch
                        width: 39px
                        flex: 1 0 39px
                        max-width: 39px
                        height: 25px
                    .uk-switch-slider
                        width: 39px
                        flex: 1 0 39px
                        max-width: 39px
                        height: 25px
                        border: 3px solid #1c1c1c
                        &::before
                            width: 11px
                            height: 11px
                            background: #1c1c1c
                            left: 4px
                            bottom: 4px
                    input:checked
                        + .uk-switch-slider
                            &::before
                                background: $white
                                transform: translateX(14px)
        .title-settings
            border-top: none