.checkout
  &-wrapper
    border: 2px solid $dark
    +r($mobbig)
      border: none
      width: 100vw
      margin-left: -15px
  &__item
    border-bottom: 2px solid $dark
    +r($mobbig)
      border-bottom: none
  &__title
    +nitti
    display: flex
    justify-content: center
    width: 100%
    font-size: 30px
    line-height: 21px
    text-transform: uppercase
    color: #1C1C1C
    padding: 30px 0
    +r($mobbig)
      padding: 15px 22px
      font-size: 22px
      position: relative
      margin-bottom: 22px
      &::before
        content: ''
        height: 2px
        width: calc(100% - 44px)
        position: absolute
        bottom: 0
        left: 22px
        background: #1c1c1c

  &__subtitle
    padding-top: 22px
    padding-bottom: 17px
    +nitti
    display: flex
    justify-content: center
    width: 100%
    font-size: 21px
    line-height: 21px
    text-align: center
    text-transform: uppercase
    color: #1C1C1C
    +r($mobbig)
      min-height: 50px
      padding: 10px 0
      font-size: 20px
      background: #F2F2F2
      text-transform: none
      align-items: center
      margin-bottom: 15px
.checkout__products
  width: 100%
  &-head
    padding-top: 13px
    padding-bottom: 10px
    padding-left: 23px
    padding-right: 23px
    background: #F2F2F2
    border-bottom: 2px solid $dark
    +r($mobbig)
      display: none
    &__title
      padding-left: 30px
      font-size: 16px
      line-height: 25px
      text-transform: uppercase
      +nitti
  &-body
    padding-left: 22px
    padding-right: 22px
    border-bottom: 2px solid $dark
    +r($mobbig)
      padding: 0
      border-bottom: 1px solid $dark
      padding-top: 10px
      padding-bottom: 10px
      .uk-width-1-2\@m
        + .uk-width-1-6\@m
          padding-left: 22px
      .uk-width-1-6\@m
        width: 50% !important
        .checkout__products-item
          padding: 0
        &:last-of-type
          padding-top: 10px
          width: 100% !important
          padding-left: 22px
          max-width: 100% !important
          flex: 1 0 100%
  &__text
    font-size: 14px
    line-height: 16px
    color: #1C1C1C
    width: 100%
    margin-bottom: 6px
    flex: 1 0 100%
    max-width: 100%
  &-item
    
    padding-top: 37px
    padding-bottom: 24px
    display: flex
    flex-wrap: wrap
    align-items: center
    align-content: center
    padding-left: 30px
    height: 100%
    border-left: 1px dashed #1C1C1C
    +r($mobbig)
      border: none
      padding-left: 22px
      padding: 22px
      padding-top: 8px
      padding-bottom: 8px
    &__no-border
      border-left: none
    &__no-left
      padding-left: 0
      border-left: none
    &__delete
      display: flex
      align-items: center
      padding-right: 14px
      +r($mobbig)
        position: relative
        left: 5px
      svg
        fill: #999999
        width: 19px
        height: 19px
        cursor: pointer
    &__count
      display: flex
      flex-wrap: wrap
      align-items: center
      border: 1px solid #BDBDBD
      padding: 2px
      &-minus
        background: #BDBDBD
        width: 30px
        height: 30px
        display: flex
        justify-content: center 
        align-items: center
        cursor: pointer
        svg
          width: 12px
          height: 2px
          fill: #fff
      &-plus
        background: #BDBDBD
        width: 30px
        height: 30px
        display: flex
        justify-content: center 
        align-items: center
        cursor: pointer
        svg
          width: 12px
          height: 12px
          fill: #fff
      &-current
        width: 40px
        height: 100%
        text-align: center
       
        input
          width: 100%
          font-size: 16px
          line-height: 21px
          color: #000
          text-align: center
          -moz-appearance: textfield
          &::-webkit-inner-spin-button
            -webkit-appearance: none
            margin: 0
          &::-webkit-outer-spin-button
            -webkit-appearance: none
            margin: 0
    &__price
      font-size: 25px
      line-height: 100%
      color: #1C1C1C
      +agg
    &__img
      width: 85px
      height: 110px
      display: flex
      img
        width: 100%
        height: 100%
        object-fit: cover
    &__side
      flex: 1
      padding-left: 20px
    &__title
      font-weight: bold
      font-size: 20px
      line-height: 25px
      color: #2F2F2F
      +r($mobbig)
        font-size: 16px
        line-height: 1.24
      &:hover
        text-decoration: none
        color: inherit
    &__text
      font-size: 15px
      line-height: 25px
      color: #2F2F2F
      +r($mobbig)
        font-size: 14px
        line-height: 1.4

    
.checkout__footer-info
  padding: 25px 22px
  padding-right: 46px
  display: flex
  flex-wrap: wrap
  width: 100%
  +r($mobbig)
    padding-left: 22px
    padding-right: 22px
  .checkout__info-total
    margin-left: auto
    +r($mobbig)
      margin-top: 12px


.checkout__coupon
  display: flex
  flex-wrap: wrap
  height: 44px
  +r($mobbig)
    width: 100%
  input
    max-width: 241px
    font-size: 16px
    color: #1C1C1C
    padding-left: 16px
    padding-right: 16px
    box-sizing: border-box
    border: 1px solid #1c1c1c
    min-width: 50px
    flex: 1
    &::placeholder
      color: #9B9B9B
      opacity: 1
    +r($mobbig)
      max-width: 100%
  .btn
    +nitti
    text-transform: uppercase
    font-weight: normal
    font-size: 16px
    width: 106px
    height: 44px
    display: flex
    align-items: center
    justify-content: center

.checkout__info-total
  max-width: 334px
  +r($mobbig)
    max-width: 100% 
  &--text
    font-size: 16px
    line-height: 180%
    color: #1C1C1C
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 0px
    span
      // flex: 1
      &:last-of-type
        text-align: right
        +r($mobbig)
          text-align: left
    &-big
      margin-top: 12px
      font-weight: bold
      font-size: 20px
      line-height: 23px
      &-normal
        font-weight: normal
  .label-select
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    width: 100%
    color: #1C1C1C
    margin-bottom: 10px
    input[type="checkbox"]
      position: relative
      top: 4px
    .t-default
      flex: 1
  .form-auth__item
    padding: 0
    padding-top: 30px
    border: none

.checkout-wrapper__next
  width: 100%
  display: flex
  justify-content: center
  margin-top: 40px
  .btn
    width: 334px
    height: 60px
    display: flex
    align-items: center
    justify-content: center
    +r($mobbig)
      max-width: 334px
      height: 50px
      font-size: 18px
      width: 100%


.checkout_flex-top
  display: flex
  flex-wrap: wrap
  align-content: flex-start

.checkout__products-title
  font-size: 22px
  line-height: 25px
  text-transform: uppercase
  color: #1C1C1C
  +nitti

.checkout__delivery
  height: 100%
  +r($mobbig)
    height: auto
  > div
    height: 100%
    +r($mobbig)
      height: auto
  .checkout__products-item
    padding-right: 27px
  &-type
    width: 100%
    display: flex
    flex-wrap: wrap
    padding-bottom: 26px
    border-bottom: 1px solid #E4E4E4
    padding-top: 22px
    .label-select
      width: 100%
  &-last-order
    font-size: 14px
    line-height: 16px
    text-decoration-line: underline
    color: #1C1C1C
    margin-bottom: 22px


.checkout__products-small
  border-left: 2px solid #000000
  padding: 33px 30px
  height: 100%
  +r($mobbig)
    border-left: 0
    padding: 20px 22px
  &__item
    display: flex
    flex-wrap: wrap
    margin-bottom: 30px
    .checkout__products-item__title
      font-size: 16px
      padding-bottom: 15px
      display: flex
  .checkout__products-title
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 26px
  .checkout__coupon 
    input
      width: auto
      flex: 1
  .checkout__info-total
    margin-top: 30px

.checkout__products__edit
  text-decoration: underline
  font-size: 14px
  +nitti  
  color: #1c1c1c
  &:hover
    text-decoration: underline
    color: #1c1c1c


.checkout-pay
  &__item
    display: flex
    flex-wrap: wrap
    
    align-items: center
    min-height: 50px
    margin-bottom: 28px
    width: 100%
    &__bordered
      border-bottom: 1px solid #1C1C1C
      border-top: 1px solid #1c1c1c
      + input
        border-top: none
        &:first-of-type
          border-top: none
      input
        border: none
        flex: 1
        padding-top: 8px
        &:first-of-type
          border-top: none
      .checkout-pay__card-img
        width: 34px
        height: 24px
        background: rgba(#000000, .03)
        border-radius: 3px
    .form__input-clear
      // width: auto
      padding-bottom: 12px
      padding-top: 12px
      + .checkout-pay__card-img
        margin-left: 26px
        
      
  &__card
    &-img
      display: flex
      flex-wrap: wrap
      min-width: 34px
      
      // height: 24px
      svg
        width: 100%
        height: 100%
      img
        + img
          margin-left: 4px

.input-date-card
  width: 157px

.input-ccv-card
  width: 115px

.checkout__products-descr
  +arimo
  font-size: 14px
  line-height: 16px
  color: #1C1C1C
  margin-bottom: 11px
  margin-top: 2px

.checkout__products-action
  .btn__black
    width: 100%
    height: 50px
    font-size: 16px
    margin-bottom: 20px
    padding: 0 5px
    text-align: center
    display: flex
    justify-content: center
  .btn__white-border
    width: 100%
    height: 50px
    font-size: 16px
    padding: 0 5px
    display: flex
    justify-content: center





.checkout__final-item
  width: 100%
  
  .checkout__info-total
    max-width: 100%
    border-bottom: 1px solid #999999
    box-sizing: border-box
    margin-bottom: 16px
    padding-bottom: 15px
  &:last-of-type
    .checkout__info-total
      padding-bottom: 0
      margin-bottom: 0
      border: none
  .checkout__products-title
    margin-bottom: 9px
  .checkout__info-total--text
    span 
      > img
        margin-right: 13px
        margin-left: 23px


.checkout-card__last
  +r($mobbig)
    width: 100%
    display: block
    img
      margin-left: 0 !important