.create-steps
  display: flex
  flex-wrap: wrap
  // position: absolute
  width: 250px
  right: 0
  top: 70px
  &__wrapper
    display: flex
    flex-wrap: wrap
    justify-content: center
    padding-top: 70px
    position: relative
    .form-auth
      margin: 0
  &__title
    width: 100%
    display: flex
    position: relative
    +nitti
    color: #2f2f2f
    font-size: 18px
    text-transform: uppercase
    font-weight: bold
    margin-bottom: 8px
    svg
      position: absolute
      right: 0
      top: 50%
      transform: translateY(-50%)
      width: 15px
      height: 10px
      fill: #B9B9B9
  &__count
    font-weight: normal
    font-size: 16px
    display: flex
    justify-content: center
    align-items: center
    background: #FFFFFFa
    border: 2.49031px solid #1C1C1C
    box-sizing: border-box
    width: 27px
    height: 27px
    border-radius: 50%
    margin-right: 10px
  &__text
    font-size: 14pxa
    line-height: 20px

    letter-spacing: -0.0830103px
    padding-left: 38px
    color: #616161
  &__item
    margin-bottom: 38px
    &.is-active
      .create-steps__title
        color: $orange
      .create-steps__count
        border-color: $orange