.detailed-product
  &__left
    max-width: 493px
    box-sizing: content-box
    width: 100%
    +r($mobbig)
      max-width: 100% 
  &__slider
    +r($mobbig)
      width: 100vw
      margin-left: -15px
    .swiper-navigation
      position: absolute
      top: 50%
      width: 100%
      transform: translateY(-50%)
      z-index: 20
      display: flex
      justify-content: space-between
    &-prev
      display: flex
      align-items: center
      justify-content: center
      width: 40px
      height: 40px
      background: rgba($white, 0.7)
      svg
        width: 18px
        height: 17px
        fill: $dark
      &:hover
        background: $orange
        svg
          fill: $white
      &.swiper-button-disabled
        svg
          fill: #D2D2D2
    &-next
      position: relative
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer 
      width: 18px
      width: 40px
      height: 40px
      background: rgba($white, 0.7)
      svg
        position: relative
        transform: rotate(180deg)
        width: 18px
        height: 17px
        fill: $dark
      &.swiper-button-disabled
        svg
          fill: #D2D2D2
      &:hover
        background: $orange
        svg
          fill: $white
    &-zoom
      position: absolute
      top: 18px
      right: 16px
      svg
        fill: $white
        width: 22px
        height: 22px
        z-index: 5
    &-top
      position: relative
      height: 575px 
      +r($mobbig)
        height: 125.87vw
      .swiper-container
        height: 100%
        .swiper-silde
          width: 100% !important
          a
            width: 100%
            height: 100%
        img
          height: 100%
        .card-item__sale
          left: 18px
          top: 21px
    &-info
      display: flex
      flex-wrap: wrap
      background: $black
      border-top: 3px solid $white
      height: 43px
      &--item
        display: flex
        align-items: center
        justify-content: center
        border-right: 3px solid $white
        +nitti
        font-size: 18px
        line-height: 19px
        color: $white
        text-decoration: none
        width: 90px
        height: 100%
        &.is-active
          background: $orange
          svg
            fill: $white
        &:hover
          text-decoration: none
          color: $white
        &:first-of-type
          border-left: none
        &:last-of-type
          margin-left: auto
          border-right: none
          border-left: 3px solid $white
          width: 44px
        +r($mobbig)
          width: 25%
          box-sizing: border-box
          &:last-of-type
            border-left: 0px solid $white
            width: 25%
            margin-left: 0
        span
          margin-left: 5px
        svg
          fill: $white
          &.icon-like
            width: 16px
            height: 14px
          &.icon-present
            width: 15px
            height: 16px
          &.icon-eye
            width: 16px
            height: 13px
          &.icon-share
            width: 14px
            height: 14px
    &-bottom
      display: flex
      flex-wrap: wrap
      margin-top: 14px
      .swiper-container
        display: flex
        flex-wrap: wrap
        flex: 1
        width: auto
        margin-left: 23px
        margin-right: 23px
      .swiper-wrapper
        flex: 1
      .swiper-slide
        width: 60px
        height: 60px
        box-sizing: border-box
        border: 1px solid #D2D2D2
        padding: 6px
        margin-right: 10px
        img
        &.swiper-slide-thumb-active
          outline-width: 2px
          outline-style: solid
          outline-color: $orange
          outline-offset: -2px

.detailed-product__more
  margin-top: 61px
  &-head
    border-bottom: 2px solid $dark
    padding-bottom: 10px
    margin-bottom: 18px
  &-link
    margin-top: 25px
    display: flex
    justify-content: center
  .card-item
    +rmin($mobbig)
      border: none
    &__title
      +rmin($mobbig)
        text-align: left
        font-size: 18px
        text-transform: none
        +arimo
        font-weight: normal
    &__price
      +rmin($mobbig)
        text-align: left
        font-size: 29px
        justify-content: flex-start


.detailed-product__info
  border: 2px solid #1C1C1C
  box-sizing: border-box
  width: 100%
  padding: 0
  +r($mobbig)
    width: 100vw
    margin-left: -15px
    border: none
    padding-top: 0px
  &-footer
    padding: 30px 27px
    display: flex
    flex-wrap: wrap
    +r($mobbig)
      padding-top: 0
      padding-bottom: 34px
      padding-left: 22px
      padding-right: 22px
    .btn
      width: 50%
      height: 68px
      font-size: 18px
      display: flex
      justify-content: center
      align-items: center
      +nitti
      +r($mobbig)
        width: 100%
        height: 50px
        margin-bottom: 18px
        font-weight: normal
        &:last-of-type
          margin-bottom: 0
      .icon-message
        width: 22px
        height: 22px
      svg
        margin-right: 13px
      &__white-border
        border-left: 0
        +r($mobbig)
          border-left: 1px solid #1f1f1f
  &-status
    padding: 18px 26px
    padding-bottom: 15px
    border-top: 2px solid #1C1C1C
    border-bottom: 2px solid #1C1C1C
    +r($mobbig)
      border: none
    &--item
      display: inline-flex
      flex-wrap: wrap
      position: relative
      &::before
        content: ''
        position: absolute
        width: 100%
        height: 8px
        left: 0
        bottom: 0
        z-index: -1
        background: inherit
    &--available
      &::before
        background: #80C18B
    &--canceled  
      &::before
        background: #D399AE
    &--delivery 
      &::before
        background: #B5B3D1 
    &--ordered
      &::before
        background: #E2CF96
    
  &-size
    width: 37px
    height: 37px
    margin-right: 10px
    background: $white
    color: $dark
    font-size: 16px
    font-weight: bold
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid  #D2D2D2
    cursor: pointer
    cursor: pointer
    &.is-active
      outline-color: $orange
      outline-style: solid
      outline-width: 2px
      outline-offset: -2px

  &-color
    width: 50px
    height: 50px
    margin-right: 5px
    position: relative
    cursor: pointer
    &.is-active
      &::before
        outline-color: $orange
        outline-style: solid
        outline-width: 2px
        outline-offset: -2px
    &::before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      border: 6px solid $white
      outline-color: #D2D2D2
      outline-style: solid
      outline-width: 1px
      outline-offset: -1px
    &::after
      content: ''
      width: calc(100% - 10px)
      height: calc(100% - 10px)
      position: absolute
      left: 5px
      top: 5px
      background: inherit
      outline-color: #D2D2D2
      outline-style: solid
      outline-width: 1px
      outline-offset: -1px
  &-row
    padding: 15px 27px
    +r($mobbig)
      padding: 10px 22px
    
      
    &:nth-child(1)
      padding-top: 34px
      +r($mobbig)
        padding-top: 40px
    &:last-child
      padding-bottom: 44px
      +r($mobbig)
        padding-bottom: 0
    &-border
      +r($mobbig)

        position: relative
        padding-bottom: 27px
        margin-bottom: 20px
        &::after
          content: ''
          position: absolute
          bottom: 0
          left: 22px
          width: calc(100% - 44px)
          height: 1px
          background: #1c1c1c
    &__head
      display: flex
      flex-wrap: wrap
      align-items: center
      .show-sizes
        margin-left: auto
    &__body
      width: 100%
      display: flex
      flex-wrap: wrap
      padding-top: 6px
    &__title 
      font-size: 18px
      line-height: 1.27
      color: $dark
      font-weight: bold
      +r($mobbig)
        font-size: 16px
    &__stitle
      color: $dark
      font-size: 18px
      line-height: 1.27
      margin-left: 4px
      +r($mobbig)
        font-size: 16px
      &:any-link
        text-decoration: underline
        color: $dark
        &:hover
          color: $dark 
  &-title
    border-bottom: 2px solid $dark
    padding: 25px 27px
    padding-bottom: 19px
    padding-right: 70px
    font-size: 30px
    line-height: 1.22
    +r($mobbig)
      padding: 0
      font-size: 22px
      margin-bottom: 0
      border-bottom: 0
    span
      +agg
      font-size: 30px
      line-height: 122%
      color: #1f1f1f
      +r($mobbig)
        padding: 0
        font-size: 22px
        color: #2f2f2f
  &-price
    border-bottom: 2px solid $dark
    padding: 17px 27px
    padding-bottom: 12px
    display: flex
    flex-wrap: wrap
    align-items: center
    +r($mobbig)
      padding-left: 0
      padding-right: 10px
      border-bottom: none
    .card-item__price-current
      font-size: 30px
      margin-right: 20px
      line-height: 1
      +r($mobbig)
        font-size: 18px
    .card-item__price-old
      font-size: 30px
      line-height: 1
      +r($mobbig)
        font-size: 18px


.detailed-product__tabs
  width: 100%
  margin-top: 60px
  &-top
    display: flex
    flex-wrap: wrap
    align-items: center
    width: 100%
    border-bottom: 1px solid  #D2D2D2
    .link
      margin-left: auto
  &-header
    display: flex
    flex-wrap: wrap
    float: 1px
  &-link
    padding: 8px 36px
    padding-bottom: 7px
    border: 1px solid transparent
    border-bottom: 0
    position: relative
    box-sizing: border-box
    +nitti
    text-transform: uppercase
    color: $dark
    font-weight: bold
    font-size: 18px
    cursor: pointer
    &::before
      content: ''
      width: calc(100% + 2px)
      height: 3px
      background: $orange
      position: absolute
      top: 0
      left: -1px
      transform: translateY(-100%)
      opacity: 0
    &::after
      content: ''
      width: 100%
      height: 2px
      background: $white
      position: absolute
      bottom: -1px
      left: 0
      opacity: 0
    &.uk-active
      border-color: #D2D2D2
      &::before
        opacity: 1
      &::after
        opacity: 1
  &-item
    display: flex
    padding: 30px
    width: 100%
    &:not(.uk-active)
      display: none
  &-content
    p
      margin-bottom: 10px
      margin-top: 0
      font-size: 17px
    ul
      margin-top: 0
      margin-left: 0
      list-style: disc
      li
        margin-bottom: 10px
        font-size: 17px


.detailed-product__tags
  display: flex
  flex-wrap: wrap
  width: 100%
  margin-top: 0
  +r($mobbig)
    width: 100vw
    margin-left: -15px
    padding-left: 22px
    padding-right: 22px
    padding-bottom: 18px
  &-title
    width: 100%
    margin-bottom: 19px
    font-weight: bold
    font-size: 18.25px
    line-height: 23px
    color: #2F2F2F
  &-item
    margin-right: 22px
    font-size: 14px
    line-height: 100%
    color: #1C1C1C
    text-decoration: underline
    margin-bottom: 14px
    &:hover
      color: #1c1c1c

.uk-lightbox
  z-index: 2050 !important
  background: rgba(0,0,0,.95)

.show-sizes
  display: flex
  align-items: center
  padding-left: 10px
  &__icon
    width: 37px
    height: 37px
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    background: #F2F2F2
    
    margin-right: 9px
    svg
      width: 21px
      height: 15px
  a
    font-size: 14px
    line-height: 23px
    color: #2F2F2F
    text-decoration: underline
  


.detailed-product__seller
  +r($mobbig)
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    width: 100vw
    margin-left: -15px
    border: 0
    padding-top: 0
    padding-left: 22px
    padding-right: 22px


.detailed-product__accordion
  width: 100vw
  margin-left: -15px
  border: 0
  padding-top: 0
  .uk-accordion
    margin-bottom: 0
    > :nth-child(n+2)
      margin-top: 0 !important
    li
      
      .uk-accordion-title
        border-top: 1px solid #1f1f1f
        padding: 16px 22px
        padding-bottom: 11px
        text-transform: uppercase
        +nitti
        font-size: 18px
        &:before
          background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 5.04911L10.6669 0.594238L12 1.8668L6 7.59424L0 1.8668L1.33312 0.594238L6 5.04911Z' fill='%231C1C1C'/%3E%3C/svg%3E%0A")
      &.uk-open 
        > .uk-accordion-title
          &::before
            transform: rotate(180deg)
            top: -1px
      .uk-accordion-content
        padding: 27px 24px
        border-top: 1px dashed #1C1C1C
        margin-top: 0 !important
        p
          margin-bottom: 10px
          margin-top: 0
          font-size: 17px
        ul
          margin-top: 0
          margin-left: 0
          list-style: disc
          li
            margin-bottom: 10px
            font-size: 17px

.detailed-product__recomend
  background: #1C1C1C
  width: 100vw
  margin-left: -15px
  padding-top: 33px
  padding-bottom: 40px
  .detailed-product__more
    margin-top: 0
  .detailed-product__more-head
    text-align: center
    border-bottom: none
    .small-title
      font-size: 22px
      color: $white
      font-weight: normal
  .detailed-product__more-link
    padding-left: 22px
    padding-right: 22px
    .btn__white-border
      width: 100%
      max-width: 460px
      border-color: $white
      font-size: 18px
      color: $white
      height: 50px
      font-weight: normal
  .swiper-slide
    width: 35.47vw
    min-width: 133px
    max-width: 460px
    &:first-of-type
      padding-left: 22px
    &:last-of-type
      padding-right: 22px
    .card-item
      background: $white
      border: 1px solid #999999
      &__img
        height: 40.8vw
        max-height: 396px
        min-height: 153px
        display: flex
        margin-bottom: 10px
        a
          display: flex
      &__brand
        font-size: 9px
      &__title
        font-size: 10px
        +arimo
        color: #1f1f1f
        font-weight: bold
      &__price-current
        font-size: 17px
      &__bar-item
        height: 34px
        width: 50%
        max-width: 50%
        flex: 1 0 50%
        box-sizing: border-box
        border: none
        &:nth-child(1)
          border-right: 1px solid #999999
          border-top: 1px solid #999999
          border-bottom: 1px solid #999999
        &:nth-child(2)
          border-top: 1px solid #999999
          border-bottom: 1px solid #999999
        &:nth-child(3)
          border-right: 1px solid #999999


.sharing-drop
  &__wrapper
    display: none
    padding: 0
    box-shadow: unset
    width: calc(100vw - 22px)
    max-width: 370px
  &__inner
    border: 1px solid #1C1C1C
    padding: 24px
  &__item
    display: flex
    flex-wrap: wrap
    margin-bottom: 13px
    &:last-of-type
      margin-bottom: 0
  &__img
    width: 24px
    img
      max-width: 100%
  &__text
    text-transform: uppercase
    +nitti
    font-size: 16px
    padding-left: 15px
    flex: 1