.direct
  &__wrapper
    display: flex
    flex-wrap: wrap
    height: 777px
    +r($mobbig)
      height: calc(100vh - 100px)
  &__aside
    width: 100%
    max-width: 323px
    border: 2px solid #1c1c1c
    // border-right: none
    height: calc(100% - 43px)
    overflow-y: auto
    -ms-overflow-style: none
    overflow: -moz-scrollbars-none
    scrollbar-width: thin
    &::-webkit-scrollbar
      width: 0
    +r($mobbig)
      max-width: 100%
  &__body
    flex: 1
    border: 2px solid #1c1c1c
    border-left: none
    height: calc(100% - 43px)
    display: flex
    flex-wrap: wrap
    flex-direction: column
    position: relative
    
    +r($mobbig)
    
      width: 100vw
      height: 100vh
      position: fixed
      background: $white
      left: 0
      top: 0
      z-index: 1005
      transform: translateX(-100%)
      will-change: transform
      transition: transform .2s ease
      &.is-active
        transform: translateX(0%)

  &__head
    width: 100%
    .cabinet-list-nav
      width: 100%
      max-width: 323px
      margin-bottom: 0
      margin-bottom: 0
      border: none
      +r($mobbig)
        max-width: 100%
      .cabinet-list-nav__item
        font-size: 15px
        padding: 0
        width: 50%
        height: 43px
        display: flex
        justify-content: center
        align-items: center
        a
          padding: 0
          width: 100%
          height: 100%
          display: flex
          justify-content: center
          align-items: center
          font-size: 15px
          border: 2px solid #1c1c1c
          border-bottom: none

  &__item
    display: flex
    flex-wrap: wrap
    border-bottom: 1px solid #1c1c1c
    padding: 18px 2px 18px 20px
    &.is-active
      position: relative
      &::before
        position: absolute
        content: ''
        width: 8px
        height: calc(100% + 2px)
        position: absolute
        left: -2px
        top: -1px
        background: $orange
        
    &-img
      width: 48px
      height: 48px
      overflow: hidden
      border-radius: 50%  
      position: relative
      img
        width: 100%
        height: 100%
      &::before
        border-radius: 50% 
        content: ''
        width: 100%
        height: 100%
        border: 3px solid $orange
        position: absolute
        left: 0
        top: 0
        z-index: 1
      &::after
        border-radius: 50% 
        content: ''
        width: 100%
        height: 100%
        border: 6px solid $white
        position: absolute
        left: 0
        top: 0
    &-time
      font-size: 10px
      color: #4F4F4F
      line-height: 1
    &-name
      +nitti
      font-size: 15px
      color: #1C1C1C
      text-decoration: none
      text-transform: uppercase
      font-weight: 600
      flex: 1
      &:hover
        text-decoration: none
        color: $orange
    &-side
      padding-left: 17px
      flex: 1
      &-top
        display: flex
        flex-wrap: wrap
        margin-bottom: 5px
      &-middle
        display: flex
        flex-wrap: wrap
      &-product
        color: $white
        text-decoration: none
        font-size: 9px
        background: #2f2f2f
        padding: 2px 5px
        line-height: 1
        max-width: 60%
        margin-right: 7px
        &:hover
          color: $white
      &-manufact
        color: #1c1c1c
        text-decoration: underline
        font-size: 9px
        flex: 1
        &:hover
          color: #1c1c1c
      &-text
        margin-top: 4px
        font-size: 11px
        color: #1c1c1c

.direct__footer
  position: sticky
  bottom: 0
  z-index: 120
  display: flex
  flex-wrap: wrap
  border-top: 2px solid #1c1c1c
  +r($mobbig)
    background: #1C1C1C
    padding-top: 17px
    padding-bottom: 17px

.direct__add-images
  width: 62px
  height: 62px
  border-right: 2px solid #1c1c1c
  display: flex
  justify-content: center
  align-items: center
  position: relative
  input
    opacity: 0
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
    z-index: 5
  svg
    width: 18px
    height: 16px
  +r($mobbig)
    height: 48px
    border-right: 0
    svg
      fill: $white
      width: 24px
      height: 21px
.direct__send
  width: 62px
  height: 62px
  border: none
  display: flex
  justify-content: center
  align-items: center
  +r($mobbig)
    height: 48px
  &-button
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    background: #1C1C1C
    
    svg
      width: 25px
      height: 27px
      fill: $white
      position: relative
      left: 3px
    &:active
      padding: 0
      margin: 0
      border: none
      outline: none
    &:focus
      padding: 0
      margin: 0
      border: none
      outline: none
    +r($mobbig)
      background: $white

      svg
        width: 21px
        height: 23px
        fill: #1c1c1c
.direct__input
  flex: 1
  height: 62px
  display: flex
  align-items: center
  +r($mobbig)
    height: 48px
  input
    width: 100%
    height: 100%
    padding: 0px 21px 0px 21px
    font-size: 14px
    line-height: 140%
    color: #1C1C1C
    &::placeholder
      opacity: 1

.direct__message
  position: relative
  &-body
    display: flex
    flex-wrap: wrap
  &-item
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    padding: 13px 26px
    width: 100%
    +r($mobbig)
      padding: 13px 21px
    &:first-of-type
      padding-top: 30px
    
    &-content
      flex: 1
      padding-left: 20px
      margin-right: 55px
      display: flex
      flex-wrap: wrap
      +r($mobbig)
        padding-left: 17px
        padding-right: 0px
        margin-right: 0
      > *
        margin-bottom: 12px
      &__name
        width: 100%
        margin-bottom: 9px
        font-size: 18px
        line-height: 100%

        color: #1C1C1C

      &__item
        display: flex
        flex-wrap: wrap
        justify-content: flex-end
        width: 100%
      &__img
        width: 120px
        height: 113px
        object-fit: cover
      p
        font-size: 12px
        color: #1c1c1c
        &:last-of-type
          margin-bottom: 0
          padding-bottom: 0
    &__time
      font-size: 10px
      display: flex
      justify-content: center
      color: #4f4f4f
      margin-top: 8px
    &__avatar
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      &-link
        width: 48px
        height: 48px
        overflow: hidden
        border-radius: 50%  
        position: relative
        display: flex
        img
          width: 100%
          height: 100%
        &::before
          border-radius: 50% 
          content: ''
          width: 100%
          height: 100%
          border: 3px solid $orange
          position: absolute
          left: 0
          top: 0
          z-index: 1
        &::after
          border-radius: 50% 
          content: ''
          width: 100%
          height: 100%
          border: 6px solid $white
          position: absolute
          left: 0
          top: 0
    &-from
      flex-direction: row-reverse
      .direct__message-item-content
        margin-right: 17px
        margin-left: 68px
        display: flex
        
        justify-content: flex-end
        
        +r($mobbig)
          margin: 0
          margin-left: 0
          padding: 0
          margin-right: 17px
        &__inner
          padding: 16px 17px 16px 19px
          position: relative
          background: #1C1C1C
          color: $white
        &__item
          position: relative
          &-img
            &::before
              display: none !important
          &:first-of-type
            
            .direct__message-item-content__img
              clip-path: polygon(0% 0%,92% 0%,92% 10%,100% 18%,92% 26%,92% 100%,0% 100%)
              width: 129px
              margin-right: -9px
              &::before
                display: none

            &::before
              content: ''
              background: #1C1C1C
              width: 12px
              height: 12px
              position: absolute
              right: 0
              top: 16px
              transform: translate(50%, 0%) rotate(45deg)
              border-top: 0
              border-right: 0
              z-index: 100
        p
          color: $white
  &-wrapper
    overflow-y: auto
    -ms-overflow-style: none
    overflow: -moz-scrollbars-none
    scrollbar-width: thin
    padding-left: 14px
    margin-left: -14px
    height: 100%
    flex: 1
    &::-webkit-scrollbar
      width: 0
  &-top
    z-index: 120
    position: sticky
    display: flex
    flex-wrap: wrap
    background: #4F4F4F
    padding: 20px
    padding-bottom: 16px
    // position: relative
    width: 100%
    top: 0
    // position: fixed
    &::after
      content: ''
      width: 2px
      height: 100%
      left: 0
      top: 0
      background: #4F4F4F
      position: absolute
      z-index: 2
    &::before
      content: ''
      background: inherit
      width: 16px
      height: 16px
      position: absolute
      left: 0
      top: 50%
      transform: translate(-50%, -50%) rotate(45deg)
      border: 2px solid #1c1c1c
      border-top: 0
      border-right: 0
      z-index: 1
    .card-item__price
      font-size: 21px
      justify-content: flex-start
      &-old
        font-size: 21px
        color: $white
      &-current
        font-size: 21px
        color: $white
        margin-left: 10px

.direct__product
  &-img
    width: 82px
    height: 82px
    img
      width: 100%
      height: 100%
      object-fit: cover
  &-side
    display: flex
    flex-wrap: wrap
    flex-direction: column
    padding-left: 17px
    flex: 1
  &-brand  
    +nitti
    font-size: 12px
    color: $white
    text-decoration: underline
    text-transform: uppercase
    &:hover
      color: $white
  &-title
    +agg
    font-size: 19px
    color: $white
    text-decoration: none
    &:hover
      text-decoration: none
      color: $white
  

.direct__message-separator
  width: 100%
  display: flex
  justify-content: center
  position: relative
  padding: 10px 0
  &::before
    content: ''
    width: 100%
    position: absolute
    top: 50%
    height: 1px
    
    border-top: 1px dashed #1C1C1C
  span
    padding-left: 8px
    padding-right: 8px
    background: $white
    position: relative
    z-index: 5
    +nitti
    font-size: 16px
    line-height: 22px

    text-transform: uppercase


.direct__header
  display: flex
  flex-wrap: wrap
  align-items: center
  width: 100%
  position: relative
  height: 67px
  padding: 0 20px
  &-back
    width: 20px
    height: 20px
    display: flex
    svg
      width: 100%
      height: 100%
      fill: #1c1c1c
  &-title
    +nitti
    font-size: 23px
    color:  #1c1c1c
    text-transform: uppercase
    margin-left: 8%
  &-search
    margin-left: auto
    &.is-active
      .direct__header-search__close
        display: flex
      .direct__header-search__input
        display: flex
    &__close
      width: 40px
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      position: absolute
      left: 15px
      top: 0
      background: $white
      display: none
      svg
        width: 15px
        height: 15px
        fill: #1c1c1c
    &__input
      width: 77%
      right: 40px
      top: 0
      position: absolute
      height: 100%
      padding: 15px
      font-size: 16px
      line-height: 140%
      color: #1c1c1c
      +nitti
      text-transform: uppercase
      display: none
      &::placeholder
        opacity: 1
      &.is-active
        display: block
    &__button
      width: 20px
      height: 20px
      display: block
      margin-left: auto
      display: flex
      svg
        width: 100%
        height: 100%
        fill: #1c1c1c