.notification
  &__wrapper
    border: 2px solid #1c1c1c
    +r($mobbig)
      border-width: 0
  &__head
    border-bottom: 2px solid #1c1c1c
    padding-top: 34px
    padding-bottom: 30px
    display: flex
    justify-content: center
    +r($mobbig)
      padding-bottom: 25px
      font-size: 23px
  &__title
    +nitti
    font-size: 30px
    line-height: 21px
    text-transform: uppercase
    color: #1C1C1C
  &__body
    padding-top: 39px
    padding-bottom: 39px
    position: relative
    
    &::before
      content: ''
      width: 1px
      height: 100%
      position: absolute
      background: #1c1c1c
      left: 52px
      top: 0
      +r($mobbig)
        left: 13px
  &__item
    display: flex
    flex-wrap: wrap
    position: relative
    padding-left: 89px
    margin-bottom: 43px
    +r($mobbig)
      padding-left: 44px
      margin-bottom: 15px
      margin-bottom: 55px
    &-title
      +nitti
      font-size: 14px
      color: #1c1c1c
      text-transform: uppercase
      margin-bottom: 7px
      width: 100%
      a
        text-decoration: underline
        color: #1c1c1c
        &:hover
          color: #1c1c1c
    &-content
      display: flex
      flex-wrap: wrap
      p
        display: flex
        width: 100%
        font-size: 12px
        line-height: 1.4
        color: #1c1c1c
      img
        width: 80px
        height: 80px
        margin-right: 15px
        +r($mobbig)
          margin-right: 11px
          width: calc(25% - 11px)

    &-icon
      width: 27px
      height: 27px
      border-radius: 50%
      border: 1px solid #1c1c1c
      background: #ffffff
      display: flex
      justify-content: center
      align-items: center
      position: absolute
      left: 39px
      +r($mobbig)
        left: 0
      svg
        display: flex
        width: 13px
        height: 13px