<!-- begin checkout__products-small -->
<div class="checkout__products-small">

  <div class="checkout__products-title">Детали заказа <span class="checkout__products__edit">Редактировать</span></div>
  {% for i in range(0, 3) %}
  <div class="checkout__products-small__item">
    <a href="" class="checkout__products-item__img">
      <img src="./img/card/2.png" alt="">
    </a>
    <div class="checkout__products-item__side">
      <a href="" class="checkout__products-item__title">Модные кроссовки 'Love'</a>
      <div class="checkout__products__text">Размер: S</div>
      <div class="checkout__products__text">Цвет: серый</div>
      <div class="checkout__products__text">Количество: 1</div>
    </div>

  </div>
  {% endfor %}


  <form action="" class="checkout__coupon">
    <input type="text"  placeholder="Есть скидочный купон?"/>
    <a href="" class="btn btn__black"><span>Добавить</span></a>
  </form>

  <!-- begin checkout__info-total -->
  <div class="checkout__info-total">

    <div class="checkout__info-total--text">
      <span>Стоимость товара</span><span>$205.00</span>
    </div>
    <div class="checkout__info-total--text">
      <span>Комиссия ChiPeer 7%</span><span>$14.35</span>
    </div>
    <div class="checkout__info-total--text">
      <span>Комиссия автору 3-5%</span><span>$6.15</span>
    </div>
    <div class="checkout__info-total--text checkout__info-total--text-big">
      <span>Итоговая цена</span><span>$225.50</span>
    </div>
    
  </div>
  <!-- end checkout__info-total -->


  
</div>
<!-- end checkout__products-small -->