
<!-- begin top-notification -->
<div class="notification notification-top js-notification is-active">

    <span>Зарегистрируй сейчас и получи скидку 15% с первого заказа!</span>
    <span class="js-close-notification">
      {{mixins.icon('close')}}
    </span>
    
  </div>
  <!-- end top-notification -->
    
  <header class="header">
    
    <div class="uk-container">
      <div class="header__inner">

        <div class="mobile-burger is-mobile">

        <span class="js-show-menu">
          {{mixins.icon('hamburger')}}
        </span>

      </div>
        
      
      <!-- begin header-logo -->
      <div class="header__logo">
        <a href="">
          <img src="./img/logo.png" alt="">
        </a>
      </div>
      <!-- end header-logo -->
  
      <!-- begin header__create -->
     
      <!-- end header__create -->
      <!-- begin header__right -->
      <div class="header__right">
        <div class="header__right-top is-desktop">
          <select name="" id="" class="lang-select">
            <option value="1">RU</option>
            <option value="2">ENG</option>
          </select>
        </div>
        <div class="header__right-bot">

          <a href="#" class="header__right-present is-desktop"><img src="./img/icon/present.svg" alt=""></a>
          <a href="#" class="header__right-mail active is-desktop">
            <img src="./img/icon/mail.svg" alt="">
          </a>

          <span uk-toggle="target: #search-main" class="header__right-search js-show-search is-desktop">
            {{mixins.icon('search')}}
          </span>

          <div class="header__tight-create is-desktop">
  
            <a href="" class="btn btn__orange btn__uppercase">
              <span>Создать</span>{{mixins.icon('plus')}}
            </a>
            
          </div>

          <div class="header__right-user">
            <span class="user-notif is-mobile">
              {{mixins.icon('notif')}}
              <span class="num-notif">13</span>
            </span>
            <div class="user-photo">
              <span class="num-notif is-desktop">2</span>
              <img src="./img/cabinet/photo-user.png" alt="" class="avatar">
            </div>  
          </div>
        </div>
  
  
        
      </div>
      <!-- end header__right -->
    </div>
    </div>
  
    
  </header>