
<!-- begin top-notification -->
<div class="notification notification-top js-notification is-active">

  <span>Зарегистрируй сейчас и получи скидку 15% с первого заказа!</span>
  <span class="js-close-notification">
    {{mixins.icon('close')}}
  </span>
  
</div>
<!-- end top-notification -->
  
<header class="header">
  
  <div class="uk-container">
    <div class="header__inner">

      <div class="mobile-burger is-mobile">

        <span class="js-show-menu">
          {{mixins.icon('hamburger')}}
        </span>

      </div>
      
    
    <!-- begin header-logo -->
    <div class="header__logo">
      <a href="">
        <img src="./img/logo.png" alt="">
      </a>
    </div>
    <!-- end header-logo -->

    <!-- begin header__create -->
    <div class="header__create is-desktop">

      <a href="" class="btn btn__orange btn__uppercase">
        <span>Создать</span>{{mixins.icon('plus')}}
      </a>
      
    </div>
    <!-- end header__create -->
    <!-- begin header__right -->
    <div class="header__right is-desktop">
      <div class="header__right-top">
        <select name="" id="" class="lang-select">
          <option value="1">RU</option>
          <option value="2">ENG</option>
        </select>
      </div>
      <div class="header__right-bot">
        <span uk-toggle="target: #search-main" class="header__right-search js-show-search">
          {{mixins.icon('search')}}
        </span>
        <div class="header__auth-links">
          <a href="" class="default-link t-upper">войти</a> <span class="link-diviver">/</span> <a href="" class="t-upper default-link">Регистрация</a>
        </div>
      </div>


      
    </div>
    <!-- end header__right -->

    <div class="header__right-user is-mobile">
      <span class="user-notif is-mobile">
        {{mixins.icon('notif')}}
        <span class="num-notif">13</span>
      </span>
      <div class="user-photo">
        <span class="num-notif is-desktop">2</span>
        <img src="./img/cabinet/photo-user.png" alt="" class="avatar">
      </div>  
    </div>


  </div>
  </div>

  
</header>