<!-- begin mobile-menu -->
<div class="mobile-menu" id="mobileMenu" uk-offcanvas="mode: slide">

  <div class="uk-offcanvas-bar">

  <!-- begin mobile-menu__wrapper -->
  <div class="mobile-menu__wrapper">

    <!-- begin mobile-menu__header -->
    <div class="mobile-menu__header">

      <span class="mobile-menu__close js-close-mob-menu">
        {{mixins.icon('close')}}
      </span>

      <div class="mobile-menu__title">Меню</div>
    </div>
    <!-- end mobile-menu__header -->

    <!-- begin mobile-menu__body -->
    <div class="mobile-menu__body">

       <!-- begin header-logo -->
       <div class="header__logo">
          <a href="">
            <img src="./img/logo.png" alt="">
          </a>
        </div>
        <!-- end header-logo -->

        <ul class="mobile-menu__list">
          <li class="mobile-menu__item">
            <a href="" class="mobile-menu__link">
              Личный кабитнет
            </a>
          </li>
          <li class="mobile-menu__item">
            <a href="" class="mobile-menu__link">
              Покупки/продажи
            </a>
          </li>
          <li class="mobile-menu__item">
            <a href="" class="mobile-menu__link">
              Контент
            </a>
          </li>
          <li class="mobile-menu__item">
            <a href="" class="mobile-menu__link">
              Сообщения  <span class="mobile-menu__notif">5</span>
            </a>
          </li>
          <li class="mobile-menu__item">
            <a href="" class="mobile-menu__link">
              Уведомления <span class="mobile-menu__notif">13</span>
            </a>
          </li>
          <li class="mobile-menu__item">
            <a href="" class="mobile-menu__link">
              Список желаний
            </a>
          </li>
          <li class="mobile-menu__item">
            <a href="" class="mobile-menu__link">
              Пригласи друга
            </a>
          </li>
          <li class="mobile-menu__item">
            <a href="" class="mobile-menu__link">
              Настройки
            </a>
          </li>
          <li class="mobile-menu__item">
            <a href="" class="mobile-menu__link">
              Помощь
            </a>
          </li>
          <li class="mobile-menu__item">
            <a href="" class="mobile-menu__link">
              Выйти
            </a>
          </li>
        </ul>

        <!-- begin lang-change__switcher -->
        <div class="lang-change__switcher">

          <a href="" class="lang-change__switcher-item is-active">RU</a>
          <a href="" class="lang-change__switcher-item">ENG</a>
          
        </div>
        <!-- end lang-change__switcher -->

        <div class="mobile-menu__social">
          <div class="social">
            <a href="" class="social__item">
              {{mixins.icon('insta')}}
            </a>
            <a href="" class="social__item">
              {{mixins.icon('facebook')}}
            </a>
            <a href="" class="social__item">
              {{mixins.icon('vk')}}
            </a>
            <a href="" class="social__item">
              {{mixins.icon('twitter')}}
            </a>
          </div>
        </div>
      
    </div>
    <!-- end mobile-menu__body -->
    
  </div>
  <!-- end mobile-menu__wrapper -->

</div>
  
</div>
<!-- end mobile-menu -->