<!-- begin panel-footer is-mobile -->
<div class="panel-footer is-mobile" >

  <a href="" class="panel-footer__icon is-active">
    {{mixins.icon('house')}}
  </a>
  <a href="" class="panel-footer__icon js-show-search" uk-toggle="target: #search-main">
    {{mixins.icon('search')}}
    {{mixins.icon('search3')}}
  </a>
  <a href="" class="panel-footer__icon is-current">
    {{mixins.icon('add')}}
  </a>
  <a href="" class="panel-footer__icon">
    {{mixins.icon('present2')}}
  </a>
  <a href="" class="panel-footer__icon panel-footer__icon-two-icons ">
    {{mixins.icon('message')}}
    {{mixins.icon('message1')}}
    <span class="panel-footer__count">21</span>
  </a>
  
</div>
<!-- end panel-footer is-mobile -->