<form action="" class="form-auth">
  <div class="form-auth__top">
    <div class="form-auth__title">
      СМС подтверждение
    </div>
  </div>
  <div class="form-auth__item form-auth__item-solid-mobile form-auth__item-bottom-m ">
      <label for="" class="form__label">Смс код</label>
      <input type="text" class="form__input" />
  </div>
  
  <div class="form-auth__bot form-auth__bot-no-m">
    <a href="" class="btn btn__black btn__uppercase form-auth__bot-full">
      <span>Подтвердить</span>
    </a>
  </div>
  <div class="form-auth__item form-auth__item-pol form-auth__item-no-border uk-flex-center">
    <label  class="label-select">
      <span class="t-normal t-default">Не получили код подтверждния? <a href="">Выслать еще раз</a></span>
    </label>
  </div>
</form>