<form action="" class="form-auth">
  <div class="form-auth__top">
    <div class="form-auth__title">
      Зарегистрироваться с помощью
    </div>
  </div>
  <div class="form-auth__bot">
    <a href="" class="btn btn__transparent btn__uppercase">
      {{mixins.icon('google')}}
      <span>Google</span>
    </a>
    <a href="" class="btn btn__gradient btn__uppercase btn__insta">
      {{mixins.icon('insta')}}
      <span>instagram</span>
    </a>
  </div>
</form>