<form action="" class="form-auth">
  <div class="form-auth__top">
    <div class="form-auth__title">
      Доп. информация
    </div>
  </div>
  <div class="form-auth__item uk-flex-around">
    <label class="label-select">
      <input type="radio" name="red-type" id="">
      <span>Мужчина</span>
    </label>
    <label class="label-select">
      <input type="radio" name="red-type" id="">
      <span>Женщина</span>
    </label>
    <label class="label-select">
      <input type="radio" name="red-type" id="">
      <span>Магазин</span>
    </label>
  </div>
  <div class="form-auth__item form-auth__item-has-inner ">
    <div class="form-auth__item-inner form-auth__item-inner-50">
      <!-- <label for="" class="form__label">Никнейм</label> -->
      <input type="text" class="form__input form__input-no-padding" placeholder="Никнейм"/>
    </div>
    <div class="form-auth__item-inner form-auth__item-inner-50">
      <!-- <label for="" class="form__label">email</label> -->
      <input type="mail" class="form__input form__input-no-padding" placeholder="email" />
    </div>
  </div>
  <div class="form-auth__item form-auth__item-dashed form-auth__item-grey form-auth__item-solid-mobile">
      <label for="" class="form__label ">телефон</label>
      <input type="tel" class="form__input" />
  </div>
  <div class="form-auth__item form-auth__item-pol">
    <label  class="label-select">
      <input type="checkbox" name="" >
      <span class="t-normal t-default">Я соглашаюсь с <a href="">Политикой конфиденциальности</a></span>
    </label>
  </div>
  <div class="form-auth__bot">
    <a href="" class="btn btn__transparent btn__transparent-type btn__uppercase">
      <span>назад</span>
    </a>
    <a href="" class="btn btn__black btn__uppercase">
      <span>Далее</span>
    </a>
  </div>
</form>