<!-- begin direct__items -->
<div class="direct__items">

  {% for i in range(0, 10) %}



  
  <!-- begin direct__item -->
  <div class="direct__item {% if i === 0 %}is-active{%endif%} js-to-show-on-mobile-message">

    <div class="direct__item-img">
      <a href="">
       <img src="./img/cabinet/seller-user.png" alt="">
      </a>
    </div>

    <div class="direct__item-side">
      <div class="direct__item-side-top">
        <a href="" class="direct__item-name">Данил Поперечный</a>
        <span class="direct__item-time">12:43</span>
      </div>
      <div class="direct__item-side-middle">
        <a href="" class="direct__item-side-product">Модные кроссовки 'Love'</a>
        <a href="" class="direct__item-side-manufact">Dolce & Gabbana</a>
      </div>
      <div class="direct__item-side-text">Задача организации, в особенности же дальнейшее развитие различных форм...</div>
    </div>

    
  </div>
  <!-- end direct__item -->
  {% endfor %}
  
</div>
<!-- end direct__items -->