<!-- begin direct__message -->
<div class="direct__message">

  

  <!-- begin direct__message-body -->
  <div class="direct__message-body">

    <!-- begin direct__message-item -->
    <div class="direct__message-item direct__message-item-to">
      <div class="direct__message-item__avatar">
        <a href="" class="direct__message-item__avatar-link">
          <img src="./img/cabinet/seller-user.png" alt="">
        </a>
        <div class="direct__message-item__time">12:43</div>
      </div>
      <div class="direct__message-item-content">
        <div class="direct__message-item-content__name">Данил Поперечный</div>
        <div class="direct__message-item-content__inner">
          <p>Таким образом постоянный количественный рост и сфера нашей активности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. </p>
        </div>
        
      </div>
    </div>
    <!-- end direct__message-item -->

    <!-- begin direct__message-item -->
    <div class="direct__message-item direct__message-item-from">
      <div class="direct__message-item__avatar">
        <a href="" class="direct__message-item__avatar-link">
          <img src="./img/cabinet/seller-user.png" alt="">
        </a>
        <div class="direct__message-item__time">12:43</div>

      </div>
      <div class="direct__message-item-content">
        <div class="direct__message-item-content__item">
          <div class="direct__message-item-content__inner">
            <p>Вау. Супер!</p>
            <p>Таким образом постоянный количественный рост и сфера нашей активности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end direct__message-item -->

    <!-- begin direct__message-item -->
    <div class="direct__message-item direct__message-item-from">
      <div class="direct__message-item__avatar">
        <a href="" class="direct__message-item__avatar-link">
          <img src="./img/cabinet/seller-user.png" alt="">
        </a>
        <div class="direct__message-item__time">12:43</div>

      </div>
      <div class="direct__message-item-content">
        <div class="direct__message-item-content__item">
          <div class="direct__message-item-content__inner">
            <p>Вау. Супер!</p>
            <p>Таким образом постоянный количественный рост и сфера нашей активности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. </p>
          </div>
        </div>
        <div class="direct__message-item-content__item direct__message-item-content__item-img">
          <img class="direct__message-item-content__img" src="/img/card/1.png" alt="">
        </div>
        <div class="direct__message-item-content__item direct__message-item-content__item-img">
          <img class="direct__message-item-content__img" src="/img/card/1.png" alt="">
        </div>
        <div class="direct__message-item-content__inner">
          <p>Вау. Супер!</p>
        </div>
        <div class="direct__message-item-content__item">
          <div class="direct__message-item-content__inner">
            <p>Вау. Супер!</p>
          </div>
        </div>
        
      </div>
    </div>
    <!-- end direct__message-item -->

    <div class="direct__message-separator">
      <span>Сегодня</span>
    </div>

    <!-- begin direct__message-item -->
    <div class="direct__message-item direct__message-item-from">
      <div class="direct__message-item__avatar">
        <a href="" class="direct__message-item__avatar-link">
          <img src="./img/cabinet/seller-user.png" alt="">
        </a>
        <div class="direct__message-item__time">12:43</div>

      </div>
      <div class="direct__message-item-content">
        <div class="direct__message-item-content__item direct__message-item-content__item-img">
          <img class="direct__message-item-content__img" src="/img/card/1.png" alt="">
        </div>
        <div class="direct__message-item-content__item direct__message-item-content__item-img">
          <img class="direct__message-item-content__img" src="/img/card/1.png" alt="">
        </div>
        <div class="direct__message-item-content__inner">
          <p>Вау. Супер!</p>
        </div>
        <div class="direct__message-item-content__item">
          <div class="direct__message-item-content__inner">
            <p>Вау. Супер!</p>
          </div>
        </div>
        <div class="direct__message-item-content__item">
          <div class="direct__message-item-content__inner">
            <p>Вау. Супер!</p>
            <p>Таким образом постоянный количественный рост и сфера нашей активности требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Задача организации, в особенности же реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. </p>
          </div>
        </div>
      </div>
    </div>
    <!-- end direct__message-item -->

  

    
  </div>
  <!-- end direct__message-body -->

  
</div>
<!-- end direct__message -->