@font-face {
    font-family: 'Nitti';
    src: url('Nitti-Normal.eot');
    src: url('Nitti-Normal.eot?#iefix') format('embedded-opentype'),
        url('Nitti-Normal.woff2') format('woff2'),
        url('Nitti-Normal.woff') format('woff'),
        url('Nitti-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AGGloriaC';
    src: url('AGGloriaC.eot');
    src: url('AGGloriaC.eot?#iefix') format('embedded-opentype'),
        url('AGGloriaC.woff2') format('woff2'),
        url('AGGloriaC.woff') format('woff'),
        url('AGGloriaC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

