<!-- begin card-item -->
<div class="card-item">

  <!-- begin card-item__img -->
  <div class="card-item__img">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="">
            <img src="./img/card/1.png" alt="">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="">
            <img src="./img/card/2.png" alt="">
          </a>
        </div>
        <div class="swiper-slide">
          <a href="">
            <img src="./img/card/3.png" alt="">
          </a>
        </div>
      </div>
    </div>
    <!-- begin card-item__img-info -->
    <div class="card-item__img-info">
      <div class="card-item__img-pagination" data-key-pagina="Фото"></div>
      <div class="card-item__locate">
        <a href="">
           <svg class="icon icon-pin">
              <use xlink:href="img/sprite.svg#icon-pin"></use>
            </svg>
          <span>Лион, FR</span>
        </a>
      </div>
    </div>
    <!-- end card-item__img-info -->
     <!-- begin card-item__recomed -->
      <div class="card-item__recomed">
       
        
        <span class="card-item__recomed-item">
          Рекомендовано
        </span>
        <span class="card-item__recomed-text">
          <span class="card-item__recomed-status  {{item.laststatus}}">

          </span>

          5 часов назад
          <span class="span card-item__recomed-text-lined">(6&nbsp;дней)</span>
        </span>
      </div>
      <!-- end card-item__recomed -->
  </div>
  <!-- end card-item__img -->


  {% if item.sale %}
  <!-- begin card-item__sale -->
  <div class="card-item__sale">
    <span> <span class="card-item__sale-small">-</span>20<span class="card-item__sale-percent">%</span></span>
  </div>
  <!-- end card-item__sale -->
  {% endif %}

 

  <!-- begin card-item__nickname -->
  <div class="card-item__nickname">
    <a href="">никнейм_Анастасия</a>
  </div>
  <!-- end card-item__nickname -->  

  <!-- begin card-item__info -->
  <div class="card-item__info">

    <!-- begin card-info__brand -->
    <div class="card-item__brand">
      <a href="">{{item.brand}}</a>
    </div>
    <!-- end card-info__brand -->

    <!-- begin card-item__title -->
    <div class="card-item__title">
      <a href="">{{item.title}}</a>
    </div>
    <!-- end card-item__title -->

    <!-- begin card-item__big-link -->
    <div class="card-item__big-link">
      <a href="">Ourfit url <svg class="icon icon-arrow">
        <use xlink:href="img/sprite.svg#icon-arrow"></use>
      </svg></a>
    </div>
    <!-- end card-item__big-link -->
    
  </div>
  <!-- end card-item__info -->

  <!-- begin card-item__bar -->
  <div class="card-item__bar">
    <a href="" class="card-item__bar-item">
      <svg class="icon icon-like">
          <use xlink:href="img/sprite.svg#icon-like"></use>
        </svg>
      <span>13</span>
    </a>
    <a href="" class="card-item__bar-item">
      <svg class="icon icon-present">
          <use xlink:href="img/sprite.svg#icon-present"></use>
        </svg>
      <span>2</span>
    </a>
     <!-- begin card-item__bar-item card-item__bar-item-50 -->
     <a class="card-item__bar-item card-item__bar-item-50" href="" uk-toggle="target: #add-merchant">

      <span class="color-dark size-medium t-upper">Add merchant</span>
      
      
    </a>
    <!-- end card-item__bar-item card-item__bar-item-50 -->


  </div>
  <!-- end card-item__bar -->

  
  
</div>
<!-- end card-item -->