<!-- begin card-item -->
<div class="card-item card-item-sales">

    <!-- begin card-item__img -->
    <div class="card-item__img">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="">
              <img src="{{item.imgView | safe}}" alt="">
              
            </a>
          </div>
        </div>
      </div>
      <!-- begin card-item__img-info -->
      <div class="card-item__img-info">
        <div class="card-item__img-pagination" data-key-pagina="Фото"></div>
        <div class="card-item__locate">
          <a href="">
             <svg class="icon icon-pin">
              <use xlink:href="img/sprite.svg#icon-pin"></use>
            </svg>
            <span>Лион, FR</span>
          </a>
        </div>
      </div>
      <!-- end card-item__img-info -->
    </div>
    <!-- end card-item__img -->
  
    {% if item.sale %}
    <!-- begin card-item__sale -->
    <div class="card-item__sale">
      <span> <span class="card-item__sale-small">-</span>20<span class="card-item__sale-percent">%</span></span>
    </div>
    <!-- end card-item__sale -->
    {% endif %}
  
    <!-- begin card-item__nickname -->
    <div class="card-item__nickname">
      <a href="">никнейм_Анастасия</a>
    </div>
    <!-- end card-item__nickname -->  
  
    <!-- begin card-item__info -->
    <div class="card-item__info">
  
      <!-- begin card-info__brand -->
      <div class="card-item__brand">
        <a href="">{{item.brand}}</a>
      </div>
      <!-- end card-info__brand -->
  
      <!-- begin card-item__title -->
      <div class="card-item__title">
        <a href="">{{item.title}}</a>
      </div>
      <!-- end card-item__title -->
  
      <!-- begin card-item__price -->
      <div class="card-item__price">
        {% if item.old %}
        <div class="card-item__price-old">{{item.old}}</div>
        {% endif %}
        <div class="card-item__price-current">{{item.current}}</div>
      </div>
      <!-- end card-item__price -->
      
    </div>
    <!-- end card-item__info -->
  
    <!-- begin card-item__sales-info -->
        <div class="card-item__sales-info">
            <div class="sales-info__top more">

            </div>
            <div class="sales-info__title">
                Статус
            </div>
            <div class="sales-info__status status-green"></div>
            <div class="sales-info__num"></div>
            <div class="sales-info__btn">
                <a href="#" class="btn btn-black">Перепродать</a>
                <a href="#" class="btn btn-orange">Получить товар</a>
            </div>
        </div>
    <!-- end card-item__sales-info -->
    
    
  </div>
  <!-- end card-item -->