<!-- begin card-item -->
<div class="card-item">

    <!-- begin card-item__img -->
    <div class="card-item__img">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="">
              <img src="{{item.imgView | safe}}" alt="">
              
            </a>
          </div>
          <div class="swiper-slide">
            <a href="">
              <img src="./img/card/2.png" alt="">
            </a>
          </div>
          <div class="swiper-slide">
            <a href="">
              <img src="./img/card/3.png" alt="">
            </a>
          </div>
        </div>
      </div>
      <!-- begin card-item__img-info -->
      <div class="card-item__img-info">
        <div class="card-item__img-pagination" data-key-pagina="Фото"></div>
        <div class="card-item__locate">
          <a href="">
            
           
            <span>Лион, FR</span>
          </a>
        </div>
      </div>
      <!-- end card-item__img-info -->
    </div>
    <!-- end card-item__img -->
  
    {% if item.sale %}
    <!-- begin card-item__sale -->
    <div class="card-item__sale">
      <span> <span class="card-item__sale-small">-</span>20<span class="card-item__sale-percent">%</span></span>
    </div>
    <!-- end card-item__sale -->
    {% endif %}
  
    <!-- begin card-item__nickname -->
    <div class="card-item__nickname">
      <a href="">никнейм_Анастасия</a>
    </div>
    <!-- end card-item__nickname -->  
  
    <!-- begin card-item__info -->
    <div class="card-item__info">
  
      <!-- begin card-info__brand -->
      <div class="card-item__brand">
        <a href="">{{item.brand}}</a>
      </div>
      <!-- end card-info__brand -->
  
      <!-- begin card-item__title -->
      <div class="card-item__title">
        <a href="">{{item.title}}</a>
      </div>
      <!-- end card-item__title -->
  
      <!-- begin card-item__price -->
      <div class="card-item__price">
        {% if item.old %}
        <div class="card-item__price-old">{{item.old}}</div>
        {% endif %}
        <div class="card-item__price-current">{{item.current}}</div>
      </div>
      <!-- end card-item__price -->
      
    </div>
    <!-- end card-item__info -->
  
    <!-- begin card-item__bar -->
    <div class="card-item__bar">
      <a href="" class="card-item__bar-item">
        <svg class="icon icon-like">
          <use xlink:href="img/sprite.svg#icon-like"></use>
        </svg>
        
        <span>13</span>
      </a>
      <a href="" class="card-item__bar-item">
        <svg class="icon icon-present">
          <use xlink:href="img/sprite.svg#icon-present"></use>
        </svg>
        <span>2</span>
      </a>
      <a href="" class="card-item__bar-item">
        <svg class="icon icon-eye">
          <use xlink:href="img/sprite.svg#icon-eye"></use>
        </svg>
        <span>45K</span>
      </a>
      <a href="" class="card-item__bar-item  js-share-button">
        {{mixins.icon('share')}}
      </a>
      <div uk-dropdown="mode: click; pos: top-right; offset: 0" class="sharing-drop__wrapper"> 
        <!-- begin sharing-wrapper__inner -->
        <div class="sharing-drop__inner">
  
          <div class="sharing-drop__item">
            <div class="sharing-drop__img"><img src="./img/social/telegram.svg" alt=""></div>
            <div class="sharing-drop__text">Поделиться через Telegram</div>
          </div>
          <div class="sharing-drop__item">
            <div class="sharing-drop__img"><img src="./img/social/viber.svg" alt=""></div>
            <div class="sharing-drop__text">Поделиться через Viber</div>
          </div>
          <div class="sharing-drop__item">
            <div class="sharing-drop__img"><img src="./img/socials/messenger.svg" alt=""></div>
            <div class="sharing-drop__text">Поделиться через Messenger</div>
          </div>
          <div class="sharing-drop__item">
            <div class="sharing-drop__img"><img src="./img/social/twitter.svg" alt=""></div>
            <div class="sharing-drop__text">Поделиться через Twitter</div>
          </div>
          <div class="sharing-drop__item">
            <div class="sharing-drop__img"><img src="./img/social/gmail.svg" alt=""></div>
            <div class="sharing-drop__text">По электронной почте</div>
          </div>
          <div class="sharing-drop__item js-copy-link" data-link-product="google.com">
            <div class="sharing-drop__img"><img src="./img/social/Vector.svg" alt=""></div>
            <div class="sharing-drop__text">Копировать ссылку</div>
          </div>
          
        </div>
        <!-- end sharing-wrapper__inner -->
      </div>
      


    </div>
    <!-- end card-item__bar -->
    
    
  </div>
  <!-- end card-item -->