<!-- begin detailed-product__seller -->
<div class="detailed-product__seller detailed-product__info-row-border is-mobile">
  <div class="detailed-product__manufacture">
    <a href="">
      <img src="./img/man.png" alt="">
    </a>
  </div>
  <a href="" class="link orange">@Никнейм_Анастасия</a>
</div>
<!-- end detailed-product__seller -->

<!-- begin detailed-product__tabs -->
<div class="detailed-product__tabs js-tabs  is-desktop">

  <!-- begin detailed-product__tabs-top -->
  <div class="detailed-product__tabs-top">

      <!-- begin detailed-product__tabls-header -->
      <div class="detailed-product__tabs-header js-tabs-header">


        <span class="detailed-product__tabs-link is-active">Описание</span>
        <span class="detailed-product__tabs-link">Детали</span>

        
      </div>
      <!-- end detailed-product__tabls-header -->
      
      <a href="" class="link orange">@Никнейм_Анастасия</a>
    
  </div>
  <!-- end detailed-product__tabs-top -->

  <!-- begin detailed-product__tabs-body -->
  <div class="detailed-product__tabs-body js-tabs-body">

    <div class="detailed-product__tabs-item">
      <div class="detailed-product__tabs-content">
        <p>Существующий с середины 60-х годов бренд Sergio Rossi представляет уникальную обувь, опираясь на опыт и наследие своего создателя. Запуск коллекции sr1 ознаменовал переход лейбла в новую эпоху: элегантные туфли-лодочки, лоферы и ботильоны, украшенные геометрическими узорами и изысканным декором — прекрасное дополнение образа современной женщины в лучших итальянских традициях.</p>
        <ul>
          <li>Lorem ipsum dolor sit amet
          </li>
          <li>Aliquam tincidunt mauris eu risus
          </li>
          <li>Ultrices nulla quis nibh
          </li>
        </ul>
      </div>
    </div>
    <div class="detailed-product__tabs-item">
      <div class="detailed-product__tabs-content">
        <p>222222Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda quos incidunt quaerat ducimus tempora odit quae. Ex nostrum esse, a debitis veniam voluptatibus minus, rerum temporibus architecto dolorum, doloribus iure.</p>
        <p>Существующий с середины 60-х годов бренд Sergio Rossi представляет уникальную обувь, опираясь на опыт и наследие своего создателя. Запуск коллекции sr1 ознаменовал переход лейбла в новую эпоху: элегантные туфли-лодочки, лоферы и ботильоны, украшенные геометрическими узорами и изысканным декором — прекрасное дополнение образа современной женщины в лучших итальянских традициях.</p>
        <ul>
          <li>Lorem ipsum dolor sit amet
          </li>
          <li>Aliquam tincidunt mauris eu risus
          </li>
          <li>Ultrices nulla quis nibh
          </li>
        </ul>
      </div>
    </div>
    
  </div>
  <!-- end detailed-product__tabs-body -->


  
</div>
<!-- end detailed-product__tabs -->

<!-- begin detailed-product__tags -->
<div class="detailed-product__tags">
  <div class="detailed-product__tags-title">Хештеги:</div>
  <a href="" class="detailed-product__tags-item">#outfit</a>
  <a href="" class="detailed-product__tags-item">#outfitoftheday</a>
  <a href="" class="detailed-product__tags-item">#outfit</a>
  <a href="" class="detailed-product__tags-item">#beautiful</a>
  <a href="" class="detailed-product__tags-item">#outfitoftheday</a>
  <a href="" class="detailed-product__tags-item">#outfit</a>
  <a href="" class="detailed-product__tags-item">#beautiful</a>
  <a href="" class="detailed-product__tags-item">#wiw</a>
  <a href="" class="detailed-product__tags-item">#style</a>
</div>
<!-- end detailed-product__tags -->

<!-- begin detailed-product__accordion -->
<div class="detailed-product__accordion is-mobile">

  <ul class="js-from-tabs-list" uk-accordion>
      <li class="uk-open">
          <a class="uk-accordion-title js-from-tabs-title" href="#"></a>
          <div class="uk-accordion-content js-from-tabs-content">
             
          </div>
      </li>
      
  </ul>
  
</div>
<!-- end detailed-product__accordion -->

<!-- begin detailed-product__recomend -->
<div class="detailed-product__recomend is-mobile">

 <!-- begin detailed-product__more -->
<div class="detailed-product__more">
  <div class="detailed-product__more-head">
    <div class="small-title">
      Похожее (21)
    </div>
  </div>
  <div class="detailed-product__more-slider swiper-container js-see-more-slider js-from-mobile-data">
    <div class="swiper-wrapper">
      {% for i in range(0, 5) %}
    
      <div class="swiper-slide">
          
        <!-- begin card-item -->
          <div class="card-item">

            <!-- begin card-item__img -->
            <div class="card-item__img">
              <a href="">
                <img src="./img/card/1.png" alt="">
              </a>
            </div>
            <!-- end card-item__img -->
 

            <!-- begin card-item__info -->
            <div class="card-item__info">

              <!-- begin card-info__brand -->
              <div class="card-item__brand is-mobile">
                <a href="">Dolce & Gabbana</a>
              </div>
              <!-- end card-info__brand -->

              <!-- begin card-item__title -->
              <div class="card-item__title">
                <a href="">Check Structured blazer</a>
              </div>
              <!-- end card-item__title -->

              <!-- begin card-item__price -->
              <div class="card-item__price">
                <div class="card-item__price-current">$205.00</div>
              </div>
              <!-- end card-item__price -->
              
            </div>
            <!-- end card-item__info -->

            <!-- begin card-item__bar -->
            <div class="card-item__bar is-mobile">
              <a href="" class="card-item__bar-item">
                {{mixins.icon('like')}}
                <span>13</span>
              </a>
              <a href="" class="card-item__bar-item">
                {{mixins.icon('present')}}
                <span>2</span>
              </a>
              <a href="" class="card-item__bar-item">
                {{mixins.icon('eye')}}
                <span>45K</span>
              </a>
              <a href="" class="card-item__bar-item  js-share-button">
                {{mixins.icon('share')}}
              </a>
              <div uk-dropdown="mode: click; pos: top-right; offset: 0" class="sharing-drop__wrapper"> 
                <!-- begin sharing-wrapper__inner -->
                <div class="sharing-drop__inner">
          
                  <div class="sharing-drop__item">
                    <div class="sharing-drop__img"><img src="./img/social/telegram.svg" alt=""></div>
                    <div class="sharing-drop__text">Поделиться через Telegram</div>
                  </div>
                  <div class="sharing-drop__item">
                    <div class="sharing-drop__img"><img src="./img/social/viber.svg" alt=""></div>
                    <div class="sharing-drop__text">Поделиться через Viber</div>
                  </div>
                  <div class="sharing-drop__item">
                    <div class="sharing-drop__img"><img src="./img/socials/messenger.svg" alt=""></div>
                    <div class="sharing-drop__text">Поделиться через Messenger</div>
                  </div>
                  <div class="sharing-drop__item">
                    <div class="sharing-drop__img"><img src="./img/social/twitter.svg" alt=""></div>
                    <div class="sharing-drop__text">Поделиться через Twitter</div>
                  </div>
                  <div class="sharing-drop__item">
                    <div class="sharing-drop__img"><img src="./img/social/gmail.svg" alt=""></div>
                    <div class="sharing-drop__text">По электронной почте</div>
                  </div>
                  <div class="sharing-drop__item js-copy-link" data-link-product="google.com">
                    <div class="sharing-drop__img"><img src="./img/social/Vector.svg" alt=""></div>
                    <div class="sharing-drop__text">Копировать ссылку</div>
                  </div>
                  
                </div>
                <!-- end sharing-wrapper__inner -->
              </div>
            </div>
            <!-- end card-item__bar -->
            
            
          </div>
          <!-- end card-item -->
          
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="detailed-product__more-link">
    <a href="" class="btn btn__white-border">
      <span>Показать больше</span>
    </a>
  </div>
  
</div>
<!-- end detailed-product__more -->


  
</div>
<!-- end detailed-product__recomend -->