<!-- begin detailed-product__info -->
<div class="detailed-product__info">
  <h1 class="detailed-product__info-title is-desktop">
    <span>Модные кроссовки 'Love Letters' весна-лето 2018</span>
  </h1>
  <div class="detailed-product__info-price is-desktop">
    
    <div class="card-item__price-current">$205.00</div>
    <div class="card-item__price-old">$252.00</div>
  </div>
  <!-- begin detailed-product__info-main -->
  <div class="detailed-product__info-main">
    <div class="detailed-product__info-row">
      <span class="detailed-product__info-row__title">Бренд:</span><a class="detailed-product__info-row__stitle" href="">DOLCE & GABBANA</a>
    </div>
    <div class="detailed-product__info-row detailed-product__info-row-border js-product-select-property">
      <span class="detailed-product__info-row__title">Цвет:</span><span class="detailed-product__info-row__stitle js-product-select-property-text">Белый</span>
      <div class="detailed-product__info-row__body"> 
        <span class="detailed-product__info-color" data-text-name="Синий" style="background-color: #205888 ;"></span>
        <span class="detailed-product__info-color" data-text-name="Непонятный" style="background-color: #BF9F78 ;"></span>
        <span class="detailed-product__info-color" data-text-name="Зеленый" style="background-color: #4A6337 ;"></span>
        <span class="detailed-product__info-color is-active" data-text-name="Белый" style="background-color: #fff ;"></span>
        <span class="detailed-product__info-color" data-text-name="Черный" style="background-color: #000000 ;"></span>
        <span class="detailed-product__info-color" data-text-name="Серый" style="background-color: #999999 ;"></span>
      </div>
    </div>
    <!-- begin detailed-product__info-row -->
    <div class="detailed-product__info-row js-product-select-property detailed-product__info-row-border">
      
      <div class="detailed-product__info-row__head">
        <span class="detailed-product__info-row__title">Размер:</span><span class="detailed-product__info-row__stitle  js-product-select-property-text">S</span>
        <div class="show-sizes is-mobile" >
          <span class="show-sizes__icon">
            {{mixins.icon('vesh')}}
  
          </span>
          <a href="#razmermodal" uk-toggle>Таблица размеров</a>
        </div>
      </div>
       
    
      <div class="detailed-product__info-row__body ">
        <span class="detailed-product__info-size is-active" data-text-name="XS">XS</span>
        <span class="detailed-product__info-size" data-text-name="S">S</span>
        <span class="detailed-product__info-size" data-text-name="M">M</span>
        <span class="detailed-product__info-size " data-text-name="L">L</span>
        <span class="detailed-product__info-size" data-text-name="XL">XL</span>
        <div class="show-sizes is-desktop" >
          <span class="show-sizes__icon">
            {{mixins.icon('vesh')}}
  
          </span>
          <a href="#razmermodal" uk-toggle>Таблица размеров</a>
        </div>
      
        
      </div>
    
    </div>
    <!-- end detailed-product__info-row -->
    <!-- begin detailed-product__info-row -->
    <div class="detailed-product__info-row">
      <span class="detailed-product__info-row__title">Наличие на складе:</span><span class="detailed-product__info-row__stitle">мало</span>
    </div>
    <!-- end detailed-product__info-row -->
  </div>
  <!-- end detailed-product__info-main -->
 
  <!-- begin detailed-product__info-status -->
  <div class="detailed-product__info-status detailed-product__info-row-border">
    <span class="detailed-product__info-status--item detailed-product__info-status--available">
      <span class="detailed-product__info-row__title">Статус:</span><span class="detailed-product__info-row__stitle">Доступен для заказа</span>
    </span>
      <span class="detailed-product__info-status--item detailed-product__info-status--canceled">
        <span class="detailed-product__info-row__title">Статус:</span><span class="detailed-product__info-row__stitle">Отсутствует, заказ аннулирован</span>
      </span>
      <span class="detailed-product__info-status--item detailed-product__info-status--delivery">
        <span class="detailed-product__info-row__title">Статус:</span><span class="detailed-product__info-row__stitle">В процессе доставки</span>
      </span>
      <span class="detailed-product__info-status--item detailed-product__info-status--ordered">
        <span class="detailed-product__info-row__title">Статус:</span><span class="detailed-product__info-row__stitle">Заказан</span>
      </span>
  </div>
  <!-- end detailed-product__info-status -->
  <!-- begin detailed-product__info-footer -->
  <div class="detailed-product__info-footer">
    <a href="" class="btn btn__black btn__uppercase">{{mixins.icon('order')}}<span>заказать</span></a><a class="btn  btn__white-border  btn__uppercase" href="">{{mixins.icon('message')}}<span>Написать автору</span></a>
  </div>
  <!-- end detailed-product__info-footer -->
</div>
<!-- end detailed-product__info -->