<!-- begin detailed-product__more -->
<div class="detailed-product__more is-desktop">
  <div class="detailed-product__more-head">
    <div class="small-title">
      Похожее (21)
    </div>
  </div>
  <div class="detailed-product__more-slider swiper-container js-see-more-slider js-from-mobile-data">
    <div class="swiper-wrapper">
      {% for i in range(0, 5) %}
    
      <div class="swiper-slide">
          
        <!-- begin card-item -->
          <div class="card-item">

            <!-- begin card-item__img -->
            <div class="card-item__img">
              <a href="">
                <img src="./img/card/1.png" alt="">
              </a>
            </div>
            <!-- end card-item__img -->
 

            <!-- begin card-item__info -->
            <div class="card-item__info">

              <!-- begin card-info__brand -->
              <div class="card-item__brand is-mobile">
                <a href="">Dolce & Gabbana</a>
              </div>
              <!-- end card-info__brand -->

              <!-- begin card-item__title -->
              <div class="card-item__title">
                <a href="">Check Structured blazer</a>
              </div>
              <!-- end card-item__title -->

              <!-- begin card-item__price -->
              <div class="card-item__price">
                <div class="card-item__price-current">$205.00</div>
              </div>
              <!-- end card-item__price -->
              
            </div>
            <!-- end card-item__info -->

            <!-- begin card-item__bar -->
            <div class="card-item__bar is-mobile">
              <a href="" class="card-item__bar-item">
                {{mixins.icon('like')}}
                <span>13</span>
              </a>
              <a href="" class="card-item__bar-item">
                {{mixins.icon('present')}}
                <span>2</span>
              </a>
              <a href="" class="card-item__bar-item">
                {{mixins.icon('eye')}}
                <span>45K</span>
              </a>
              <a href="" class="card-item__bar-item  js-share-button">
                {{mixins.icon('share')}}
              </a>
              <div uk-dropdown="mode: click; pos: top-right; offset: 0" class="sharing-drop__wrapper"> 
                <!-- begin sharing-wrapper__inner -->
                <div class="sharing-drop__inner">
          
                  <div class="sharing-drop__item">
                    <div class="sharing-drop__img"><img src="./img/social/telegram.svg" alt=""></div>
                    <div class="sharing-drop__text">Поделиться через Telegram</div>
                  </div>
                  <div class="sharing-drop__item">
                    <div class="sharing-drop__img"><img src="./img/social/viber.svg" alt=""></div>
                    <div class="sharing-drop__text">Поделиться через Viber</div>
                  </div>
                  <div class="sharing-drop__item">
                    <div class="sharing-drop__img"><img src="./img/socials/messenger.svg" alt=""></div>
                    <div class="sharing-drop__text">Поделиться через Messenger</div>
                  </div>
                  <div class="sharing-drop__item">
                    <div class="sharing-drop__img"><img src="./img/social/twitter.svg" alt=""></div>
                    <div class="sharing-drop__text">Поделиться через Twitter</div>
                  </div>
                  <div class="sharing-drop__item">
                    <div class="sharing-drop__img"><img src="./img/social/gmail.svg" alt=""></div>
                    <div class="sharing-drop__text">По электронной почте</div>
                  </div>
                  <div class="sharing-drop__item js-copy-link" data-link-product="google.com">
                    <div class="sharing-drop__img"><img src="./img/social/Vector.svg" alt=""></div>
                    <div class="sharing-drop__text">Копировать ссылку</div>
                  </div>
                  
                </div>
                <!-- end sharing-wrapper__inner -->
              </div>
            </div>
            <!-- end card-item__bar -->
            
            
          </div>
          <!-- end card-item -->
          
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="detailed-product__more-link">
    <a href="" class="btn btn__white-border">
      <span>Показать больше</span>
    </a>
  </div>
  
</div>
<!-- end detailed-product__more -->