
<div class="is-mobile detailed-product__head-mob">
  <h2 class="detailed-product__info-title">
    <span>Модные кроссовки 'Love Letters' весна-лето 2018</span>
  </h2>
  <div class="detailed-product__info-price">
    <div class="card-item__price-current">$205.00</div>
    <div class="card-item__price-old">$252.00</div>
  </div>
</div>

<!-- begin detailed-product__slider -->
<div class="detailed-product__slider">

  <!-- begin detailed-product__slider-top -->
  <div class="detailed-product__slider-top ">

      <!-- begin card-item__sale -->
      <div class="card-item__sale">
        <span> <span class="card-item__sale-small">-</span>20<span class="card-item__sale-percent">%</span></span>
      </div>
      <!-- end card-item__sale -->

    <div class="swiper-container js-big-product-slider">
      <div class="swiper-wrapper" uk-lightbox="animation: scale">
        {% for i in range(0, 3) %}
      
        <div class="swiper-slide">
            
            <a href="./img/card/1.png" class="">
              <span class="detailed-product__slider-zoom">{{mixins.icon('search-modal')}}</span>
              <img src="./img/card/1.png" alt="">
            </a>
            
        </div>
        <div class="swiper-slide">
            
            <a href="./img/card/2.png" class="">
              <span class="detailed-product__slider-zoom">{{mixins.icon('search-modal')}}</span>
              
              <img src="./img/card/2.png" alt="">
            </a>
        </div>
        <div class="swiper-slide">
           
            <a href="./img/card/3.png" class="">
              <span class="detailed-product__slider-zoom">{{mixins.icon('search-modal')}}</span>
              <img src="./img/card/3.png" alt="">
            </a>
        </div>
        {% endfor %}
      </div>

      <div class="swiper-navigation is-mobile">
        <div class="detailed-product__slider-prev">{{mixins.icon('arrow')}}</div>
        <div class="detailed-product__slider-next">{{mixins.icon('arrow')}}</div>
      </div>

      <div class="swiper-pagination is-mobile"></div>
      
    </div>
    
  </div>
  <!-- end detailed-product__slider-top -->

  <!-- begin detailed-product__slider-info -->
  <div class="detailed-product__slider-info">
    <a href="" class="detailed-product__slider-info--item">
      {{mixins.icon('like')}}
      <span>13</span>
    </a>
    <a href="" class="detailed-product__slider-info--item">
      {{mixins.icon('present')}}
      <span>2</span>
    </a>
    <a href="" class="detailed-product__slider-info--item">
      {{mixins.icon('eye')}}
      <span>45K</span>
    </a>
    <a href="" class="detailed-product__slider-info--item js-share-button">
      {{mixins.icon('share')}}
    </a>
    <div uk-dropdown="mode: click; pos: top-right; offset: 0" class="sharing-drop__wrapper"> 
      <!-- begin sharing-wrapper__inner -->
      <div class="sharing-drop__inner">

        <div class="sharing-drop__item">
          <div class="sharing-drop__img"><img src="./img/social/telegram.svg" alt=""></div>
          <div class="sharing-drop__text">Поделиться через Telegram</div>
        </div>
        <div class="sharing-drop__item">
          <div class="sharing-drop__img"><img src="./img/social/viber.svg" alt=""></div>
          <div class="sharing-drop__text">Поделиться через Viber</div>
        </div>
        <div class="sharing-drop__item">
          <div class="sharing-drop__img"><img src="./img/socials/messenger.svg" alt=""></div>
          <div class="sharing-drop__text">Поделиться через Messenger</div>
        </div>
        <div class="sharing-drop__item">
          <div class="sharing-drop__img"><img src="./img/social/twitter.svg" alt=""></div>
          <div class="sharing-drop__text">Поделиться через Twitter</div>
        </div>
        <div class="sharing-drop__item">
          <div class="sharing-drop__img"><img src="./img/social/gmail.svg" alt=""></div>
          <div class="sharing-drop__text">По электронной почте</div>
        </div>
        <div class="sharing-drop__item js-copy-link" data-link-product="google.com">
          <div class="sharing-drop__img"><img src="./img/social/Vector.svg" alt=""></div>
          <div class="sharing-drop__text">Копировать ссылку</div>
        </div>
        
      </div>
      <!-- end sharing-wrapper__inner -->
    </div>
  </div>
  <!-- end detailed-product__slider-info -->
  
  <!-- begin detailed-product__slider-bottom -->
  <div class="detailed-product__slider-bottom is-desktop">
    
    <div class="detailed-product__slider-prev">{{mixins.icon('arrow')}}</div>
    <div class="swiper-container js-small-product-slider">
      <div class="swiper-wrapper">
        {% for i in range(0, 3) %}
      
        <div class="swiper-slide">
            <img src="./img/card/1.png" alt="">
            
        </div>
        <div class="swiper-slide">
            <img src="./img/card/2.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="./img/card/3.png" alt="">
        </div>
        {% endfor %}
      </div>
 
    </div>
    
    <div class="detailed-product__slider-next">{{mixins.icon('arrow')}}</div>
  </div>
  <!-- end detailed-product__slider-bottom -->
  
</div>
<!-- end detailed-product__slider -->