<!-- begin modal #call-us -->
<div id="modal-receipt-ok" class="uk-flex-top modal-small" uk-modal>
    <div class="modal-default uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
  
    
  
        <div class="modal-default__inner">
  
          <div class="modal-default__title modal-default__title-gap t-center">Товар успешно принят</div>
  
          <!-- begin default-form -->
          
            <div class="t-center img-ok">
                <svg width="71" height="69" viewBox="0 0 71 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.0764 30.8823L31.6831 42.0498L63.8822 11.0691L65.9351 13.0444L31.6831 46.0003L18.0235 32.8576L20.0764 30.8823Z" fill="#1C1C1C"/>
                    <path d="M35.4272 65.6889C52.2775 65.6889 66.3236 52.9871 67.5096 36.8697H70.5817C69.3857 54.3739 54.0996 68.4719 35.4272 68.4719C15.9746 68.4719 0.197266 53.1714 0.197266 34.6588C0.197266 16.1463 15.9746 0.845703 35.4272 0.845703C38.7432 0.845703 42.0973 1.38319 45.364 2.21681L43.0172 4.4747C40.603 3.90979 38.1495 3.62872 35.4272 3.62872C17.8133 3.62872 3.26364 17.5076 3.26364 34.6588C3.26364 51.81 17.8133 65.6889 35.4272 65.6889Z" fill="#1C1C1C"/>
                </svg>                    
            </div>
           
           
  
            <div class="default-form__row-button">
              <button uk-close class="btn btn__black uk-modal-close-default "><span>Продожить</span></button>
              
            </div>
           
         
          <!-- end default-form -->
          
        </div>
  
        
  
        
    </div>
  </div>
  <!-- end modal #call-us -->