<!-- begin modal #call-us -->
<div id="modal-argitrage-good" class="uk-flex-top modal-small modall-mobile-on-bottom" uk-modal>
    <div class="modal-default uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
  
  
  
        <div class="modal-default__inner">
  
          <div class="modal-default__title modal-default__title-gap t-center">Арбитраж</div>
  
          <!-- begin default-form -->
          <form class="default-form">  

            <div class="check-modal aside-filter ">
                <div class="aside-filter__body-item">
                    <label class="aside-filter__label"><input type="checkbox" checked class="aside-filter__body-checkbox"> <span>Брак/повреждение</span> </label>
                </div>
                <div class="aside-filter__body-item">
                    <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox"> <span>Несоотвествие товара</span> </label>
                </div>
            </div>
           
            <div class="t-center modal-photo">
                <div class="title">Прикрепите фото </div>
                <label class='lk-fileInput js-img-upload-second-button'>
                    <span>
                        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.6977 0.651367H14.3038V26.3483H12.6977V0.651367Z" fill="black"/>
                            <path d="M26.3493 12.6969V14.3029L0.652344 14.3029L0.652344 12.6969L26.3493 12.6969Z" fill="black"/>
                        </svg>
                    </span>
                    <!-- <input type="file" class="file-input"> -->
                </label>
                <!-- <label class='lk-fileInput lk-fileInput-error'>
                    <span>
                        <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.6977 0.651367H14.3038V26.3483H12.6977V0.651367Z" fill="black"/>
                            <path d="M26.3493 12.6969V14.3029L0.652344 14.3029L0.652344 12.6969L26.3493 12.6969Z" fill="black"/>
                        </svg>
                    </span>
                    <input type="file" class="file-input">
                </label> -->

                <div class="js-img-upload-second" data-url-to-upload="http://testimg.loc/send.php">
                  <input type="hidden" name="request" value="add">

                </div>
                
                <!-- <label class='lk-fileInput'>
                    <span>
                       <img src="./img/cabinet/arbitr.jpg" alt="">
                    </span>
                </label> -->
            </div>

            <div class="comment-modal">
              <a href="#" class="add-comment-modal t-center">Добавить комментарий</a>
              <div class="comment-block">
                <div class="top-comment">
                  <div class="title">Напишите ваш комментарий</div>
                    <div class="close">
                      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.35243 3.94311L8.79554 0.5L9.77909 1.48355L6.33598 4.92665L9.77909 8.36976L8.79554 9.35331L5.35243 5.9102L1.90933 9.35331L0.925781 8.36976L4.36889 4.92665L0.925781 1.48355L1.90933 0.5L5.35243 3.94311Z" fill="black"/>
                      </svg>
                    </div>
                    
                </div>
                <textarea name="comment-text" class="comment-text" placeholder="Не более 240 символов"></textarea>
              </div>
            </div>
           
  
            <div class="default-form__row-button">
              <a  href="#modal-receipt-ok" uk-close uk-toggle class="btn btn__black"><span>Отправить запрос</span></a>
            </div>
            
          </form>
          <!-- end default-form -->
          
        </div>
  
        
  
        
    </div>
  </div>
  <!-- end modal #call-us -->