<!-- begin modal #call-us -->
<div id="modal-following" class="uk-flex-top modal-small modal-big" uk-modal>
    <div class="modal-default uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
  
    
  
        <div class="modal-default__inner">
            <button uk-close class="btn btn__black uk-modal-close-default "></button>
          <div class="modal-default__title modal-default__title-gap t-center">following <span class="num">112</span></div>
  
          <!-- begin default-form -->
          
           
           
            <div class="follow-list--modal">
                <div class="follow-list__item">
                    <div class="l-section">
                        <div class="img"><img src="./img/cabinet/follow/1.png" alt=""></div>
                        <div class="follow-info">
                            <a href="#" class="name">Taras Gromov</a>
                            <div class="nickname">@Nickname_Аnastasia</div>   
                        </div>
                    </div>
                    <a href="#" class="btn btn__white-border">follow</a>
                </div>
                <div class="follow-list__item">
                    <div class="l-section">
                        <div class="img"><img src="./img/cabinet/follow/2.png" alt=""></div>
                        <div class="follow-info">
                            <a href="#" class="name">Maksim Ivanisenko</a>
                            <div class="nickname">@Nickname_Аnastasia</div>   
                        </div>
                    </div>
                    <a href="#" class="btn btn__white-border">follow</a>
                </div>
                <div class="follow-list__item">
                    <div class="l-section">
                        <div class="img"><img src="./img/cabinet/follow/3.png" alt=""></div>
                        <div class="follow-info">
                            <a href="#" class="name">Ivan Pivovarov</a>
                            <div class="nickname">@Nickname_Аnastasia</div>   
                        </div>
                    </div>
                    <a href="#" class="btn btn__white-border">follow</a>
                </div>
                <div class="follow-list__item">
                    <div class="l-section">
                        <div class="img"><img src="./img/cabinet/follow/4.png" alt=""></div>
                        <div class="follow-info">
                            <a href="#" class="name">Marina Tarasova</a>
                            <div class="nickname">@Nickname_Аnastasia</div>   
                        </div>
                    </div>
                    <a href="#" class="btn btn__white-border">follow</a>
                </div>
                <div class="follow-list__item">
                    <div class="l-section">
                        <div class="img"><img src="./img/cabinet/follow/5.png" alt=""></div>
                        <div class="follow-info">
                            <a href="#" class="name">Elena Vasilkova</a>
                            <div class="nickname">@Nickname_Аnastasia</div>   
                        </div>
                    </div>
                    <a href="#" class="btn btn__white-border">follow</a>
                </div>
                <div class="follow-list__item">
                    <div class="l-section">
                        <div class="img"><img src="./img/cabinet/follow/6.png" alt=""></div>
                        <div class="follow-info">
                            <a href="#" class="name">Olga Krasko</a>
                            <div class="nickname">@Nickname_Аnastasia</div>   
                        </div>
                    </div>
                    <a href="#" class="btn btn__white-border">follow</a>
                </div>
                <div class="follow-list__item">
                    <div class="l-section">
                        <div class="img"><img src="./img/cabinet/follow/1.png" alt=""></div>
                        <div class="follow-info">
                            <a href="#" class="name">Taras Gromov</a>
                            <div class="nickname">@Nickname_Аnastasia</div>   
                        </div>
                    </div>
                    <a href="#" class="btn btn__white-border">follow</a>
                </div>
                <div class="follow-list__item">
                    <div class="l-section">
                        <div class="img"><img src="./img/cabinet/follow/2.png" alt=""></div>
                        <div class="follow-info">
                            <a href="#" class="name">Maksim Ivanisenko</a>
                            <div class="nickname">@Nickname_Аnastasia</div>   
                        </div>
                    </div>
                    <a href="#" class="btn btn__white-border">follow</a>
                </div>
                <div class="follow-list__item">
                    <div class="l-section">
                        <div class="img"><img src="./img/cabinet/follow/3.png" alt=""></div>
                        <div class="follow-info">
                            <a href="#" class="name">Ivan Pivovarov</a>
                            <div class="nickname">@Nickname_Аnastasia</div>   
                        </div>
                    </div>
                    <a href="#" class="btn btn__white-border">follow</a>
                </div>
                <div class="follow-list__item">
                    <div class="l-section">
                        <div class="img"><img src="./img/cabinet/follow/4.png" alt=""></div>
                        <div class="follow-info">
                            <a href="#" class="name">Marina Tarasova</a>
                            <div class="nickname">@Nickname_Аnastasia</div>   
                        </div>
                    </div>
                    <a href="#" class="btn btn__white-border">follow</a>
                </div>
                <div class="follow-list__item">
                    <div class="l-section">
                        <div class="img"><img src="./img/cabinet/follow/5.png" alt=""></div>
                        <div class="follow-info">
                            <a href="#" class="name">Elena Vasilkova</a>
                            <div class="nickname">@Nickname_Аnastasia</div>   
                        </div>
                    </div>
                    <a href="#" class="btn btn__white-border">follow</a>
                </div>
                <div class="follow-list__item">
                    <div class="l-section">
                        <div class="img"><img src="./img/cabinet/follow/6.png" alt=""></div>
                        <div class="follow-info">
                            <a href="#" class="name">Olga Krasko</a>
                            <div class="nickname">@Nickname_Аnastasia</div>   
                        </div>
                    </div>
                    <a href="#" class="btn btn__white-border">follow</a>
                </div>
            </div>
            
           
         
          <!-- end default-form -->
          
        </div>
  
        
  
        
    </div>
  </div>
  <!-- end modal #call-us -->