
<!-- begin add-merchant -->
<div id="add-merchant" class="uk-flex-top" uk-modal>
  <div class="modal-default uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
      <button class="uk-modal-close-outside" type="button" uk-close></button>
      <div class="modal-default__inner">
        <form action="" class="form-auth form-auth__no-margin">
          <div class="form-auth__top">
            <div class="form-auth__title">
              Add merchant
            </div>
          </div>

          <div class="form-auth__item">
            <span class="small-title t-center">Choose</span>
          </div>
          <div class="form-auth__item">
            <select class="form__select" name="" id="">
              {% for i in range(0, 10) %}
                <option value="{{i}}">
                  Товарная категория {{i+1}}
                </option>
              {% endfor %}
            </select>
          </div>
          <div class="form-auth__item">
            <span class="small-title t-center">Or create</span>
          </div>
          <div class="form-auth__item">
              <input type="text" class="form__input form__input-no-padding" placeholder="Name"/>
          </div>
          <div class="form-auth__item">
              <input type="text" class="form__input form__input-no-padding" placeholder="Adress" />
          </div>
          <div class="form-auth__item">
            <input type="text" class="form__input form__input-no-padding" placeholder="Work hours" />
        </div>
          <div class="form-auth__item form-auth__item-dashed form-auth__item-grey form-auth__item-solid-mobile">
              <label for="" class="form__label ">phone</label>
              <input type="tel" class="form__input" />
          </div>
          <div class="form-auth__bot">
            <a href="" class="btn btn__black btn__uppercase form-auth__bot-full">
              <span>Подтвердить</span>
            </a>
          </div>
        </form>
      </div>
  </div>
</div>
<!-- end add-merchant -->