<!-- begin modal #call-us -->
<div id="modal-receipt-good" class="uk-flex-top modal-small modall-mobile-on-bottom" uk-modal>
    <div class="modal-default uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
  
  
  
        <div class="modal-default__inner">
  
          <div class="modal-default__title modal-default__title-gap t-center">получение товара</div>
  
          <!-- begin default-form -->
          <form class="default-form">  

            <div class="rating-wrap">
              <div class="rating__item">
                  <div class="star-wrap">
                      <div class="title-star">Товар</div>
                      <div class="rate">
                          <input type="radio" id="star1" name="rate" value="1" />
                          <label for="star1" title="text">1 star</label>
                          <input type="radio" id="star2" name="rate" value="2" />
                          <label for="star2" title="text">2 stars</label>
                          <input type="radio" id="star3" name="rate" value="3"  />
                          <label for="star3" title="text">3 stars</label>
                          <input type="radio" id="star4" name="rate" value="4" />
                          <label for="star4" title="text">4 stars</label>
                          <input type="radio" id="star5" name="rate" value="5" checked/>
                          <label for="star5" title="text">5 stars</label>                               
                          
                        </div>
                  </div>
              </div>
              <div class="rating__item">
                  <div class="star-wrap">
                      <div class="title-star">Исполнитель</div>
                      <div class="rate">
                          <input type="radio" id="star11" name="rate1" value="1" />
                          <label for="star11" title="text">1 star</label>
                          <input type="radio" id="star21" name="rate1" value="2" />
                          <label for="star21" title="text">2 stars</label>
                          <input type="radio" id="star31" name="rate1" value="3" />
                          <label for="star31" title="text">3 stars</label>
                          <input type="radio" id="star41" name="rate1" value="4" />
                          <label for="star41" title="text">4 stars</label>
                          <input type="radio" id="star51" name="rate1" value="5"  />
                          <label for="star51" title="text">5 stars</label>                               
                          
                        </div>
                  </div>
              </div>
            </div>

            <div class="comment-modal">
              <a href="#" class="add-comment-modal t-center">Добавить комментарий</a>
              <div class="comment-block">
                <div class="top-comment">
                  <div class="title">Напишите ваш комментарий</div>
                    <div class="close">
                      <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.35243 3.94311L8.79554 0.5L9.77909 1.48355L6.33598 4.92665L9.77909 8.36976L8.79554 9.35331L5.35243 5.9102L1.90933 9.35331L0.925781 8.36976L4.36889 4.92665L0.925781 1.48355L1.90933 0.5L5.35243 3.94311Z" fill="black"/>
                      </svg>
                    </div>
                    
                </div>
                <textarea name="comment-text" class="comment-text" placeholder="Не более 240 символов"></textarea>
              </div>
            </div>
           
  
            <div class="default-form__row-button">
              <a  href="#modal-receipt-ok" uk-close uk-toggle class="btn btn__black"><span>Подтвердить получение</span></a>
            </div>
            
          </form>
          <!-- end default-form -->
          
        </div>
  
        
  
        
    </div>
  </div>
  <!-- end modal #call-us -->