.uk-breadcrumb
  margin: 0
  li
    &::before
      font-size: 15px !important
      color: #2F2F2F !important
      margin-left: 10px !important
      margin-right: 10px !important
    &:first-of-type
      a
        color: $orange
  a
    font-size: 15px
    color: #2F2F2F
  span
    font-weight: bold
    font-size: 15px
    color: #2F2F2F
