.btn
  +nitti
  font-size: 16px
  color: $white
  display: inline-flex
  align-items: center
  +nitti
  &:hover
    text-decoration: none
    color: $white
  &__uppercase
    text-transform: uppercase
  &__orange
    background: $orange
    color: $white
    padding: 10px 22px
    padding-top: 8px
    padding-right: 20px
    line-height: 1.25
    svg
      margin-left: 8px
      width: 10px
      height: 10px
      fill: $white
  &__black
    background: $dark
    font-size: 14px
    font-weight: bold
    color: $white
    padding: 0 35px
    line-height: 40px
  &__transparent
    font-weight: bold
    color: #1C1C1C
    padding: 0px 20px
    line-height: 40px
    font-size: 15px
    &-type
      font-size: 21px
      line-height: 1
      font-weight: normal
    &:hover
      color: #1c1c1c
    svg
      fill: #1C1C1C
      margin-right: 10px
  &__black
    background: #1C1C1C
    color: $white
    font-weight: bold
    font-size: 21px
    line-height: 1
    border: 2px solid #1c1c1c
    svg
      fill: $white
    &:hover
      // background: $white
      // color: #1c1c1c
      color: $white
      svg
        // fill: #1c1c1c
  &__gradient
    font-weight: bold
    color: $white
    background: linear-gradient(92.12deg, #F99A49 0.35%, #D53D8E 100%)
    padding: 0px 25px
    line-height: 40px
    font-size: 15px
    svg
      fill: $white
      margin-right: 10px
  &__white-border
    font-size: 14px
    +nitti
    text-transform: uppercase
    justify-content: center
    align-items: center
    width: 200px
    height: 40px
    border: 2px solid $dark
    color: $dark
    font-weight: bold
    svg
      fill: $dark
    &:hover
      color: $dark
    //   color: $white
    //   background: $dark
    //   text-decoration: none
      
    //   svg
    //     fill: $white
  &__big
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    font-weight: normal
    font-size: 21px
    border: none
    span
      display: flex
      align-items: center
      justify-content: center
      line-height: 1
    svg
      width: 20px
      height: 15px


.mobile-button
  +r($mobbig)
    display: flex
    justify-content: center
    align-items: center
    height: 45px
    cursor: pointer
    font-size: 18px
    +nitti
    text-transform: uppercase
    padding: 2px
    svg 
      width: 18px
      height: 12px
    .filter-sort__list
      margin-left: 0
      max-width: calc(100% - 28px)
      margin-right: 0
      padding-right: 0
      .current
        color: $dark
        font-size: 18px
        word-break: break-word
        white-space: normal
        text-align: center
      &::after
        display: none
    span
      display: flex
      align-items: center
    &__icon
      width: 18px
      max-width: 18px
      
      margin-right: 10px