.card-item
  position: relative
  border: 1px solid #E3E3E3
  &__big-link
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 15px
    margin-top: 10px
    svg
      transform: rotate(180deg)
      width: 10px
      margin-left: 8px
      fill: $orange
    a
      display: inline-flex
      align-items: center
      font-size: 12px
      text-transform: uppercase
      +agg
      line-height: 1
      color: #1c1c1c
  &__control
    display: flex
    flex-wrap: wrap
    border-top: 1px solid #e3e3e3
    > * 
      width: 50%
      height: 35px
      padding: 0
      display: flex
      align-items: center
      justify-content: center
      font-size: 14px
      font-weight: normal
      text-transform: uppercase
  &__img
    margin-bottom: 13px
    .swiper-slide
      max-height: 291px
      width: 100%
      img
        width: 100%
        height: 100%
        object-fit: cover
    &-info
      background: #1C1C1C
      padding: 5px 0
      color: $white
      display: flex
      flex-wrap: wrap
      a
        color: $white
    &-pagination
      align-items: center
      display: flex
      flex-wrap: wrap
      flex: 1
      padding-left: 18px
      color: $white
      font-size: 11px
      font-weight: bold
      .pagina-bulets
        margin-right: 4px
        position: relative
        top: 1px
      .pagination__current
        margin-right: 1px
      .pagination__total
        margin-left: 1px
      .pagination__text
        margin-left: 2px
  &__locate
    color: $white
    text-decoration: none
    font-size: 10px
    margin-left: auto
    margin-right: 14px
    a
      &:hover
        text-decoration: none
    svg
      width: 10px
      height: 13px
      fill: $white
      + span
        margin-left: 3px
        text-decoration: underline
  &__nickname
    position: absolute
    left: 0
    top: 0
    
    z-index: 5
    display: flex
    a 
      text-decoration: underline
      background: $white
      padding: 2px 4px
      color: $dark
      text-transform: uppercase
      +nitti
      font-size: 10px
  &__brand
    +nitti
    font-size: 10px
    color: $dark
    text-transform: uppercase
    text-align: center
    margin-bottom: 2px
    +r($mobbig)
      font-size: 14px
    a
      color: $dark
      text-decoration: underline
  &__title
    text-transform: uppercase
    font-size: 14px
    font-weight: bold
    text-align: center
    text-transform: uppercase
    +agg
    margin-bottom: 2px
    a
      color: $dark
      text-decoration: none
      &:hover
        text-decoration: none
  &__price
    display: flex
    flex-wrap:  wrap
    justify-content: center
    align-items: center
    margin-bottom: 10px
    &-old
      position: relative
      +agg
      color: #828282
      font-size: 19px
      padding-left: 8px
      padding-right: 8px
      &::before
        content: ''
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
        width: 100%
        height: 2px
        background: $orange
      + .card-item__price-current
        margin-left: 30px
    &-current
      +agg
      font-size: 25px
      font-weight: bold
      +agg
      color: $orange
  &__bar
    width: 100%
    display: flex
    flex-wrap: wrap
    &-item
      width: 25%
      flex: 1 0 25%
      max-width: 25%
      border-top: 1px solid #999999
      border-right: 1px solid #E3E3E3
      padding: 8px
      display: flex
      justify-content: center
      align-items: center
      color: #4F4F4F
      text-decoration: none
      font-weight: bold
      font-size: 11px
      +r($mobbig)
        height: 41px
        font-size: 12px
      &-50
        width: 50%
        flex: 1 0 50%
        max-width: 50%
      &:hover
        text-decoration: none
        color: #4f4f4f
      &:last-of-type
        border-right: 0
      svg
        fill: #4f4f4f
        font-size: 13px
        &.icon-like
          width: 16px
          height: 14px
          +r($mobbig)
            width: 18px
            height: 17px
        &.icon-present
          width: 15px
          height: 16px
          +r($mobbig)
            width: 17px
            height: 19px
        &.icon-eye
          width: 16px
          height: 13px
          +r($mobbig)
            width: 18px
            height: 15px
        &.icon-share
          width: 14px
          height: 14px
          +r($mobbig)
            width: 15px
            height: 16px
        + span
          margin-left: 5px
  &__sale
    position: absolute
    top: 26px
    left: 12px
    width: 47px
    height: 47px
    border-radius: 50%
    background: $white
    border: 2px solid $orange
    z-index: 5
    display: flex
    justify-content: center
    align-items: center
    color: $orange
    font-size: 17px
    font-weight: bold
    &-small
      font-size: 14px
      font-weight: bold
    &-percent
      font-size: 13px
      position: relative
      top: -1px
      margin-left: 1px



.card-item__recomed
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  margin-top: 0px
  
  &-status
    width: 12px
    height: 12px
    border-radius: 50%
    display: flex
    margin-right: 7px
    position: relative
    top: 2px
    &__1
      background: #05a000
    &__2
      background: #ce9e00
    &__3
      background: #ce0e00
    &__4
  &-item
    background: #719CDD
    text-transform: uppercase
    color: $white
    font-size: 12px
    +nitti
    padding: 3px 10px
    padding-bottom: 2px
  &-text
    flex: 1
    +nitti
    font-size: 12px
    line-height: 100%
    text-align: right
    text-transform: uppercase
    color: #1C1C1C
    display: flex
    flex-wrap: wrap
    justify-content: flex-end
    align-items: center
    &-lined
      position: relative
      margin-left: 8px
      color: #828282
      padding-left: 3px
      padding-right: 3px
      &::before
        content: ''
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
        width: 100%
        height: 1px
        background: #f2521c