.filter-sort
  display: flex
  flex-wrap: wrap
  &__title
    font-weight: bold
    font-size: 15px
    text-transform: uppercase
    color: #2F2F2F
    display: flex
    align-items: center
  
  &__list
    text-transform: uppercase
    font-size: 16px
    color: $orange
    display: flex
    align-items: center
    margin-left: 11px
    .current
      font-size: 16px
    .list
      left: unset
      right: 0
      li
        font-size: 16px
        +nitti
    