.label-select
  display: inline-flex
  align-items: center
  cursor: pointer
  span
    +nitti
    font-size: 15px
    color: #2f2f2f
    text-transform: uppercase
    margin-left: 12px
    &.label-select__side
      margin-left: 0
  &__side
    margin-left: 0
    display: flex
    flex-direction: column
    padding-right: 15px
    flex: 1
    span
      +arimo
      padding-left: 0
      margin-left: 0
      text-transform: none
    &-row
      flex-direction: row
      padding-left: 20px
      span
        &.icon
          margin-left: auto
    &-title
      font-weight: bold
      font-size: 16px
      line-height: 25px
      color: #2F2F2F
      text-transform: none
      + span
        +arimo
        text-transform: none
        font-size: 14px
        line-height: 16px
        color: #1C1C1C


input
  &[type=radio]
    border-radius: 50%
    box-sizing: border-box
    display: inline-block
    height: 15px
    width: 15px
    flex: 1 0 15px
    max-width: 15px
    overflow: hidden
    margin-top: -4px
    vertical-align: middle
    -webkit-appearance: none
    -moz-appearance: none
    background-color: transparent
    background-repeat: no-repeat
    background-position: 50% 50%
    border: 2px solid #000
    transition: .2s ease-in-out
    transition-property: all
    transition-property: background-color,border
    &:checked
      background-color: #2f2f2f
  &[type=checkbox]
    box-sizing: border-box
    display: inline-block
    height: 15px
    width: 15px
    flex: 1 0 15px
    max-width: 15px
    overflow: hidden
    margin-top: 0px
    vertical-align: middle
    -webkit-appearance: none
    -moz-appearance: none
    background-color: transparent
    background-repeat: no-repeat
    background-position: 50% 50%
    border: 2px solid #000
    transition: .2s ease-in-out
    transition-property: all
    transition-property: background-color,border
    &:checked
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.88893 5.38732L8.70342 0.628906L9.44455 1.36081L3.88893 6.85113L0.555664 3.55704L1.29627 2.82514L3.88893 5.38732Z' fill='black'/%3E%3C/svg%3E%0A")
      background-position: center
      background-repeat: no-repeat
    &.check-line
      &:checked
        background-image: url("data:image/svg+xml,%3Csvg width='8' height='3' viewBox='0 0 8 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.974609' width='8' height='1.54953' fill='%231C1C1C'/%3E%3C/svg%3E%0A")
        background-position: center
        background-repeat: no-repeat
.form__label
  +nitti
  font-size: 15px
  text-transform: uppercase
  color: #1C1C1C
  &-big
    font-size: 21px
  &-small
    font-size: 16px
    +arimo
    text-transform: none
.form__input
  +nitti
  font-size: 15px
  text-transform: uppercase
  color: #1C1C1C
  padding-left: 12px
  padding-right: 12px
  box-sizing: border-box
  &-no-padding
    padding: 0
  &::placeholder
    opacity: 1
  &-clear
    +nitti
    text-transform: uppercase
    font-size: 18px
    line-height: 139%
    padding: 18px 11px
    padding-bottom: 8px
    border-bottom: 1px solid #1C1C1C
    width: 100%
    &::placeholder
      opacity: 1
    &:first-of-type
      border-top: 1px solid #1c1c1c


.form__upload
  display: flex
  flex-wrap: wrap
  
  width: 100%
  padding-top: 43px
  &-icon
    display: flex
    justify-content: center
    margin-bottom: 49px
    width: 100%
    position: relative
    z-index: -1
    svg
      width: 76px
      height: 65px
      fill: #E0E0E0
  &-text
    width: 100%
    font-size: 12.4515px
    line-height: 21px
    color: #2F2F2F
    text-align: center
    position: relative
    z-index: -1
    margin-bottom: 15px


.form__select
  +nitti
  width: 100%
  text-transform: uppercase
  &.nice-select
    &:after
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='9' viewBox='0 0 15 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 5.72769L13.3336 0L15 1.63615L7.5 9L0 1.63615L1.6664 0L7.5 5.72769Z' fill='%231C1C1C'/%3E%3C/svg%3E%0A")
      width: 15px
      height: 9px
      
.form__textarea
  width: 100%
  border: none
  padding: 0
  height: 180px
  +nitti
  font-size: 15px
  color: #1C1C1C
  padding: 12px
  &-no-padding
    padding-top: 12px
    padding: 0

.form__tags
  border: none !important
  .tags
    margin-right: 22px
    font-size: 14px
    line-height: 100%
    color: #1C1C1C !important
    border-bottom: 1px solid #1c1c1c
    margin-bottom: 14px
    &:hover
      color: #1c1c1c

.form__notification
  position: absolute
  right: 0
  top: 0
  transform: translateX(100%)
  padding-right: calc((100vw - 1250px) / 2)
  width: calc(50vw - 50%)
  +r($mobbig)
    display: none !important
  &-text
    font-weight: bold
    font-weight: bold
    font-size: 10px
    line-height: 18px
    color: #FFFFFF
    background: #000000
    padding: 21px 28px 21px 23px
    &:before
      content: ''
      position: absolute
      top: 50%
      left: 0
      transform: translate(-50%, -50%)
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='11.8975' width='16.506' height='16.506' transform='rotate(-45 0 11.8975)' fill='black'/%3E%3C/svg%3E%0A")
      width: 24px
      height: 24px


.form__check-ok
  padding-top: 68px
  padding-bottom: 68px
  display: flex
  width: 100%

  justify-content: center
  align-items: center
  border-bottom: none

  svg
    fill: #1C1C1C
    width: 102px
    height: 102px



.dz-error-message
  display: none
.dz-details
  font-size: 15px
  +nitti
.dz-preview
  padding: 0 4px
  display: flex
  flex-wrap: wrap
  margin-bottom: 10px
  width: 25%

.dz-success-mark, 
.dz-error-mark
  width: 50%

.dz-remove
  font-size: 0
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.76754 1.53123V0H12.4237V1.53123H16.2518V3.06247H14.7206V14.5467C14.7206 14.7498 14.6399 14.9445 14.4963 15.0881C14.3527 15.2317 14.158 15.3123 13.9549 15.3123H3.2363C3.03325 15.3123 2.83851 15.2317 2.69493 15.0881C2.55135 14.9445 2.47069 14.7498 2.47069 14.5467V3.06247H0.939453V1.53123H4.76754ZM4.00192 3.06247V13.7811H13.1893V3.06247H4.00192ZM6.29877 5.35932H7.83V11.4842H6.29877V5.35932ZM9.36123 5.35932H10.8925V11.4842H9.36123V5.35932Z' fill='%231C1C1C'/%3E%3C/svg%3E%0A")
  width: 17px
  height: 16px
  display: block

.dz-success-mark
  margin-right: 10px
  svg
    display: none
  background-image: url("data:image/svg+xml,%3Csvg width='129' height='123' viewBox='0 0 129 123' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36.794 54.343L57.793 74.5474L116.048 18.4965L119.763 22.0702L57.793 81.6948L33.0797 57.9167L36.794 54.343Z' fill='%231C1C1C'/%3E%3Cpath d='M64.5669 117.316C95.053 117.316 120.466 94.3354 122.611 65.1755H128.169C126.006 96.8445 98.3496 122.351 64.5669 122.351C29.3729 122.351 0.828125 94.6688 0.828125 61.1755C0.828125 27.6821 29.3729 0 64.5669 0C70.5664 0 76.6347 0.972426 82.5448 2.48064L78.299 6.56566C73.9312 5.54362 69.4923 5.0351 64.5669 5.0351C32.6995 5.0351 6.37588 30.1451 6.37588 61.1755C6.37588 92.2059 32.6995 117.316 64.5669 117.316Z' fill='%231C1C1C'/%3E%3C/svg%3E%0A")
  width: 18px
  height: 18px
  background-size: contain

.dz-error-mark
  display: none

.dz-image
  width: 100%
.dz-details
  margin-bottom: 8px
  width: 100%
.dz-started
  display: flex
  flex-wrap: wrap
  margin-top: 20px
.dz-size
  font-size: 10px

.dz-filename
  span
    font-size: 12px