.modal-small
    .uk-modal-dialog
        width: 280px
        padding: 0
    .modal-default__title
        text-transform: uppercase
        color: #1C1C1C
        font-size: 20px
        line-height: 25px
        padding-top: 15px
        padding-bottom: 15px
        +nitti
        border-bottom: 1px solid #1C1C1C
    .rating__item
        
        &:first-child
            .star-wrap
                border-bottom: 1px dashed #1C1C1C
        &:last-child
            border-bottom: 1px solid #1C1C1C
        .star-wrap
            display: flex
            justify-content: space-between
            align-items: center
            padding: 15px 20px
            +nitti
            font-weight: 500
            text-transform: uppercase
            font-size: 13px
    .add-comment-modal
        display: block
        text-decoration: underline
        +arimo
        color: #2F2F2F
        font-size: 12px
        padding-top: 0px
        &.hide
            display: none
    .modal-default__inner
        .img-ok
            min-height: 255px
            padding-top: 40px
    .comment-modal
        
        padding: 20px 20px 0
        height: 110px
        &.open
            border-bottom: 1px solid #1C1C1C
        .comment-block
            height: 80%
            box-sizing: border-box
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: flex-start
            opacity: 0
            visibility: hidden
            height: 0
            &.open
                opacity: 1
                visibility: visible
                height: 100%
            .top-comment
                display: flex
                justify-content: space-between
                align-items: center
                flex-wrap: wrap
                width: 100%
                .title
                    font-size: 13px
                    text-transform: uppercase
                    font-weight: 600
                .close
                    line-height: 1
                    margin-top: -5px
                    cursor: pointer
            .comment-text
                width: 100%
                resize: none
                border: 0
                padding: 0
                font-size: 12px
                +arimo
                color: #2F2F2F
    .default-form__row-button
        padding: 20px
        .btn__black
            font-size: 13px
            color: #fff
            text-transform: uppercase
            text-align: center
            padding-top: 13px
            padding-bottom: 13px
            line-height: 1
            font-weight: 600
            width: 100%
            span
                width: 100%
                text-align: center
            svg
                display: none
            &.uk-modal-close-default
                position: relative
                top: auto
                left: auto
                right: auto
                bottom: auto
    .aside-filter
        width: 100%
        margin-right: 0
        padding: 17px
        border-bottom: 1px solid #1C1C1C
        +r($mobbig)
            position: static
            transform: translateX(0%)
            display: flex
            flex-wrap: wrap
            .aside-filter__body-item
                width: 100%
    .modal-photo
        padding-top: 20px
        .title
            font-size: 16px
            color: #1C1C1C
            +nitti
            text-transform: uppercase
            margin-bottom: 10px
.t-center
    text-align: center

.lk-fileInput
    span
        display: inline-flex
        justify-content: center
        align-items: center
        width: 53px
        height: 53px
        border: 1px solid #000
        padding: 7px
        cursor: pointer
        margin: 0 3px
        vertical-align: top
    .file-input
        position: absolute
        width: 0
        height: 0
        visibility: hidden
        opacity: 0
    &-error
        span
            border-color: #EB5757
            svg
                path
                    fill: #EB5757

.modal-big
    &.modal-small
        .uk-modal-dialog
            width: 580px
            .modal-default__title
                padding-top: 40px
                padding-bottom: 30px
                font-size: 30px
                display: flex
                justify-content: center
                align-items: center
                .num
                    font-size: 15px
                    line-height: 1
                    background: #1C1C1C
                    padding: 4px 8px
                    color: #fff
                    margin-left: 15px
            .uk-modal-close-default
                padding: 14px
                svg
                    width: 20px
            .follow-list--modal
                max-height: 60vh
                overflow-y: auto
                padding-right: 35px
                .follow-list__item
                    border-bottom: 1px solid #E0E0E0
                    padding-left: 25px
                    padding-right: 20px
                    display: flex
                    justify-content: space-between
                    align-items: center
                    padding: 15px
                    .l-section
                        display: flex
                        justify-content: flex-start
                        align-items: center
                        .img
                            margin-right: 16px
                            img
                                width: 50px
                                height: 50px
                                border: 3px solid #F2521C
                                padding: 2px
                                border-radius: 50%
                        .follow-info
                            color: #1C1C1C
                            .name
                                +nitti
                                font-size: 15px
                                text-transform: uppercase
                                font-weight: 600
                                line-height: 1
                                margin-bottom: 0px
                                color: #1C1C1C
                                text-decoration: none
                            .nickname
                                +arimo
                                font-size: 12px
                    .btn
                        font-size: 15px
                        +nitti
                        padding: 2px 4px
                        font-weight: 400
                        text-transform: uppercase   
                        &__white-border
                            width: 110px
                            height: 22px
                            font-weight: 500
           
#modal-argitrage-good
    .comment-modal
        height: auto
        padding-top: 15px
        &.open
            height: 140px

.hide
    display: none

.modall-mobile-on-bottom
    +r($mobbig)
        width: 100vw
        padding: 0
        .uk-modal-dialog
            width: 100%
            margin-bottom: 0 !important