.notification
  position: absolute
  top: 0
  left: 0
  width: 100%
  background: $gb
  color: $white
  display: flex
  justify-content: center
  align-items: center
  padding: 4px
  transform: translateY(-100%)
  transition: all .2s ease
  z-index: 900
  &.is-active
    transform: translateY(0)
  svg
    width: 9px
    height: 9px
    fill: $white
    margin-left: 7px
    cursor: pointer
    +r($mobbig)
      width: 19px
      height: 19px
      margin-left: 0
  span
    text-align: center


.information-notification
  padding: 11px 8px
  padding-left: 21px
  color: #1c1c1c
  font-size: 16px
  line-height: 1.4
  position: relative
  width: 100%
  margin-bottom: 30px
  &::before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 5px
    height: 100%
    
  &__red
    background: #F2F2F2
    &::before
      background: $orange