.search-full
  width: 100vw
  height: 100vh
  overflow-y: scroll
  *
    box-sizing: border-box
  
  .header__inner
    // padding-top: 77px
    position: relative
    height: 164px
    box-sizing: border-box
    +r($mobbig)
      height: 47px
      box-sizing: content-box
      padding-bottom: 11px
      padding-top: 10px
      &.notification-active
        // padding-top: 63px
      .header__logo
        top: unset
        bottom: -9px
    .uk-modal-close-full
      top: 42px
      padding: 0
      width: 32px
      height: 32px
      border: 2px solid $dark
      color: $dark
      display: flex
      justify-content: center
      align-items: center
      +r($mobbig)
        top: 20px
      svg
        width: 12px
        height: 12px
        line
          stroke-width: 1.8px

.search-full__bar
  position: relative
  width: 100%
  border: 2px solid $dark
  margin-top: 40px
  display: flex
  flex-wrap: wrap
  +r($mobbig)
    width: 100vw
    margin-left: -15px
    margin-top: 0
    padding: 14px 21px 14px 22px
    border: none
    background: #1C1C1C
    border-color: $dark
  &-clear
    margin-left: 17px
    display: flex
    align-items: center
    cursor: pointer
    svg
      fill: $white
  &-input
    font-size: 18px
    +nitti
    color: $dark
    padding: 0 16px
    text-transform: uppercase
    flex: 1
    &::placeholder
      opacity: 1
  &-enter
    flex: 1
    padding: 18px
    padding-bottom: 14px
    display: flex
    flex-wrap: wrap
    +r($mobbig)
      padding-right: 0
      padding: 12px 15px
      background: $white
    &__search
      border: 0
      background: transparent
      &:hover
        border: none
        padding: 0
        margin: 0
      &:focus
        border: 0
        padding: 0
        margin: 0
      svg
        width: 27px
        height: 27px
        +r($mobbig)
          width: 19px
          height: 19px

  &-filter
    
    border-left: 2px solid $dark
    +r($mobbig)
      display: none
    &__button
      font-size: 18px
      +nitti
      color: $dark
      text-transform: uppercase
      padding-left: 42px
      padding-right: 27px
      background: transparent
      border: none
      display: flex
      justify-content: center
      align-items: center
      height: 100%
      &:hover
        border: none
        margin: 0
      &:focus
        border: 0 
        margin: 0
      svg
        width: 19px
        height: 11px
        fill: $dark
        margin-left: 33px
      &.uk-open
        svg
          position: relative
          transform: rotate(180deg)
  &-search
    +r($mobbig)
      display: none
    button
      font-size: 18px
      color: $white
      +nitti
      text-transform: uppercase
      font-weight: bold
      background: $dark
      border: none
      display: flex
      align-items: center
      justify-content: center
      height: 100%
      padding: 0 55px
      &:hover
        border: none
        margin: 0
      &:focus
        border: 0
        margin: 0




.search-full__drop
  width: calc(100% + 4px)
  left: 50% !important
  transform: translateX(-50%) !important
  box-shadow: unset
  border: 2px solid $dark
  padding: 0
  margin: 0
  +r($mobbig)
    display: none
  &-tags
    width: 100%
    display: flex
    border-top: none
    padding: 14px 22px
    border: 2px solid $dark
    border-top: none
    box-sizing: border-box
    overflow-y: auto
    white-space: nowrap
    +r($mobbig)
      display: none
    &__item
      text-transform: uppercase
      font-size: 18px
      +nitti
      color: $dark
      text-decoration: none
      display: flex
      align-items: center
      justify-content: center
      margin-right: 28px
      &:last-of-type
        margin-right: 0
      svg
        fill: $dark
        width: 8px
        flex: 1 0 8px
        max-width: 8px
        height: 8px
        margin-left: 8px
  &-body
    padding: 0
    // border-top: 2px solid $dark
    .uk-grid
      > *
        border-left: 2px solid $dark
        &:first-of-type 
          border-left: none
    &--border-bottom
      border-bottom: 2px solid $dark
    .aside-filter__item-price 
      .aside-filter__item-title
      	padding: 15px 22px

    .aside-filter__item
      border-bottom: 0
      &__dash-top
        border-top: 1px dashed #1c1c1c
    .aside-filter__label
      display: flex
      align-items: center
      .aside-filter__body-checkbox
        margin-top: -2px
    .aside-filter__body-head
      transition: all .2s ease
    .accordion
      .aside-filter__body-body
        padding-top: 0
        .aside-filter__label
          display: flex
          align-items: center
      &.open
        .aside-filter__body-head
          margin-bottom: 14px


.search-full__body
  padding-bottom: 218px
  &--container
    width: calc(100% + 18px) !important
    max-width: calc(100% + 18px) !important
    margin-top: 40px