.nice-select
  +nitti
  padding-right: 16px
  line-height: 1
  height: auto
  &::after
    right: 0
  &:active
    border: none
  &:focus
    border: none
  &.open
    border: none 
    .current
      color: $orange
  .list
    background: #FFFFFF
    border-radius: 0
    border: 1px solid #1C1C1C
    box-sizing: border-box
    padding: 23px 21px
    li
      padding: 0
      font-size: 16px
      line-height: 24px
      text-transform: uppercase
      color: #2F2F2F
      width: 100%
      min-height: 24px
      margin-bottom: 12px
      &:last-of-type
        margin-bottom: 0
      &::after
        display: none
  &.lang-select
    .list
      left: unset
      right: 0
      li
        font-size: 14px