<!-- begin aside-filter__item -->
<div class="aside-filter__item">

  <div class="aside-filter__head ">
    <div class="aside-filter__title">Бренд</div>
  </div>

  <!-- begin aside-filter__body -->
  <div class="aside-filter__body">

    <div class="aside-filter__body-item">
      
      <!-- begin aside-filter__body-search -->
      <div class="aside-filter__body-search">
        <input type="text" class="aside-filter__body-input" placeholder="Искать бренд">
      </div>
      <!-- end aside-filter__body-search -->
    </div>
    {% for item in filter.filterBrand %}
    <!-- BEGIN aside-filter__body-item -->
    <div class="aside-filter__body-item">
      
      <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox" /> <span>{{item.text}}</span> </label>
    </div>
    
    <!-- end aside-filter__body-body -->
    {% endfor %}
  </div>
  <!-- end aside-filter__body -->
  
</div>
<!-- end aside-filter__item -->