<!-- begin aside-filter__item -->
<div class="aside-filter__item">

  <div class="aside-filter__head">
    <div class="aside-filter__title">Категории</div>
  </div>

  <!-- begin aside-filter__body -->
  <div class="aside-filter__body ">

    <div class="aside-filter__body-item">
      
      <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox check-line" /> <span>Все</span> </label>
    </div>

   
    {% for item in filter.filterCat %}
    <div class="aside-filter__body-item">
      
      <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox" /> <span>{{item.text}}</span> </label>
    </div>
    {% endfor %}
    
  </div>
  <!-- end aside-filter__body -->
  
</div>
<!-- end aside-filter__item -->