 <!-- begin aside-filter__item aside-filter__item-price -->
 <div class="aside-filter__item aside-filter__item-price">
    <div class="aside-filter__item-title">Диапазон цены</div>

    <div class="aside-filter__body">
  
      <input type="text" class="aside-filter__item-range js-range-slider-price" name="price_range" value=""
      data-type="double"
      data-min="0"
      data-max="1000"
      data-from="200"
      data-to="500"
      data-grid="false"
      data-prefix= "$"
    />
    </div>


</div>
<!-- end aside-filter__item aside-filter__item-price -->
   <!-- begin aside-filter__item -->
   <div class="aside-filter__item aside-filter__item__dash-top">
    <div class="aside-filter__body-item aside-filter__body-sale">
    
      <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox" /> <span>Только со скидками</span> </label>
    </div>
  
  </div>
  <!-- end aside-filter__item -->