<!-- begin aside-filter__item -->
<div class="aside-filter__item">

  <div class="aside-filter__head">
    <div class="aside-filter__title">Тип</div>
  </div>

  <!-- begin aside-filter__body -->
  <div class="aside-filter__body">

    <div class="aside-filter__body-item">
      
    </div>
    {% for item in filter.filterType %}
    <!-- BEGIN aside-filter__body-item -->
    <div class="aside-filter__body-item">
      
      <label class="aside-filter__label"><input type="checkbox" class="aside-filter__body-checkbox" /> <span>{{item.text}}</span> </label>
    </div>
    
    <!-- end aside-filter__body-body -->
    {% endfor %}
  </div>
  <!-- end aside-filter__body -->
  
</div>
<!-- end aside-filter__item -->