.icon-add {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-arr-right {
  width: 1.45em;
  height: 1em;
  fill: initial;
}
.icon-arrow {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-check-ok {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.icon-chev-b {
  width: 1.44em;
  height: 1em;
  fill: initial;
}
.icon-chev-l {
  width: 0.6em;
  height: 1em;
  fill: initial;
}
.icon-clear {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-delete-t {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-eye {
  width: 1.21em;
  height: 1em;
  fill: initial;
}
.icon-eye2 {
  width: 1.13em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.52em;
  height: 1em;
  fill: initial;
}
.icon-filter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-google {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-hamburger {
  width: 1.71em;
  height: 1em;
  fill: initial;
}
.icon-house {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
.icon-image {
  width: 1.12em;
  height: 1em;
  fill: initial;
}
.icon-info {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-like {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-mail-info {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.icon-message {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-message1 {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-minus {
  width: 4.33em;
  height: 1em;
  fill: initial;
}
.icon-notif {
  width: 0.85em;
  height: 1em;
  fill: initial;
}
.icon-notif1 {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-order {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-paytype {
  width: 0.87em;
  height: 1em;
  fill: initial;
}
.icon-paytypedown {
  width: 0.74em;
  height: 1em;
  fill: initial;
}
.icon-pin {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.icon-plus-b {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-present-info {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-present {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-present2 {
  width: 0.92em;
  height: 1em;
  fill: initial;
}
.icon-protect {
  width: 0.82em;
  height: 1em;
  fill: initial;
}
.icon-save {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-search-modal {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search4 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-send {
  width: 0.93em;
  height: 1em;
  fill: initial;
}
.icon-share {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-social {
  width: 1.1em;
  height: 1em;
  fill: initial;
}
.icon-sort {
  width: 1.58em;
  height: 1em;
  fill: initial;
}
.icon-star-icon {
  width: 1.15em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.icon-upload {
  width: 1.17em;
  height: 1em;
  fill: initial;
}
.icon-vesh {
  width: 1.44em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1.75em;
  height: 1em;
  fill: initial;
}
