.aside-filter
  width: 255px
  +r($mobbig)
    position: absolute
    transform: translateX(-100%)
    width: 100vw
    left: 0
    z-index: 100
    background: $white
    margin-top: -23px
    transition: transform .2 ease
    will-change: transform
    display: flex
    flex-wrap: wrap
    &.is-active
      transform: translateX(0%)
  &__inner
    border: 1px solid #1C1C1C
    border-bottom: none
    +r($mobbig)
      width: 100%
      justify-content: space-between
      align-items: center
      border: none
  &__clear
    padding: 8px 0
    +r($mobbig)
      padding-top: 18px
      padding-bottom: 17px
      width: auto
      margin-left: auto
      padding-right: 22px
      
    a
      text-decoration: none
      color: $orange
      display: flex
      align-items: center
      justify-content: flex-end
      +r($mobbig)
        font-size: 11px
      span
        margin-left: 3px
        text-decoration: underline
      svg
        width: 14px
        height: 14px
        fill: $orange
  &__body
    padding: 26px 22px
    border-top: 1px dashed #1C1C1C
    
    // display: none
    &-sale
      padding: 15px 23px
      padding-bottom: 11px
    &-save
      padding: 15px 23px
      padding-bottom: 11px
      +r($mobbig)
        font-size: 11px
      a
        text-decoration: none
        color: #1C1C1C
        svg
          width: 16px
          height: 16px
          margin-top: -1px
          +r($mobbig)
            width: 13px
            height: 13px
        span
          margin-left: 9px
          text-decoration: underline
    &-item
      margin-bottom: 0px
      display: flex
      flex-wrap: wrap
      margin-top: 0 !important
      &.uk-open
        .icon-chev-b
          transform: rotate(180deg)
    &-search
      width: 100%
      margin-bottom: 23px
    &-input
      background: #FFFFFF
      border: 1px solid #D2D2D2
      box-sizing: border-box
      padding: 9px
      box-sizing: border-box
      width: 100%
      font-size: 12px
      color: $dark
      &::placeholder
        color: $dark
        opacity: 1
    &-select
      background: #FFFFFF
      border: 1px solid #D2D2D2
      box-sizing: border-box
      padding: 9px
      box-sizing: border-box
      width: 100%
      font-size: 12px
      color: $dark
      +arimo
      &.nice-select
        &::after
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 4.2462L8.50016 0.427734L9.5 1.5185L5 6.42773L0.5 1.5185L1.49984 0.427734L5 4.2462Z' fill='%231C1C1C'/%3E%3C/svg%3E%0A")
          width: 9px
          height: 6px
          right: 10px
        .list
          border: 1px solid #D2D2D2
          padding: 13px 15px
          width: 100% !important
          li
            font-size: 12px
        &.open
          border: 1px solid #D2D2D2
          .list
            left: calc(50% - 1px)
            transform: scale(1) translateY(0) translateX(-50%)
        &:focus
          border: 1px solid #D2D2D2
    &-body
      padding-top: 14px
      .aside-filter__label
        margin-bottom: 4px
    &-head
      display: flex
      flex-wrap: wrap
      align-items: center
      padding-top: 13px
      padding-bottom: 0px
      svg
        width: 12px
        height: 7px
        + .aside-filter__body-title
          margin-left: 14px
    &-title
      font-size: 14px
      text-transform: uppercase
      color: $dark
      +nitti
  &__item
    
    margin-top: 0 !important
    border-bottom: 1px solid #1C1C1C
    &.uk-open
      .icon-plus
        fill: transparent
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='2' viewBox='0 0 10 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1.7147V0.286133H0V1.7147H10Z' fill='%231C1C1C'/%3E%3C/svg%3E%0A")
        background-repeat: no-repeat
        background-position: center
    &-save
      border-top: none
      border-left: 1px solid #1C1C1C
      border-right: 1px solid #1C1C1C
      +r($mobbig)
        border: none
        width: auto
        padding-top: 18px
        padding-bottom: 17px
        padding-left: 22px
        margin-right: auto
        > div
          padding: 0
    &-price
      
      border-bottom: 1px dashed #1c1c1c
      .aside-filter__item-title
        padding: 17px 22px
        padding-bottom: 0
        + .irs
          margin-top: -10px
          margin-bottom: 16px
          +r($mobbig)
            margin-top: 0
            // border-top: 1px dashed #1c1c1c
      .irs
        
        &--flat
          height: auto
          +r($mobbig)
            width: calc(100% - 44px)
            margin-left: 22px
          > .irs
            height: 80px
        .irs-from
          height: 30px
          border-radius: 0 !important
          background: #E5E5E5 !important
          color: $dark
          +arimo
          font-size: 14px
          padding-top: 7px
          padding-left: 11px
          padding-right: 11px
          top: unset
          bottom: 0
          margin-left: -9px
          cursor: pointer
          &::before
            display: none
        .irs-single
          height: 30px
          border-radius: 0 !important
          background: #E5E5E5 !important
          color: $dark
          +arimo
          font-size: 14px
          padding-top: 7px
          padding-left: 11px
          padding-right: 11px
          top: unset
          bottom: 0
          cursor: pointer
          &::before
            display: none
        .irs-to
          height: 30px
          border-radius: 0 !important
          background: #E5E5E5 !important
          color: $dark
          +arimo
          font-size: 14px
          padding-top: 7px
          padding-left: 11px
          padding-right: 11px
          top: unset
          bottom: 0
          margin-left: 6px
          cursor: pointer
          &::before
            display: none
        .irs-handle
          top: 24px
          width: 18px
          height: 12px
          

          i
            display: none
            left: 0
            &:nth-child(1)
              display: block
              background-color: transparent
              width: 100%
              height: 100%
              background-image: url("data:image/svg+xml,%3Csvg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 0.768555L18 7.76856L13.5 7.76856L9 11.2686L4.5 7.76856L-3.0598e-07 7.76855L0 0.768554L18 0.768555Z' fill='%231C1C1C'/%3E%3C/svg%3E%0A")
          &.to
            left: 0
            i
              // left: -6px

      .irs-min
        display: none
      .irs-max
        display: none
      .irs-bar
        background: transparent
        height: 7px
      .irs-line
         height: 7px
         border-radius: 0
         background: #D2D2D2
    &-black
      background: #1c1c1c
      border-bottom: 1px solid #fff
      color: $white
      +r($mobbig)
        background: $orange
        input:checked 
          + .uk-switch-slider
            background-color: #fff !important
            border-color: #fff
            &::before
              background: $orange

      .aside-filter__item-title
        color: $white
    &-inner
      padding: 17px 22px
      padding-bottom: 13px
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      align-items: center
    &-title
      +nitti
      font-size: 16px
      text-transform: uppercase
      color: #2F2F2F
  &__title
    +nitti
    font-size: 16px
    text-transform: uppercase
    color: #2F2F2F
  &__head
    padding: 17px 21px
    padding-bottom: 13px
    display: flex
    flex-wrap: wrap
    align-items: center
    cursor: pointer
    .icon
      margin-left: auto
    svg
      width: 10px
      height: 10px
  &__label
    font-size: 14px
    line-height: 2
    color: $dark
    display: flex
    flex-wrap: wrap
    span
      flex: 1
      margin-left: 13px

  input[type="checkbox"]
    width: 16px
    height: 16px
    border-color: #D2D2D2
    margin-top: 4px
    &:checked
      border-color: $black
      

.js-aside-element-show
  &.is-active
    background: #ffffff
    position: relative
    z-index: 500

header
  &.is-active
    background: #ffffff
    position: relative
    z-index: 500