.footer

  margin-top: auto
  &__inner
    width: 100%
    border-top: 2px solid #1C1C1C
    padding-top: 97px
    padding-bottom: 116px
    margin-top: 60px
  &__description
    margin-top: 18px
    p
      margin-top: 0
      color: $dark
      margin-bottom: 13px
      padding-bottom: 0
      font-size: 13px
      a
        color: $dark
        &:hover
          text-decoration: none
          color: $dark
  &__social
    padding-top: 12px
    svg
      fill: $grey3
    .icon-insta
      width: 22px
      height: 22px
    .icon-facebook
      width: 13px
      height: 25px
    .icon-vk
      width: 26px
      height: 15px
    .icon-twitter
      width: 23px
      height: 19px
  &__copyright
    padding-top: 51px
    font-size: 14px
    color: $dark
    font-weight: bold
    span
      font-size: 19px
.social
  display: flex
  flex-wrap: wrap
  &__item
    margin-right: 28px
    &:last-of-type
      margin-right: 0


.footer__search
  width: 100%
  padding-bottom: 40px
  &-form
    display: flex
    flex-wrap: wrap
    .btn
      padding-left: 55px
      padding-right: 55px
  &-input
    flex: 1
    border: 1px solid $dark
    line-height: 40px
    +nitti
    font-size: 20px
    color: #1c1c1c
    padding-left: 20px
    padding-right: 20px

.footer__lists
  padding-left: 28px
  &-title
    font-weight: bold
    text-transform: uppercase
    color: $dark
    padding-bottom: 15px
    padding-right: 15px
    flex: 1 1
  &-list
    margin: 0
    padding: 0
  &-item
    margin-bottom: 8px
    &:last-of-type
      margin-bottom: 0
  &-link
    color: $dark
    &:hover
      text-decoration: none
      color: $dark
      font-size: 13px