.header
  +r($mobbig)
    border-bottom: 1px solid #1C1C1C
    padding-bottom: 11px
    padding-top: 10px
    &.notification-active
      padding-top: 63px
  &__inner
    padding-top: 63px
    padding-bottom: 31px
    display: flex
    flex-wrap: wrap
    align-items: center
    border-bottom: 2px solid #1C1C1C
    +r($mobbig)
      // padding-top: 13px
      padding: 0
      border-bottom: none
      position: relative
      justify-content: space-between
    
  &__logo
    min-width: 300px
    margin-right: auto
    +r($mobbig)
      position: absolute
      top: 50%  
      left: 50%
      transform: translate(-50%, -50%)
      min-width: unset
      height: 43px
      margin-left: auto
      a
        height: 100%
        display: flex
        img
          height: 100%
  &__right
    display: flex
    flex-wrap: wrap
    margin-left: auto
    min-width: 300px
    +r($mobbig)
      min-width: unset
    &-search
      margin-right: 34px
      width: 39px
      height: 39px
      display: flex
      align-items: center
      justify-content: center
      svg
        fill: #4F4F4F
        width: 19px
        height: 19px
    &-top
      display: flex
      justify-content: flex-end
      margin-bottom: 15px
      width: 100%
    &-bot
      justify-content: flex-end
      display: flex
      flex-wrap: wrap
      align-items: center
      width: 100%
    &-present
      margin-right: 27px
    &-mail
      margin-right: 20px
      position: relative
      &::before
        content: ''
        position: absolute
        top: 1px
        right: -2px
        width: 6px
        height: 6px
        border-radius: 50%
        background: #F2521C
    &-user
      position: relative
      margin-left: 24px
      +r($mobbig)
        display: flex
        flex-wrap: wrap
        margin-left: 0
        align-items: center
      .user-notif
        position: relative
        margin-right: 15px
        .num-notif
          width: 18px
          height: 18px
          font-size: 9px
        svg
          fill: $dark
          width: 17px
          height: 20px
      .num-notif
        position: absolute
        right: -7px
        top: -7px
        background: #f2521c
        width: 15px
        height: 15px
        border-radius: 50%
        color: #fff
        font-size: 10px
        font-weight: 700
        display: flex
        justify-content: center
        align-items: center
        border: 2px solid #fff
      .avatar
          width: 35px
          height: 35px
          border-radius: 50%
          border: 3px solid #f2521c
          padding: 2px
          +r($mobbig)
            width: 47px
            height: 47px



.mobile-burger
  width: 48px
  cursor: pointer
  svg
    width: 24px
    height: 14px
    fill: $dark