.mobile-menu
  // background: $white
  width: 100vw
  z-index: 1500
  .uk-offcanvas-bar
    width: 100%
    left: -100%
    background: $white
    padding: 0
  &.uk-open > .uk-offcanvas-bar
    left: 0
  .social__item
    svg
      fill: #A9A9A9
  
  .header__logo
    position: static
    transform: translate(0%,0%)
  &__header
    display: flex
    flex-wrap: wrap
    width: 100%
    justify-content: center
    position: relative
    text-transform: uppercase
    align-items: center
    padding: 15px
    +nitti
    font-size: 20px
    color: #1c1c1c !important
    border-bottom: 1px solid #1c1c1c
  &__close
    display: flex
    position: absolute
    width: 15px
    height: 15px
    left: 15px
    top: 50%
    transform: translateY(-50%)
    svg
      width: 100%
      height: 100%
  &__body
    display: flex
    flex-direction: column
    align-items: center
    padding: 25px 10px
  &__list
    margin: 0
    padding: 0
    margin-top: 22px
  &__link
    font-size: 16px
    text-transform: uppercase
    +nitti
    text-align: center
    color: #1c1c1c !important
    display: flex
    align-items: center
    justify-content: center
    &:hover
      text-decoration: none
      color: #1c1c1c
  &__item
    margin-bottom: 18px
  &__notif
    background: #f2521c
    width: 16px
    height: 16px
    position: relative
    border-radius: 50%
    color: #fff
    font-size: 9px
    font-weight: 700
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    margin-left: 5px


.lang-change__switcher
  display: flex
  justify-content: center
  border: 1px solid #1c1c1c
  margin-bottom: 25px
  margin-top: 5px
  &-item
    text-transform: uppercase
    +nitti
    font-size: 12px
    display: flex
    justify-content: center
    align-items: center
    width: 48px
    height: 25px
    color: #1c1c1c  !important
    &:hover
      text-decoration: none
      color: #1c1c1c
    &.is-active
      color: $white !important
      background: #1c1c1c