.mobile-ser

  &__name
    font-size: 18px
    text-transform: none
    +arimo
  &__header
    margin-bottom: 50px
    &-top
      padding-bottom: 27px
      padding-left: 12px
      padding-right: 12px
      display: flex
      flex-wrap: wrap
      align-items: center
      border-bottom: 1px solid #1c1c1c
      .photo-wrap
        width: auto !important
        height: auto !important
        border: none !important
        padding: 0 !important
        min-width: unset !important
        .user-photo
          position: relative
          .edit-photo
            width: 32px
            height: 32px
            border-radius: 50%
            position: absolute
            right: -13px
            top: 50%
            transform: translateY(-50%)
            background: #f2521c
            box-sizing: border-box
        .avatar 
          width: 100px
          height: 100px
          border-radius: 50%
          border: 4px solid #f2521c
          padding: 2px
      .name
        flex: 1
        padding-left: 23px
      .btn
        font-size: 15px
        font-weight: 400
        padding: 2px 10px !important
    &-item
      display: flex
      flex-wrap: wrap
      border-bottom: 1px solid #1c1c1c
      .rating__item
        padding-top: 20px
        padding-bottom: 20px
        display: flex
        flex-wrap: wrap
        flex-direction: column
      .title-star
        +nitti
        font-weight: 500
        text-transform: uppercase
        +nitti
        font-size: 13px
        color: #1c1c1c
        margin-bottom: 6px
      .rate
        display: flex
        justify-content: flex-end
        margin-bottom: 7px
      .reviews-link
        text-transform: none
        +arimo
        font-size: 12px
        text-decoration: underline
        color: #1c1c1c
        &:hover
          color: #1c1c1c
      .metrics-value_item
        padding-top: 18px
        padding-bottom: 18px
        .num
          +nitti
          font-size: 23px
          font-weight: bold
          text-align: center
          color: #1c1c1c
          line-height: 1
          margin-bottom: 4px
          display: flex
          width: 100%
          justify-content: center
        .title
          display: flex
          width: 100%
          justify-content: center
          +nitti
          font-size: 11px
          color: #1c1c1c
          text-align: center
      .invite-friend
        display: flex
        flex-wrap: wrap
        padding-top: 16px
        padding-bottom: 20px
        img
          width: 36px
          height: 36px
          max-width: 36px
          flex: 1 0 36px
        .title-intive
          position: relative
          top: 3px
          flex: 1
          padding-left: 16px
          display: flex
          flex-wrap: wrap
          span
            display: block
            width: 100%
            font-size: 13px
            font-weight: 500
            line-height: 16px
            margin-bottom: 4px
            text-transform: uppercase
            +nitti
          .link-invite
            +arimo
            color: $orange
            font-size: 11px
            text-transform: none
            text-decoration: underline
            &:hover
              color: $orange
    &-inner
      &-25
        padding-left: 8px
        padding-right: 8px
        width: 25%
        flex: 1 0 25%
        max-width: 25%
        border-left: 1px dashed #1c1c1c
        &:first-of-type
          border-left: none
      &-50
        padding-left: 12px
        padding-right: 12px
        width: 50%
        flex: 1 0 50%
        max-width: 50%
        border-left: 1px dashed #1c1c1c
        &:first-of-type
          border-left: none