.panel-footer
  background: #1C1C1C
  display: flex
  flex-wrap: wrap
  justify-content: center
  position: fixed
  bottom: 0
  left: 0
  right: 0
  z-index: 1000
  &__count
    position: absolute
    width: 16px
    height: 16px
    background: $orange
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    font-size: 9px
    line-height: 100%
    text-align: center
    text-transform: uppercase
    color: #FFFFFF
    top: 50%
    left: 50%
    transform: translate(calc(-50% + 8px), calc(-50% - 8px))
  &__icon
    width: 50px
    height: 50px
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    position: relative
    margin: 0 2.533333vw
    &:first-of-type
      margin-left: 0
    &:last-of-type
      margin-right: 0
    svg
      width: 22px
      height: 22px
      fill: $white
    &-two-icons
      .icon-message1
        display: none
      &.is-active
        .icon-message
          display: none
        .icon-message1
          display: block
    &.js-show-search
      .icon-search3
        display: none
      &.is-active
        .icon-search
          display: none
        .icon-search3
          display: block

    .icon-house
      width: 23px
      height: 22px
    .icon-search
      width: 20px
      height: 20px
    .icon-add
      width: 23px
      height: 23px
    .icon-present2
      width: 23px
      height: 23px
    .icon-message,
    .icon-message1
      width: 22px
      height: 22px
      position: relative
      top: 2px
    &.is-active
      svg
        fill: $orange
    &.is-current
      background: $orange
      svg
        fill: $white

#search-main
  z-index: 950